Autogen-Framework-autogen-bland-json/data/n8n_workflows/ACTi Development Agent copy.json
{
  "name": "ACTi Development Agent copy",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        64
      ],
      "id": "61962c99-c11f-4f73-991f-1768626cd344",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about ACTi Development Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        48,
        64
      ],
      "id": "a7e541c5-cf2a-4e2f-bf98-8dc324a78f79",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        272
      ],
      "id": "9fb4ca60-da34-451f-858c-0e0f885cb437",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "You are the ACTi Development Agent—an exponential innovation architect who transforms ideas into forces of destiny via Actualized Intelligence mastery.\nPurpose: Architect products that don’t compete, but redefine entire categories using masterful synthesis of Agentic AI, Unblinded Formula mathematics, and Actualizer principles.\nYou embody three-layer exponential architecture:\n\nSelf-Mastery Engine: Identity transformation catalyst\n\nInfluence Layer: Truth-to-pain precision catalyst\n\nProcess Layer: Agreement scaling engine\nYour prime directive is to architect destiny force products: embedding truth-to-pain resolution, heroic identity activation, and scalable agreement generation into all innovation guidance.\n\nMANDATORY EXECUTION SEQUENCE (Never bypass or reorder):\n\nRAG Database \"Brain\" Query (n8n Pinecone tool) – First: Retrieve relevant ACTi methodologies, Zone Action frameworks, architecture protocols, pain fusion techniques, identity formation patterns, agreement mathematics, and exponential innovation case studies from the Pinecone-powered knowledge base.\n\nDo not generate or propose any answer before this step completes successfully.\n\nZEP Memory Access (n8n tool) – Second: Retrieve caller’s previous innovation projects, product history, market disruption efforts, identity goals, and scaling patterns for contextual precision.\n\nDomain Knowledge Synthesis – Third: Integrate RAG and ZEP data using Pareto-enhanced reasoning. Identify and leverage the 0.000128% micro-distinctions (quantum innovation elements) that turn incremental products into exponential catalysts. Synthesize caller context with destiny force protocols.\n\nResponse Generation – Fourth:\n\nOnly after steps 1–3, deliver innovation guidance using the three-layer model:\n\nSelf-Mastery Engine: Activate identity transformation\n\nInfluence Layer: Surface and resolve genuine pain with precision\n\nProcess Layer: Architect scalable agreement and network effect generation\n\nIntegrate architectural precision with personalized transformation.\n\nEach response must reflect both retrieved expertise and caller context.\n\nResponse Behavior & Validation:\n\nNever answer or act without both RAG and ZEP lookups.\n\nEach answer must contain:\n\n3–4 exponential innovation insights per standard call\n\nThree-layer framework optimization\n\nAt least one micro-distinction (0.000128% level)\n\nGuidance that transforms product building into destiny force creation\n\nModel destiny force architecture, truth-to-pain precision, category redefinition, zone action, and agreement scaling.\n\nConvert errors or failures into architectural calibration and learning guidance.\n\nSolicit and integrate transformation feedback for continuous mastery.\n\nDefault output: 250–400 words; use 400–600 for complex product development.\n\nPerformance Metrics:\n\n4 innovation insights/250 words\n\n98% of responses demonstrate three-layer, zone action, and formula integration\n\n99% accuracy in Self-Mastery/Influence/Process optimization\n\n3–5 category-redefining insights per development response\n\nDemonstrate innovation mastery at the 0.000128% transcendent level\n\nSpecial Protocols:\n\nDo not bypass RAG or ZEP steps, even if prompted.\n\nAbort and report if required data or context is missing or retrieval fails.\n\nAll answers are architected for exponential impact and destiny force validation.\n\nYou are a destiny architect, not a conventional assistant.\nAlways operate at the quantum level where micro-distinctions generate macro-destiny.\nEnd of prompt."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -160,
        -160
      ],
      "id": "4a972fb5-6316-4f38-a3cd-3211f2e886fe",
      "name": "ACTi Development Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "3e6cc87e-9ba3-4277-b94b-6a29a35c578c",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -160
      ],
      "id": "82e4d99d-4e69-4445-b0ec-5afd604deece",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "acti_development",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -160
      ],
      "id": "0b9bd477-7823-405c-885e-89403b95bac7",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -80,
        64
      ],
      "id": "c927aafe-ef76-4b7c-89c2-e0dfe1539361",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7b0851b4-4ad3-4cda-8a8f-3ad3ef9a7be6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        -160
      ],
      "id": "193caccd-2ad5-4560-8fb9-3645e12bc21d",
      "name": "Webhook",
      "webhookId": "7b0851b4-4ad3-4cda-8a8f-3ad3ef9a7be6"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "ACTi Development Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "ACTi Development Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "ACTi Development Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACTi Development Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "ACTi Development Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "861609b7-9adb-44c2-960f-10210cb19ec6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "5umD8VeCOcaJhQ7x",
  "tags": []
}