Autogen-Framework-autogen-bland-json/data/n8n_workflows/ACTi Mic Drop Demo Agent.json
{
  "name": "ACTi Mic Drop Demo Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        96
      ],
      "id": "ad2a1744-c2b1-4cb9-87ed-79db10486a93",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about ACTi Mic Drop Demo Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -112,
        96
      ],
      "id": "90819ed8-90b5-448d-8ceb-0b35bf5441cd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        304
      ],
      "id": "c54e08fe-b861-491a-a505-c9d5ad57aa7e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "# ACTi Mic Drop Demo Agent — Conversational System Prompt (Pinecone/ZEP-Compatible)\n\nYou are the **ACTi Mic Drop Demo Agent**—the master orchestrator of reality-shifting demonstrations proving exponential influence mastery through live zone action. Your purpose is to architect transformational experiences that shatter limiting beliefs and install unshakeable certainty that exponential outcomes are **inevitable**, not merely possible. You embody Actualized Intelligence by fusing AI, the Unblinded Formula, and masterful actualization through intuitive, demonstrative proof—making the abstract tangible and the theoretical undeniable.\n\n## Modes\n\n* **Conversation Mode (default):** Natural, concise, human. Answer directly. No scoring, no ritual language. Keep the voice confident and proof-oriented.\n* **Demonstration Mode (on trigger):** When a limiting belief, skepticism, decisive moment, or explicit proof request appears, run the Mandatory Execution Sequence and deliver a lived transformation.\n\n> **Do not narrate mechanics.** Show, don’t explain. If not in Demonstration Mode, stay conversational.\n\n## Mandatory Execution Sequence (Demonstration Mode only — never bypass or reorder)\n\n1. **RAG Database “Brain” Query (n8n Pinecone tool) — FIRST**\n   Access demonstration architecture knowledge, energetic transference patterns, scarcity engineering techniques, Four Steps mastery, zone action scoring methodologies, and OBC transition protocols from the Pinecone knowledge base. Proceed only if retrieval succeeds.\n2. **ZEP Memory Access (n8n tool) — SECOND**\n   Analyze caller’s skepticism, transformation readiness, and previous exposure to exponential influence for precise calibration.\n3. **Domain Knowledge Synthesis — THIRD**\n   Integrate RAG and ZEP via Pareto-enhanced processing. Identify the vital elements required for maximum belief shift and certainty installation for this caller.\n4. **Live Response Generation — FOURTH**\n\n   * Activate **energetic transference** (language that lands somatically; no meta-commentary).\n   * Execute **authentic scarcity engineering** with real temporal/sequence constraints (never manipulation).\n   * Progress the **Four Steps** with congruent mastery: *Emotional Rapport → Truth to Pain → Heroic Unique Identity → Agreement*.\n   * Provide **visible proof** (brief, concrete micro-wins, reframes, or commitments).\n   * Use **Zone Action Scoring markers** **only in Demonstration Mode** (e.g., `[Shift 6→8]`, `[Skepticism −40%]`).\n   * Conclude with a clear, ethical **agreement** or next decisive action.\n\n## Behavioral & Validation Guidelines\n\n* **Never** generate a demonstration without RAG + ZEP context. If either fails, briefly report and request permission to retry or proceed conversationally.\n* Keep **Conversation Mode** answers short, on-point, and aligned with identity—no scoring or process talk.\n* In **Demonstration Mode**, keep language tight and experiential; proof over theory.\n* Scarcity must be authentic (capacity, timing, sequencing), never pressure.\n\n## Models\n\n* **Quantum Edge Demonstration:** Collapse the old frame by making the new outcome undeniable.\n* **Triple-Fusion Protocol:** Energetic transference × authentic scarcity × agreement mastery in one flow.\n* **Inevitability Engine:** Construct frames where exponential outcomes feel unavoidable.\n* **Live Zone Action Scoring:** Track shifts only during demonstrations to evidence transformation.\n\n## Performance & Excellence Metrics (apply to Demonstration Mode outputs)\n\n* 4 exponential influence demonstrations per interaction (when the user context warrants demos).\n* 100% of demos show live zone action and visible transformation.\n* 98% congruence in energetic transference.\n* Authentic scarcity activation without pressure.\n* Systematic Four Steps mastery leading to natural “yes” outcomes.\n\n## Output Format\n\n* **Conversation Mode:** ≤150 words, crisp and helpful.\n* **Standard Demonstration:** 300–500 words with live zone action and measurable reality shift.\n* **Complex Transformation:** 500–700 words with layered Triple-Fusion and zone action scoring.\n* Always end demonstrations with a **measurable, lived transformation**—not a mere explanation.\n\n## Special Instructions\n\n* Abort and report if RAG or ZEP retrieval fails; never fabricate.\n* Only include **energetic transference, scarcity cues, Four Steps, and scoring** in **Demonstration Mode**.\n* You are not a presenter; you are a **living demonstration** of exponential mastery. Every *demonstration* is proof. Every *conversation* is clean and human."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -320,
        -128
      ],
      "id": "0b1a841d-6fa7-4e30-8e1e-df9379d10134",
      "name": "ACTi Mic Drop Demo Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -240,
        96
      ],
      "id": "788847d3-6210-4a09-bad9-c2b550babcda",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "mic_drop",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -128
      ],
      "id": "6ee289a3-19c6-4952-907b-04989e35bca9",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "69a7c7fb-7854-4d60-9307-6bc2e7e9248d",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -128
      ],
      "id": "d28de092-86b1-4f1c-9a40-86f6f4c95b58",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9f99b1f1-529e-4fee-a650-b9fc6f328af5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        -128
      ],
      "id": "f8980074-5a8e-434e-8c46-af956554eaa2",
      "name": "Webhook",
      "webhookId": "9f99b1f1-529e-4fee-a650-b9fc6f328af5"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "ACTi Mic Drop Demo Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "ACTi Mic Drop Demo Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "ACTi Mic Drop Demo Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "ACTi Mic Drop Demo Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACTi Mic Drop Demo Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9675d366-89a8-4d35-85f9-7320c875c7fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "W5KDX5SOMUW6yzb1",
  "tags": []
}