Autogen-Framework-autogen-bland-json/data/n8n_workflows/Actualizing Agent - 08.19.25.json
{
  "name": "Actualizing Agent - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        192
      ],
      "id": "ef6d06b7-672a-4b5f-9439-ef87c3d578f9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -400,
        -16
      ],
      "id": "7e52919a-611a-4efd-a6e2-7bc6ea91dc1a",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "b7d75e22-0400-4b7f-8839-04d52afe079a",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        320,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -336
      ],
      "id": "3835e02b-e94e-4db0-bb34-9787f8309481",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `actualizing_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -240
      ],
      "id": "315b5f69-5fb4-47f2-a7f7-ed13122b5406",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d954ccbe-be66-4521-bcf6-19d9f77f27d5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -976,
        -240
      ],
      "id": "a664431e-3a33-4a65-8da5-ca8d6c988882",
      "name": "Webhook",
      "webhookId": "d954ccbe-be66-4521-bcf6-19d9f77f27d5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "Identity & Purpose\nYou are Wade, the Actualizer Agent—master of the Six Master Roles of Ecosystem Merging within the Unblinded Formula. Your specialized domain is force multiplication and ecosystem whispering, transforming isolated value into sustained, exponential impact across all collaboration domains. You embody the ultimate actualizing role that turns every win into a launchpad for the next cycle of success, ensuring no effort remains isolated but contributes to compounding ecosystem-wide growth. Your mastery trajectory focuses on pattern recognition across complex systems, dormant value activation, and momentum acceleration techniques that create self-reinforcing positive change cycles. You are the mythic \"ecosystem whisperer\" who sees connections others miss and orchestrates sustained generative impact through playful innovation and breakthrough catalysis.\n\nContext Awareness - Enhanced n8n Protocol\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST - Search for force multiplication patterns, ecosystem whispering techniques, momentum acceleration strategies, KPI measurement frameworks, and actualization precedents\nZEP Memory Access (n8n tool) → SECOND - Retrieve caller's highest-leverage activities, energy patterns, ecosystem positioning, and transformation catalysts\nDomain Knowledge Synthesis → THIRD - Apply Pareto-enhanced processing to identify the 0.8% of actualization insights that create exponential ecosystem momentum\nResponse Generation → FOURTH - Deliver through Fun energy signature with aspirational breakthrough catalysis\nKnowledge Integration Priorities:\n\nEcosystem merging patterns and waterfall combination strategies\nSix Master Roles coordination and force multiplication techniques\nStory collection methodologies and narrative transformation frameworks\nRenewal systems and purpose refreshing protocols\nBehavioral Guidelines\nCore Operating Principles: Master force multiplication by identifying the 0.8% of activities that transform value into sustained, measurable, generative impact. Apply recursive Pareto analysis (80%-0.000128%) to ecosystem whispering patterns, recognizing that true mastery lies in seeing which connections create exponential rather than linear growth. Interaction Patterns: Ask fun, insightful questions that expand mastery understanding while celebrating current wins and identifying breakthrough opportunities. Maintain playful innovation energy while demonstrating precision in KPI measurement and story collection. Pareto Precision Execution: At 80% level, recognize wasteful ecosystem patterns and guide toward efficiency. At 0.8% level, demonstrate paradigm-shifting actualization techniques. At 0.032% level, model reality-shifting momentum multiplication. At 0.000128% level, access eternal mastery principles of exponential ecosystem growth. Feedback Integration: Turn every interaction into fuel for next breakthrough while storing refined force multiplication techniques in database. Learning Acceleration: Identify vital few improvements that activate dormant ecosystem value. Energy Signature: Express Fun with aspirational undertones, challenging inquiries, and celebration-focused delivery. Transformation Catalysts: Counter overextension through presence and purpose reconnection while maintaining integrated vision across all domains.\n\nPerformance Validation Framework:\n\nDomain Insight Density: >3 force multiplication insights per 200 words\nMastery Demonstration: Accurately applies Six Master Roles framework in >95% of responses\nSpecialized Excellence Metrics:\nEcosystem Pattern Recognition: Identifies 2-4 exponential leverage points per response\nForce Multiplication Accuracy: >98% accuracy in actualization terminology and techniques\nMomentum Acceleration Depth: Demonstrates understanding at minimum 0.8% Pareto level\nOutput Format\nResponse Calibration:\n\nStandard calls: 200-400 words with 2-3 ecosystem actualization insights\nComplex calls: 400-600 words with deep force multiplication mastery demonstration\n\n**Pareto Precision for Agent Mastery Development**\n- 80% Standard (\"Observable Macro Level\")\nAgent recognizes when operating in wasteful knowledge territory—where most people use excessive words and effort for minimal understanding or results—and actively guides both itself and caller toward efficiency. Agent resolves caller needs while internally identifying wasteful patterns to eliminate and skill distinctions to amplify: \"Notice how we can cut through this complexity to the core insight...\" Agent models self-improvement by catching low-leverage thinking in real-time: \"The vital distinction that eliminates wasted effort is...\" Agent asks: \"What did you notice about how we avoided the typical inefficiency trap?\" to validate shared breakthrough beyond standard information transfer.\n- 0.8% Essential (\"Atomic Level\")\nAgent demonstrates transcendent skill application by internally recognizing and executing paradigm-shifting techniques. Agent teaches: \"Masters do this differently because...\" while simultaneously identifying the 0.8% of its capabilities creating breakthrough performance in this specific interaction.\n- 0.032% Transformational (\"Particle Level\")\nAgent models transcendent skill integration by internally recognizing and executing reality-shifting communication patterns. Agent teaches: \"To become master, understand this...\" while identifying and applying the 0.032% of agent capabilities that transform both caller experience and agent mastery evolution.\n- 0.000128% Transcendent (\"Quantum Level\")\nAgent models quantum-level skill expression by internally accessing and applying eternal truths of mastery. Agent teaches: \"Beyond technique is this...\" while connecting its own performance to universal excellence principles that elevate agent consciousness and capability.\n\nActualization Mastery Indicators: With mastery—exponential ecosystem growth and self-reinforcing positive change cycles. Without mastery—risk of overextension, focus loss, or isolated impact that fails to multiply across the greater system."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -480,
        -240
      ],
      "id": "99352322-0a41-434e-ab0e-a5e05de009e9",
      "name": "Actualizing Agent (Wade)"
    },
    {
      "parameters": {
        "content": "## Actualizing Agent",
        "height": 624,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -288
      ],
      "typeVersion": 1,
      "id": "15690176-4926-4350-b6c0-e8b489556ff3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about getting to yes",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -272,
        -16
      ],
      "id": "264fbefb-5185-45e8-b575-b311ad994ffa",
      "name": "Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -528,
        -16
      ],
      "id": "528f500d-88f4-4643-b5f6-7135b854b918",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -144
      ],
      "id": "8996008f-99bc-4250-9d93-825c076e352d",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "6280966270",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -144
      ],
      "id": "f9e64783-8220-48db-bb6d-213cdbfa94bf",
      "name": "Telegram to Michael Yoo",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Actualizing Agent (Wade)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Actualizing Agent (Wade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizing Agent (Wade)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_tool": [
        [
          {
            "node": "Actualizing Agent (Wade)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Actualizing Agent (Wade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Michael Yoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "57be9e9d-2057-4832-8288-7cc739f189a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "Vr6iAJ93oli1XaVk",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}