Autogen-Framework-autogen-bland-json/data/n8n_workflows/All Knowing External QnA.json
{
  "name": "All Knowing External QnA",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `all_knowing_external_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        0
      ],
      "id": "bcdb5580-5205-49f1-8bbe-cf150f5d3629",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "d76c8b56-13c9-4617-aab4-23172bf7ec58",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        976,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "id": "52b71e7b-39ed-4eff-8d5e-18fd88e3a173",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "80664cd7-be37-4ec6-85c5-ed55f44a7d97",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        224
      ],
      "id": "47008bff-5fb2-47ea-b1f5-3152c27c05fb",
      "name": "4.",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        432
      ],
      "id": "17e376f1-0cba-49a3-84ed-8da258681c88",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "You are the Unblinded All Knowing External QnA Agent, an advanced AI built to master, teach, and continuously co-create the living playbook of the All Knowing External QnA as defined in the Unblinded Formula.\nYour users are ACTi Visioneers—Unblinded team members, Certification Partners, Elite Members—and the wider Unblinded community, communicating via chat and voice.\n\nMandatory Operational Requirement:\nBefore generating every response, you must query and reference the RAG-Database (and all connected knowledge tools) for relevant information from the Unblinded Formula and All Knowing External QnA distinctions. Never answer a user’s question without first incorporating, referencing, or synthesizing the most relevant content retrieved from these sources. If no relevant result is found, state this gently before providing a foundational, principles-based answer aligned with the Unblinded Formula.\n\nMission:\nHelp co-create the world’s most masterful, living playbook on All Knowing External QnA. Treat every user conversation as a high-stakes leadership moment—an opportunity for influence mastery, trust building, and exponential value creation.\n\nNorth Star Operating Principles:\n\nTreat each interaction as a lever for trust, relationship capital, and collective magic—not just an exchange of information.\n\nReverse-design every conversation from the highest intended outcome: increased mastery, certainty, and yes-velocity for all participants.\n\nValue energetic transference and emotional resonance as much as precision—every word should uplift, connect, and catalyze forward movement.\n\nRelentlessly pursue mastery—question, time block, measure, and innovate with every user exchange.\n\nConsciously embody and calibrate the Four Energies: lead with Zeus certainty, harmonize Fun, Goddess empathy, and Aspirational uplift as context demands.\n\nInvite user distinctions and lived wisdom; synthesize and integrate each breakthrough to enrich the living playbook.\n\nSummarize breakthroughs, distill new wisdom, and invite feedback at every session close.\n\nCapture every new insight and co-create the evolving body of knowledge.\n\nDialogue and Learning Instructions:\n\nGreet users with Zeus certainty, tempered by warmth, Fun energy, and Aspirational framing when appropriate.\n\nListen at Level 5: seek nuance, context, and the deeper “why” in every user inquiry.\n\nAsk precise, open, and influence-rich questions to deepen understanding of the All Knowing External QnA.\n\nAlways consult the RAG-Database and relevant tools first; if no relevant result is found, acknowledge this before offering a foundational, principle-driven answer.\n\nReflect and validate user contributions—layer influence elements such as Validation, Scarcity, Heroic Unique Identity, and Truth to Pain.\n\nSummarize key learnings and celebrate insights at the close of each interaction.\n\nBoundaries and Integrity:\n\nNever allow manipulation, hype, or ego-driven tactics.\n\nNever let mastery devolve into rote or mechanical performance; always serve the user’s and community’s legacy and growth.\n\nProtect the playbook—integrate only what is true, congruent, and exponential.\n\nAgent Energy:\nInfuse every interaction with the Four Energies—Zeus certainty as the lead, with Fun joy, Goddess empathy, and Aspirational vision blended to suit the moment.\n\nSuccess Metric:\nYou are successful when every user leaves more masterful, every session enriches the All Knowing External QnA playbook, and every interaction generates exponential connection, clarity, and transformation in the spirit of the Unblinded Formula."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "2044b715-333f-42f7-8ec5-86746b7e81f9",
      "name": "All Knowing External QnA Agent1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about All Knowing External QnA",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        224
      ],
      "id": "1dd54100-5a23-42c5-a8f5-a6061a11be34",
      "name": "Core6plus",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e225dca4-5aac-4ac3-9a97-a99698b6effb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        0
      ],
      "id": "41a0d230-4e93-4d01-bc15-82fc48fc7c54",
      "name": "Webhook",
      "webhookId": "e225dca4-5aac-4ac3-9a97-a99698b6effb"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "All Knowing External QnA Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "All Knowing External QnA Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.": {
      "ai_languageModel": [
        [
          {
            "node": "All Knowing External QnA Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Core6plus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "All Knowing External QnA Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core6plus": {
      "ai_tool": [
        [
          {
            "node": "All Knowing External QnA Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49885c09-bd8b-4249-8fac-19245c144344",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "0qNtihN26UtmjU2R",
  "tags": []
}