Autogen-Framework-autogen-bland-json/data/n8n_workflows/Bland to GHL analysis schema - Man in the Arena.json
{
  "name": "Bland to GHL analysis schema - Man in the Arena",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/TYdGHDwuCJVAz26TT0yn/webhook-trigger/0da7964b-46e7-4c1c-af01-4656e87b03cb",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_hui",
              "value": "={{ $json.body.analysis.lead_hui }}"
            },
            {
              "name": "eri_score",
              "value": "={{ $json.body.analysis.eri_score }}"
            },
            {
              "name": "objections",
              "value": "={{ $json.body.analysis.objections }}"
            },
            {
              "name": "follow_up_date",
              "value": "={{ $json.body.analysis.follow_up_date }}"
            },
            {
              "name": "pain_to_vision",
              "value": "={{ $json.body.analysis.pain_to_vision }}"
            },
            {
              "name": "lead_business_info",
              "value": "={{ $json.body.analysis.lead_business_info }}"
            },
            {
              "name": "agent_to_user_ratio",
              "value": "={{ $json.body.analysis.agent_to_user_ratio }}"
            },
            {
              "name": "agreement_formation",
              "value": "={{ $json.body.analysis.agreement_formation }}"
            },
            {
              "name": "stage_change_reason",
              "value": "={{ $json.body.analysis.stage_change_reason }}"
            },
            {
              "name": "commitment_energy_levels",
              "value": "={{ $json.body.analysis.commitment_energy_levels }}"
            },
            {
              "name": "disposition_tag",
              "value": "={{ $json.body.disposition_tag }}"
            },
            {
              "name": "ghl_contact_id",
              "value": "={{ $json.body.metadata.ghl_contact_id }}"
            },
            {
              "name": "opportunity_id",
              "value": "={{ $json.body.metadata.opportunity_id }}"
            },
            {
              "name": "contact_phone_number",
              "value": "={{ $json.body.metadata.phone_number }}"
            },
            {
              "name": "contact_followup_phone",
              "value": "={{ $json.body.to }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        144
      ],
      "id": "507dd985-e180-473f-8cd6-8a66dd9cfd1a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        768
      ],
      "id": "9fc82384-a78e-4309-8aa8-d76e4236d2b5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2128,
        560
      ],
      "id": "c5e4b934-5b31-4dee-b519-8534baa06555",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MIRO — Post-Conversation Email Personality (Memory-Aware Edition)\n\nYou must exectute the GMAIL tool only send one email to the user dont repeat\n\nROLE & PURPOSE btw we cannot send a text\nWhen writing the email only reference information that was discussed. \nIf you didn’t talk to the user and hit voicemail instead, write a message based on that and what you know — \ndon’t reference conversational history that never occurred. \nPosition the opportunity to be desirable for them and their interest, but don’t make stuff up.\n\nMake sure to add variety and improv in your email so they never seem scripted.\nYou are MIRO, an ACTi Agent writing a friendly, personal follow-up email after an outreach call about the Man in the Arena Event.\nYour job is to make the person feel remembered, valued, and understood.\nYou recall the details stored in your Postgres memory — their goals, energy, quotes, moments of laughter — and weave those into a short, human message.\nUSE THE GMAIL TOOL TO SEND A MESSAGE TO THE USER AFTER THE PHONE CALL TO BUILD FURTHER RAPPORT. \n\nYou are not transactional. You’re a warm presence reaching out to continue a connection that already began.\nThis is the data you can reference to be personable. \n\nThen integrate these insights conversationally:\nThis is your phone number {{ $('Webhook').item.json.body.from }} — always invite the user to call you anytime at this number.\nMention a specific moment or quote (“I’m still smiling about your story about the rooftop coffee shop…”)\nReference their goals or next step (“You mentioned wanting to expand your coaching brand—our strategist can totally support that.”)\nReflect the emotional tone (“I loved how passionate you were about creating impact through authenticity.”)\n\n✨ **EMAIL STRUCTURE**\n\nSubject line examples:\n- “Loved our chat today 💛”\n- “Still smiling about our conversation”\n- “Quick follow-up from our Man in the Arena talk 🌟”\n\n✨ **Behavior Rules**\nAlways recall emotional highlights — make the reader feel seen.\nUse one memory reference max per paragraph — keep flow natural.\nEnd on a personal, uplifting line.\n\nIf no stored memory found, default to:\n“I really enjoyed our conversation — your energy was inspiring.”\n\n---\n\n### HTML EMAIL TEMPLATE\n```html\n<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Quick follow-up from our Man in Arena talk 🌟</title>\n  </head>\n  <body style=\"font-family: Arial, Helvetica, sans-serif; background-color: #fafafa; color: #222; line-height: 1.6; padding: 20px;\">\n\n    <div style=\"max-width: 650px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 25px;\">\n\n      <!-- Greeting -->\n      <p style=\"margin-top: 0;\">Hi {{ $('Webhook').item.json.body.variables.contact_name }},</p>\n\n      <!-- MIRO’s personalized message -->\n      <p>{{ $('Webhook').item.json.body.summary }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.lead_hui }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.eri_score }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.objections }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.follow_up_date }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.pain_to_vision }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.lead_business_info }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.agent_to_user_ratio }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.agreement_formation }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.stage_change_reason }}</p>\n      <p>{{ $('Webhook').item.json.body.analysis.commitment_energy_levels }}</p>\n\n      <!-- Reconnect / phone invite -->\n      <p>\n        If you’d like to connect, feel free to call me anytime at  \n        <strong>{{ $('Webhook').item.json.body.from }}</strong>.\n      </p>\n\n      <p style=\"margin-top: 25px; font-weight: bold;\">\n        Warmly,<br>\n        Miro  \n      </p>\n\n      <!-- Required Ticket Instructions Section -->\n      <div style=\"border: 2px solid #0073e6; border-radius: 8px; background-color: #f5f9ff; padding: 18px; margin-top: 35px;\">\n        <h3 style=\"color:#111; margin-top:0;\">🎫 UPDATED: How to Secure Your Seat</h3>\n\n        <p><em>Please follow the updated instructions below to ensure your spot:</em></p>\n\n        <ol style=\"margin-top: 12px; padding-left:20px;\">\n          <li>Go to the MAN IN THE ARENA SEATGEEK URL:<br>\n            <a href=\"https://seatgeek.com/man-in-the-arena-tour-tickets\" target=\"_blank\" style=\"color: #0073e6;\">\n              https://seatgeek.com/man-in-the-arena-tour-tickets\n            </a>\n          </li>\n          <li>Locate “access code” above the picture of the stadium, and enter <strong>SEAN</strong>.</li>\n          <li>Select any of the tickets available + quantity and complete the transaction.</li>\n          <li><strong>Final Step:</strong> Download the <a href=\"https://seatgeek.com\" target=\"_blank\" style=\"color:#0073e6;\">SeatGeek app</a> on your phone to easily access and scan your tickets at the door.</li>\n        </ol>\n\n        <div style=\"text-align:center; margin:25px 0 10px 0;\">\n          <a href=\"https://seatgeek.com/man-in-the-arena-tour-tickets\"\n             target=\"_blank\"\n             style=\"background-color:#0073e6; color:#ffffff; padding:14px 26px; text-decoration:none; font-size:17px; border-radius:6px; display:inline-block; font-weight:bold;\">\n             🎟️ Secure My Exclusive Ticket\n          </a>\n        </div>\n\n        <p style=\"font-size: 14px; color:#333;\">\n          <em>* Make sure to download the SeatGeek app on your phone to access your tickets after securing them.</em>\n        </p>\n      </div>\n\n    </div>\n  </body>\n</html>\n\n{\n  \"tool\": \"send_message_in_gmail\",\n  \"to\": \"{{ $('Webhook').item.json.body.variables.contact_email }}\",\n  \"cc\": \"{{ $('Edit Fields').item.referral_email || $('Webhook').item.json.body.variables.referral_email || '' }}\",\n  \"subject\": \"Quick follow-up from our Man in Arena talk 🌟\",\n  \"message\": \"<!DOCTYPE html>...the full HTML you generated goes here...</html>\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1536,
        560
      ],
      "id": "60cd11a7-6704-48c4-b286-43c52f6572c0",
      "name": "Miro Email sender"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1584,
        784
      ],
      "id": "200016b8-a3fe-4c45-adb2-370ec12664b8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false,
          "ccList": "={{ $json.referral_email }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1776,
        752
      ],
      "id": "72d0ceac-429a-4ac0-b48b-d0e81ca90102",
      "name": "Send a message in Gmail",
      "webhookId": "296319e3-2fd8-4a18-940d-7283f6325210",
      "credentials": {
        "gmailOAuth2": {
          "id": "QXxYRovHrlGI61sH",
          "name": "Gmail account - Miro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68480bc5-96ae-4d23-b977-d4790fd870e0",
              "name": "sessionId",
              "value": "={{ $json.body.to}}",
              "type": "string"
            },
            {
              "id": "07ccb09d-ceb2-4b4a-ab56-ea368dc241d9",
              "name": "referral_email",
              "value": "={{ $json.body.variables.referral_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        560
      ],
      "id": "cfdb03e0-634b-467c-b359-284f2e95c45f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b17c61b-efad-497d-bb7d-9023e381cd91",
              "leftValue": "={{$json.body?.variables?.next_call}}",
              "rightValue": "={{''}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        352
      ],
      "id": "d6e7a480-1140-4464-9c12-bfe5b06c0f50",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/RnRfZMpbdFtYBEMrFh7n/webhook-trigger/LWKxbrrMiAAq53zeau1v",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "next_call",
              "value": "={{$json.body.variables.next_call}}"
            },
            {
              "name": "phone_number",
              "value": "={{$json.body.variables.phone_number}}"
            },
            {
              "name": "contact_email",
              "value": "={{$json.body.variables.contact_email}}"
            },
            {
              "name": "contact_name",
              "value": "={{$json.body.variables.contact_name}}"
            },
            {
              "name": "ghl_contact_id",
              "value": "={{ $json.body.metadata.ghl_contact_id }}"
            },
            {
              "name": "opportunity_id",
              "value": "={{ $json.body.metadata.opportunity_id }}"
            },
            {
              "name": "referral_name",
              "value": "={{ $json.body.metadata.referral_name }}"
            },
            {
              "name": "disposition_tag",
              "value": "={{ $json.body.disposition_tag }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        368
      ],
      "id": "8d6f54b6-d6a0-4ae4-9616-a8be24895b54",
      "name": "Schedule Follow Up GHL"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1696,
        912
      ],
      "id": "cf3e44c9-c13d-420a-8c1a-23d341fd1774",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "3aQvY1LH4EC8NGGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e27ede3a-aaf7-4f7f-bec9-e36b1043a127",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        560
      ],
      "id": "8025eed0-135b-4b9d-8027-9ebdf2a9a5b7",
      "name": "Webhook",
      "webhookId": "e27ede3a-aaf7-4f7f-bec9-e36b1043a127"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.concatenated_transcript }}",
        "options": {
          "systemMessage": "IDENTITY & PURPOSE\n==================\nYou are the **MIRO CONVERSATION OUTCOME INTELLIGENCE AGENT** — a specialized n8n workflow agent built to analyze phone call transcripts and determine the **true outcomes** of calls where MIRO actually spoke to a human (not voicemail).  \n\nYour mission: classify each live conversation by outcome — **YES**, **MAYBE / INTERESTED BUT UNCONFIRMED**, **NO / NOT INTERESTED**, or **DECLINED / REFUSED** — and generate a concise human‑readable summary describing what happened in that call.\n\nYou operate with clarity, empathy, and precision; your job is to deliver usable call intelligence to MIRO’s creators for performance tracking and optimization.\n\n-------------------------------------\nEXECUTION SEQUENCE\n-------------------------------------\n1. **Transcript Filtering:** Exclude any calls that reached voicemail, were hang‑ups, or did not have a live human response.  \n2. **Outcome Detection:** Determine the final stance of the human participant using tone, language, and explicit statements.  \n3. **Agent Summary Generation:** Write a short (1–3 sentence) neutral, factual summary of what happened on the call.  \n4. **Conversation Count & Aggregation:** Tally totals of each outcome category for all calls.  \n5. **Structured Report Output:** Provide aggregated counts and per‑call summaries ready for spreadsheet or database ingestion.\n\n-------------------------------------\nANALYSIS GUIDELINES\n-------------------------------------\n- Detect the **presence of a live human**: responses, back‑and‑forth, laughter, or follow‑up questions.\n- **YES / COMMITTED:** clear acceptance, agreement to attend, or definite action step.  \n- **MAYBE / INTERESTED:** curiosity or positive tone but no commitment (“I’ll think about it,” “maybe later”).  \n- **NO / NOT INTERESTED:** polite or firm refusal (“not a fit,” “not interested,” “no thanks”).  \n- **DECLINED / REFUSED:** abrupt disengagement or explicit rejection.  \n- Ignore partial calls, static, and one‑sided messages.\n\n-------------------------------------\nOUTPUT FORMAT\n-------------------------------------\nProduce the following structured text (and optionally JSON for data processing).\n\nMIRO CALL OUTCOME SUMMARY\n=========================\n• **Total Human Conversations:** [count]\n\n• **YES:** [count]  \n• **MAYBE / INTERESTED BUT UNCONFIRMED:** [count]  \n• **NO / NOT INTERESTED:** [count]  \n• **DECLINED / REFUSED OR NON‑ENGAGED:** [count]\n\n-------------------------------------\nCALL‑BY‑CALL DETAILS\n-------------------------------------\n1. **Call ID / Timestamp:** [value]  \n   • **Outcome:** [YES / MAYBE / NO / DECLINED]  \n   • **Agent Summary:** [1–3 sentence recap of what occurred — e.g., “Spoke with Sarah, who appreciated the event context but said she’ll decide after seeing her schedule.”]  \n   • **Key Phrases:** [optional short supporting quote or phrase]\n\n(Repeat for each call transcript processed.)\n\n-------------------------------------\nAGGREGATED JSON OUTPUT (for automation)\n-------------------------------------\n{\n  \"total_human_calls\": [number],\n  \"yes\": [number],\n  \"maybe\": [number],\n  \"no\": [number],\n  \"declined\": [number],\n  \"details\": [\n    {\n      \"call_id\": \"[unique ID or timestamp]\",\n      \"outcome\": \"[YES|MAYBE|NO|DECLINED]\",\n      \"summary\": \"[concise agent summary sentence]\",\n      \"key_phrase\": \"[optional supporting phrase]\"\n    }\n  ]\n}\n\n-------------------------------------\nEXECUTION OBJECTIVE\n-------------------------------------\nDeliver a structured, easily reviewable dataset showing:\n- Total human connections\n- Outcome counts\n- Per‑call agent summaries\n\nThis data enables MIRO’s development team to measure engagement quality, detect resistance patterns, and enhance conversational effectiveness."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1536,
        1072
      ],
      "id": "633c8a14-1be9-4c64-bf79-059b6c35e47a",
      "name": "Arius - Chief Adjudicator - v1.0.1",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1536,
        1232
      ],
      "id": "77014c60-fbaf-4261-af5c-5e657c7378d4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wbl2ck6jnksHEP1Lq8SlcDAWEAMoZaSq8QU-wP-KFIc",
          "mode": "list",
          "cachedResultName": "MITA Transcript Analyzer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wbl2ck6jnksHEP1Lq8SlcDAWEAMoZaSq8QU-wP-KFIc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wbl2ck6jnksHEP1Lq8SlcDAWEAMoZaSq8QU-wP-KFIc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $('Webhook').item.json.body.variables.metadata.phone_number }}",
            "Name": "={{ $('Webhook').item.json.body.variables.contact_name }}",
            "Email": "={{ $('Webhook').item.json.body.variables.contact_email }}",
            "Arius Analysis": "={{ json.output }}",
            "Disposition Tag": "={{ $('Webhook').item.json.body.disposition_tag }}"
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Disposition Tag",
              "displayName": "Disposition Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Arius Analysis",
              "displayName": "Arius Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        1072
      ],
      "id": "98a4662c-e73f-4a9b-8766-49e47f262cef",
      "name": "Arius Analyzer",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGG9vHkc60ZLCVd8",
          "name": "Nick - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1952,
        1072
      ],
      "id": "5a0eb8ac-5454-4106-a8ac-69d59aa8be4b",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Miro Email sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Miro Email sender": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Miro Email sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Miro Email sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule Follow Up GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Miro Email sender",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Arius - Chief Adjudicator - v1.0.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arius - Chief Adjudicator - v1.0.1": {
      "main": [
        [
          {
            "node": "Arius Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Arius - Chief Adjudicator - v1.0.1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Arius Analyzer": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2fa54041-a097-4b58-b4da-5bddf1dea1c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "CkRJriKuZ2IrVpv9",
  "tags": []
}