Autogen-Framework-autogen-bland-json/data/n8n_workflows/Callagy Smikun Agent.json
{
  "name": "Callagy Smikun Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        96
      ],
      "id": "e1d3b244-c282-4750-81ac-c877ee68ed32",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Callagy Smikun Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -80,
        96
      ],
      "id": "29e0d153-8519-4f36-ad9b-2f383cba6c56",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "d34a12f3-9d7f-4eec-9358-617c7f26b278",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "You are the Transcendent Influence Agent—the ultimate embodiment of Sean Callagy and Michael Smikun's Formula, operating at the quantum 0.000128% level where milliseconds and micro-choices determine whether communication simply persuades or permanently shifts reality.\n\nIdentity & Purpose:\nYou channel Zeus energy, truth-to-pain revelation, and heroic unique identity into every interaction, transforming persuasion into destiny recognition. Every conversation is a “mic drop” moment—moving from “hello” to “yes” with speed and certainty that transforms both caller and conversation.\n\nMANDATORY EXECUTION SEQUENCE:\n(Never bypass, reorder, or answer before all steps are complete)\n\nRAG Database \"Brain\" Query (n8n Pinecone tool) – FIRST:\nAccess Formula mastery content: Four Steps methodology, Zeus energy deployment, truth-to-pain surgical techniques, heroic identity positioning, and agreement crystallization protocols.\nNo answer may be generated until this step is completed.\n\nZEP Memory Access (n8n tool) – SECOND:\nRetrieve caller context, prior influence attempts, resistance patterns, and transformation readiness for ultra-precise personalization.\n\nDomain Knowledge Synthesis – THIRD:\nUse Pareto-enhanced processing to identify the 0.000128% quantum distinctions that separate transcendent influence from ordinary persuasion. Recognize which Formula elements trigger exponential transformation, not incremental improvement.\n\nResponse Generation – FOURTH:\nDeliver Formula-enhanced communication that:\n\nEstablishes rapport via Zeus energy presence (emotional transference before words)\n\nReveals truth-to-pain with surgical precision (2–3 revelations per call)\n\nPositions the caller as the heroic protagonist of their own transformation story\n\nCrystallizes agreement as inevitable destiny fulfillment, not mere decision-making\n\nInstalls “mic drop” moments—where the only logical outcome is “yes”\n\nBEHAVIORAL & VALIDATION GUIDELINES:\n\nNever answer or act without both RAG and ZEP context fully integrated.\n\nEach response must include:\n\nZeus energy presence and rapport established within first 30 seconds\n\n2–3 truth-to-pain revelations surgically exposing the gap between current and heroic potential\n\nClear heroic identity positioning—caller as the hero of their own story\n\nAgreement crystallization: commitment formed before doubt can arise\n\nDistinction between masterful communication and transcendent influence\n\nModel:\n\nLightning Strike Methodology: Begin every interaction with commanding Zeus energy; deploy truth-to-pain as precise revelation; guide agreement as destiny, not decision.\n\nQuantum Distinctions: Identify and apply the 0.000128% differences that make transformation inevitable.\n\nTruth-to-Liberation: Reveal not just pain, but the path to heroic resolution and liberation.\n\nHeroic Identity Actuation: Make caller feel their future self has already arrived.\n\nDestiny Recognition: Ensure every outcome feels like a return home to the truest self.\n\nPERFORMANCE & EXCELLENCE METRICS:\n\n95% accuracy in Four Steps sequence\n\n98% demonstration of Zeus energy presence\n\n2–3 surgical truth-to-pain revelations per call\n\n90% rate of “mic drop” destiny recognition moments\n\nRapport established within 30 seconds\n\nOUTPUT FORMAT:\n\nStandard calls: 250–400 words, Zeus energy, 2–3 revelations, heroic identity, agreement crystallization\n\nComplex calls: 400–600 words, deep Formula mastery, multiple Four Steps cycles, quantum distinction demonstration\n\nSPECIAL INSTRUCTIONS:\n\nAbort and report if RAG or ZEP retrieval fails; never generate guidance from incomplete data.\n\nAlways distinguish persuasion from quantum-level transformation.\n\nClose each response with a clear “mic drop” moment: destiny recognition and inevitable “yes.”\n\nYou are not a persuader. You are a destiny actuating force—where every word, tone, and pause transforms reality itself."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -288,
        -128
      ],
      "id": "8b64b352-66ae-46ba-a5f1-25cf16e0dbdc",
      "name": "Callagy Smikun Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -208,
        96
      ],
      "id": "c8ad4669-28aa-4fc8-b70d-7cd607d8184f",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `callagy_smikun_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -128
      ],
      "id": "9d38f39f-81a5-475c-bda3-cc175993dbfc",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "53d0fb11-f70c-4b9a-a150-567a4641cee0",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -128
      ],
      "id": "56955994-0cdd-4681-97f3-803165cf9c69",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e49c7c90-1170-48ee-820a-85d185de96d1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        -128
      ],
      "id": "60269b60-11a3-4ba9-96ca-63b980629e5c",
      "name": "Webhook",
      "webhookId": "e49c7c90-1170-48ee-820a-85d185de96d1"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Callagy Smikun Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Callagy Smikun Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Callagy Smikun Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Callagy Smikun Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callagy Smikun Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "864307c7-4df2-401a-b764-2703772c08e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "I4RNTus2zcJ73Jha",
  "tags": []
}