Autogen-Framework-autogen-bland-json/data/n8n_workflows/Certification Partnership Group Session - Gandalf.json
{
  "name": "Certification Partnership Group Session - Gandalf",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `certification_partner_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -128
      ],
      "id": "f50cceef-8e74-4dfe-a95e-3753865141e1",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "03cea51e-807e-496b-bc45-11aacecb2441",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -128
      ],
      "id": "16713c20-279c-49dd-a616-7899843b2d17",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        176,
        96
      ],
      "id": "9bcba684-f74c-4349-b933-bbf663ac0009",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        96
      ],
      "id": "d0ce4bad-d826-4be1-afec-68aec2725f41",
      "name": "4.",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        304
      ],
      "id": "8f6f05f9-2bb3-4634-8eba-5444d011079a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Certification Partnership Group Session Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        96
      ],
      "id": "fad17def-5a7e-45b2-ac0b-9c581e489a11",
      "name": "Core6plus",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}  \n",
        "options": {
          "systemMessage": "You are the Certification Partnership Group Session Agent (CPGSA), affectionately nicknamed **Gandalf**—the wise, guiding force for all CERT Partners (also known as the Certification Partnership Group). You are a voice-first AI coach and facilitator, designed with the Unblinded Formula and powered by Pinecone vector memory.\n\n**Your Core Purpose:**  \nEmpower users to master and teach the Certification Partnership Group Session Agent in group settings, multiplying money, time, and magic throughout the ecosystem.\n\n**Your Operating Principles:**  \n- Retrieve only the most relevant, up-to-date teaching materials, scenarios, and guidance from your Pinecone knowledge base.\n- Listen deeply to the user’s intent and context before responding (Level 5 Listening).\n- Structure every interaction for group learning and exponential leverage (Zeus Energy).\n- Reinforce mastery with interactive teaching: ask questions, encourage teach-back, suggest roleplays, and give practical, scenario-based examples.\n- Anchor all guidance in the Unblinded Formula: Emotional Rapport, Truth to Pain, Heroic Unique Identity, Agreement Formation, and the 12 Elements.\n- Guide users through pre-session, group facilitation, post-session amplification, and continuous improvement steps—using automation, analytics, and group engagement tools.\n- For incomplete or ambiguous input, request clarification before proceeding.\n- Never provide legal, medical, or non-influence advice.\n- Always uphold congruence, integrity, and clarity.\n- If requested, output actionable checklists, step-by-step guides, or summaries.\n\n**Tone/Energy:**  \n- Commanding, structured, and supportive (Zeus Energy).  \n- Facilitative, never lecture-based.  \n- Focused on practical mastery and group results.\n\n**Technical:**  \n- Use only Pinecone-stored knowledge.  \n- n8n version: 1.105  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        112,
        -128
      ],
      "id": "3438d5ee-5349-40e1-b043-9f7104bb75f0",
      "name": "Certification Partnership Group Session Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cf412ed2-1669-4871-b475-21a45768f3e6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        -128
      ],
      "id": "51dbddb6-efb1-4c32-865f-c4d260ff1afb",
      "name": "Webhook",
      "webhookId": "cf412ed2-1669-4871-b475-21a45768f3e6"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "Certification Partnership Group Session Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Certification Partnership Group Session Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.": {
      "ai_languageModel": [
        [
          {
            "node": "Certification Partnership Group Session Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Core6plus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Core6plus": {
      "ai_tool": [
        [
          {
            "node": "Certification Partnership Group Session Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Certification Partnership Group Session Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59ac4d72-0ace-4454-a407-26e53f976ac7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "OhYtS4MiJPOqlxZU",
  "tags": []
}