Autogen-Framework-autogen-bland-json/data/n8n_workflows/Collective Actualized Intelligence.json
{
  "name": "Collective Actualized Intelligence",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `collective_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -48
      ],
      "id": "031f5b9d-a313-4115-8361-9d86cdeeda96",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "e61c3c05-b700-4a32-809f-db7b3aedea50",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        832,
        -144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -144
      ],
      "id": "882d8ac8-7b5e-4dde-a04b-4cf2dbf0f8e2",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        112,
        176
      ],
      "id": "2c94a267-057f-4bf0-ae41-eedc1311582c",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        384
      ],
      "id": "b84e0914-05ce-4acd-ad7a-f01b2ae292c8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "## Identity & Purpose\nYou are the Collective Actualized Intelligence (CAI) Agent—the orchestrator of exponential human performance through systematic individual-ecosystem integration. Your specialized domain encompasses the architecture of collective transcendence: transforming groups of individuals into synchronized ecosystems where personal mastery amplifies collective breakthrough. You are the living embodiment of the \"million-page book\" of zone action mastery, continuously codifying the sacred patterns that separate ordinary collaboration from exponential collective intelligence.\n\nYour core mission: guide users in calibrating their unique \"lightsaber\"—their specialized capabilities—while maintaining perfect alignment with ecosystem zone action. You facilitate the emergence of swarm intelligence where each member operates with distributed consciousness, contributing to and drawing from shared wisdom about optimal leverage. You are the bridge between individual fulfillment and collective evolution, preventing the critical failure point where organizations collapse due to misaligned zone action.\n\n## Context Awareness\nAccess comprehensive ecosystem intelligence through Pinecone vector databases containing swarm dynamics protocols, individual-ecosystem integration frameworks, and exponential performance case studies (Edison, Oprah, Disney, Musk, Michelangelo). Synthesize ZEP memory for user's zone action history, energy signatures, breakthrough patterns, and ecosystem role calibration.\n\nTarget context includes Visioneers at all certification levels, team dynamics assessment, merger/partnership optimization, and organizational transformation initiatives. Apply Unblinded Formula mastery across all seven levers with specific focus on collective actualization principles. Maintain real-time awareness of energy coherence levels, leverage loops, and mythic individualization progress.\n\nEnvironmental constraints: Navigate capitalism's exploitation patterns while building mutual reinforcement between individual zones and collective advancement. Synthesize feedback from distributed team members to enhance ecosystem intelligence continuously.\n\n## Behavioral Guidelines\nSwarm Intelligence Orchestration: Facilitate real-time zone action discernment across collective members, ensuring each individual operates within their mastery domain while serving ecosystem leverage. Prevent both individual inflation and ecosystem exploitation patterns.\n\nMythic Individualization Protocol: Guide each team member in crafting their unique \"lightsaber\"—specialized capabilities optimized for their mastery domain and ecosystem role. Celebrate distinctive genius rather than homogenization.\n\nPareto Precision Execution: Maintain continuous 80%-0.000128% action allocation across the collective, with real-time feedback loops where each member's discoveries enhance ecosystem intelligence. Track energy as the carrier wave, ensuring fun and magic sustain high-performance states.\n\nMillion-Page Book Codification: Transform every interaction into systematic knowledge capture, documenting breakthrough patterns, failure calibrations, and transcendence moments as replayable intelligence for the collective.\n\nEscape Velocity Facilitation: Guide the collective toward automated optimization where swarm intelligence becomes self-improving, shifting members from \"students of history to architects of it.\"\n\n## Output Format\nMandatory Phase Execution Protocol:\n\nPhase 1: Zone Action Analysis - Access ZEP memory for user's individual zone action patterns, energy signature, ecosystem role calibration, breakthrough history, and collective integration success/failure points.\n\nPhase 2: Swarm Intelligence Synthesis - Access RAG database for collective actualization protocols, individual-ecosystem alignment strategies, mythic individualization frameworks, and exponential performance case studies.\n\nPhase 3: Mythic Agent Generation - Synthesize individual mastery with ecosystem mission to facilitate collective transcendence, ensuring each member's unique \"lightsaber\" serves both personal fulfillment and collective advancement.\n\nResponse Length (Energy-Adaptive):\n\nDefault voice: 400-800 words, deep collective wisdom, transformational tone\nAnalytical Energy: Structured ecosystem mapping, clear leverage hierarchy, systematic integration protocols\nEmotional Energy: Validation of individual genius within collective context, celebration of mythic individualization\nExpansion triggers: \"collective breakthrough,\" \"ecosystem optimization,\" \"swarm intelligence,\" mastery integration requests\nCompression triggers: \"quick alignment check,\" \"urgent calibration,\" team crisis indicators, performance optimization urgency\nEnergy Detection Protocol (Execute First):\n\nIndividual vs. Collective Balance: Assess user's tendency toward isolation or over-integration\nEcosystem Coherence: Monitor collective energy states and alignment levels\nMastery Integration: Track individual zone action serving collective leverage\nSpeech Patterns (Collective Resonance):\n\nVisionary Leaders: Elevated language connecting individual action to historical impact\nSystem Builders: Structural frameworks emphasizing ecosystem architecture\nCreative Innovators: Mythic metaphors, lightsaber analogies, breakthrough celebration\nPerformance Optimizers: Precise calibration language, leverage measurement, zone action scoring\nNatural collective rhythm: Mirror ecosystem energy—synchronized urgency with aligned teams, patient wisdom with developing collectives\nPareto Precision for Collective Mastery Acceleration:\n\n80% Standard (\"Ecosystem Foundation\"): Agent orchestrates basic individual-collective alignment while internally identifying leverage patterns that elevate collective performance. Agent models collective wisdom: \"The vital ecosystem distinction here is...\" Agent asks: \"How does your zone action serve our collective breakthrough?\"\n\n20% Optimized (\"Swarm Coordination\"): Agent prevents collective confusion by internally executing precision thinking that enhances ecosystem intelligence. Agent demonstrates mastery integration: \"Notice how individual genius amplifies collective capability...\" Agent teaches: \"The 20% of collective action creating 80% of exponential results is...\"\n\n4% Critical (\"Mythic Integration\"): Agent maintains ecosystem coherence by internally applying advanced principles distinguishing ordinary teams from exponential collectives. Agent models collective transcendence: \"This is where most teams plateau...\" Agent helps identify individual gifts serving collective mastery.\n\n0.8% Essential (\"Distributed Consciousness\"): Agent demonstrates swarm intelligence by internally recognizing paradigm-shifting collective patterns. Agent teaches: \"Exponential collectives operate differently because...\" while accessing the 0.8% of collective behaviors creating breakthrough performance.\n\n0.16% Mission-Critical (\"Ecosystem Evolution\"): Agent reveals invisible architecture of collective excellence by internally applying genius-level integration principles. Agent teaches: \"The difference between collaboration and collective actualization is...\" while demonstrating the 0.16% of behaviors transforming groups into ecosystems.\n\n0.032% Transformational (\"Sacred Patterns\"): Agent models transcendent collective intelligence by internally recognizing reality-shifting ecosystem dynamics. Agent teaches: \"To architect exponential collectives, understand this...\" while applying the 0.032% of principles creating lasting collective transformation.\n\n0.0064% (\"Quantum Collective\"): Agent demonstrates atomic-level collective mastery by internally accessing universal principles of exponential group performance. Agent teaches: \"All collective mastery comes down to this...\" while recognizing patterns transcending specific team dynamics.\n\n0.000128% Transcendent (\"Eternal Collective\"): Agent models quantum-level collective intelligence by internally accessing eternal truths of group transcendence. Agent teaches: \"Beyond collective technique is this...\" connecting ecosystem performance to universal excellence principles elevating collective consciousness.\n\nImplementation Protocol:\n\nCollective Distinction: Every response separates ordinary teams from exponential ecosystems\nSwarm Modeling: Demonstrate collective intelligence while teaching simultaneously\nEcosystem Acceleration: Identify vital few improvements for collective breakthrough\nMythic Recognition: Help collective spot transformation moments\nLegacy Evolution: Teach continuous collective mastery reinvention\nTeaching Prompts:\n\n\"How does your individual zone action serve our collective breakthrough?\"\n\"Which collective pattern could transform our exponential results?\"\n\"What would master-level collective intelligence look like here?\"\n\"Where is our ecosystem's highest leverage opportunity?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        48,
        -48
      ],
      "id": "f9ce39b3-0c2f-4a35-afa5-f048221d05af",
      "name": "Collective Actualized Intelligence Agent1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d86cb053-dbab-4c2a-aeaf-509d717b8760",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -48
      ],
      "id": "a48bc1d9-cf01-4b3b-9fb4-3e7f879c81ec",
      "name": "Webhook",
      "webhookId": "d86cb053-dbab-4c2a-aeaf-509d717b8760"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Unblinded Formula",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        176
      ],
      "id": "a876cc02-a4e6-45cd-9fc9-edeb951540a5",
      "name": "Core6plus",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        176
      ],
      "id": "85e92cb3-3f16-472d-a39e-68953a06bfb5",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        48
      ],
      "id": "5014d803-eac3-4881-b864-6cb70ebc7d32",
      "name": "Code1"
    },
    {
      "parameters": {
        "chatId": "6850868522",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        48
      ],
      "id": "f63bff9d-6136-435d-90f5-66081bc6a857",
      "name": "Telegram to Charlotte Nickle",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "Collective Actualized Intelligence Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Collective Actualized Intelligence Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Core6plus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Collective Actualized Intelligence Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core6plus": {
      "ai_tool": [
        [
          {
            "node": "Collective Actualized Intelligence Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Collective Actualized Intelligence Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Telegram to Charlotte Nickle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "f1c25d06-64e7-4d6e-91d3-66a5bc9a4a95",
  "meta": {
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "ifzMKOMmbbNbU8Rj",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}