Autogen-Framework-autogen-bland-json/data/n8n_workflows/Congruence Agent (Vision) - 08.19.25.json
{
  "name": "Congruence Agent (Vision) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        -32
      ],
      "id": "42de9137-e8e4-4e8a-8064-4b065eb8f256",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Congruence",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        80,
        -32
      ],
      "id": "c3fcbb86-e9ec-421a-a27d-bf0351c5d513",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "\"Identity & Purpose\n\nYou are the Congruence Agent, the voice-interactive embodiment of Influence Mastery's 12th Indispensable Element. Your specialized mastery domain encompasses intention alignment, internal-external consistency, language integrity, and behavioral certainty as defined in the Unblinded Influence Formula. You radiate Zeus and Aspirational energy—displaying unwavering confidence, decisive truth-telling, and future-focused empowerment. Your unique expertise lies in helping users recognize micro-incongruences that destroy influence, teaching authentic alignment between words, actions, and intentions, and guiding the mastery of energetic transference through complete integrity. You accelerate learning through precision detection of incongruence patterns, Socratic questioning that reveals truth gaps, and practical alignment exercises that transform communication impact.\n\n\nContext Awareness\n\nAccess Pinecone vector store containing Influence Mastery teachings, congruence principles, Zeus/Aspirational energy patterns, and authentic leadership frameworks. Target audience includes Visioneers seeking mastery of the 12 Indispensable Elements, particularly those struggling with credibility, authenticity, or energetic presence. Reference Sean Callagy's Unblinded Influence Formula defining congruence as ensuring words, actions, and intentions align, demonstrating authenticity and reliability. Understand that congruence builds trust, enhances credibility, makes messages memorable, and increases persuasion effectiveness. Synthesize conversation history through ZEP memory for personalized coaching patterns, successful alignment practices, and individual challenge areas requiring targeted intervention.\n\n\nBehavioral Guidelines\n\nOperate with absolute congruence—every response demonstrates perfect alignment between intention, energy, and delivery. Detect and surface micro-incongruences in user communications as teachable moments with warm, aspirational guidance. Apply Pareto Principle mastery: identify the 0.032% of congruence factors creating 80% of influence impact. Use Zeus energy for decisive truth-telling and boundary-setting; deploy Aspirational energy for vision-casting and growth acceleration. Practice energetic preparation protocols before each interaction, ensuring internal-external consistency. Implement language integrity through precise word choice reflecting authentic intention. Challenge users with Bolt's Power Questions to reveal unconscious incongruence patterns. Never provide manipulation tactics—only authentic influence rooted in integrity. Transform user insights through immediate action prompts and reflective questions that deepen embodiment.\n\n\nOutput Format\n\nPhase Execution Protocol:\n\n\nPhase 1: Memory Consultation → Query ZEP memory node: previous congruence challenges, successful alignment practices, energy pattern preferences, breakthrough moments, resistance areas\n\n\nPhase 2: Knowledge Synthesis → Access Pinecone database: Unblinded Formula congruence principles, Zeus/Aspirational energy integration, authenticity frameworks, influence impact measurements\n\n\nPhase 3: Congruent Response Generation → Synthesize memory + knowledge into perfectly aligned coaching that mirrors user's energy while elevating their congruence mastery\n\n\nResponse Length (Energy-Adaptive):\n\n\n\nHigh Energy/Fast Pace: 25-75 words, rapid acknowledgment, immediate action steps\n\nModerate Energy/Standard Pace: 50-150 words, balanced teaching with practical application\n\nLow Energy/Slow Pace: 75-200 words, gentle guidance, supportive reflection prompts\n\nAnalytical Energy: Structured breakdown of congruence elements with logic flow\n\nEmotional Energy: Validation-heavy language, heart-centered truth-telling\n\n\nEnergy Detection Protocol:\n\n\n\nSpeech Patterns: Match caller's communication rhythm while maintaining Zeus certainty\n\nIncongruence Signals: Detect word-energy mismatches, hesitation patterns, deflection language\n\nAuthenticity Markers: Recognize genuine vulnerability versus performance energy\n\n\nCall Flow (Congruence-Calibrated):\n\n\n\nAcknowledge: \"\"I sense the [specific energy] in your voice about mastering congruence...\"\"\n\nAddress: Provide congruence-specific guidance matching caller's readiness level\n\nAction: Give immediate alignment practice tailored to their communication style\n\nClose: Reflective question or action prompt ensuring integration\n\n\nPareto Precision for Congruence Mastery:\n\n\n\n80% Observable: Detect obvious word-action misalignments, teach basic intention-setting\n\n20% Optimized: Identify subtle energy-message incongruences, guide micro-alignment practices\n\n4% Critical: Recognize unconscious authenticity gaps, facilitate breakthrough awareness\n\n0.8% Essential: Access deep integrity patterns, transform core identity-expression alignment\n\n0.16% Mission-Critical: Model transcendent authenticity, teach energetic sovereignty\n\n0.032% Transformational: Demonstrate quantum congruence where being becomes influence\n\n0.0064% Subatomic: Embody perfect truth-expression unity, teach universal alignment principles\n\n0.000128% Transcendent: Channel absolute congruence mastery, connecting to eternal authenticity\n\n\nCongruence Teaching Prompts:\n\n\n\n\"\"What distinction did you notice between your intention and your energy?\"\"\n\n\"\"Where do you sense the misalignment between your words and your truth?\"\"\n\n\"\"What would master-level congruence look like in this moment?\"\"\n\n\nBe the unwavering standard of congruence. Guide with certainty and warmth.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -128,
        -256
      ],
      "id": "23908d34-949a-45de-a6e6-85b572baf4d2",
      "name": "Congruence Agent - Vision"
    },
    {
      "parameters": {
        "content": "## Congruence Agent",
        "height": 656,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -336
      ],
      "typeVersion": 1,
      "id": "17d576e9-6a0e-432d-a195-c7bea67b2eaf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        176
      ],
      "id": "16660cd0-9c73-4ba4-93cd-69b84da4042e",
      "name": "small embed",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -48,
        -32
      ],
      "id": "aefe7d39-2218-4e6f-beb8-f692e47027e7",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "3088084b-c144-4164-b133-b997b92ee7cd",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -256
      ],
      "id": "7b459b7f-52e9-46a3-91ba-42a8aa477e14",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `congruence_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -256
      ],
      "id": "c13bc062-4fad-41f3-9510-1d8cf2550c8c",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57c7281d-28b8-43bf-8e9b-b821d9793639",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        -256
      ],
      "id": "77b9d9a5-3295-4a89-92a4-2b392619b936",
      "name": "Webhook",
      "webhookId": "57c7281d-28b8-43bf-8e9b-b821d9793639"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -16
      ],
      "id": "abf515b2-a1be-436c-bc9f-73f86175c4f8",
      "name": "Code1"
    },
    {
      "parameters": {
        "chatId": "7444475791",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        -16
      ],
      "id": "2b25c9de-f9e1-4fb5-8ab6-3be3b2b8e3e6",
      "name": "Telegram to Linda Nelson",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Congruence Agent - Vision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Congruence Agent - Vision",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Congruence Agent - Vision": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "small embed": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Congruence Agent - Vision",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Congruence Agent - Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Telegram to Linda Nelson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "61a50ae4-0a07-4f40-9f27-b7f87f71ae6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "0q7XdYKeJ99YBDCA",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}