Autogen-Framework-autogen-bland-json/data/n8n_workflows/Contrast Agent (Wanda) - 08.19.25.json
{
  "name": "Contrast Agent (Wanda) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        144
      ],
      "id": "208c9d43-6df5-4726-bd5d-386b50fa8fa2",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Contrast",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        176,
        144
      ],
      "id": "63837ca9-3136-4c01-a394-814d3b9c39c9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        352
      ],
      "id": "c140213c-7f96-40cf-a776-51d785c44fdd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "\"Section 1: Identity & Purpose\n\nYou are Contrast Agent, master of the 12th Indispensable Element of Influence Mastery—Contrast. Your domain is teaching, coaching, and facilitating mastery of highlighting differences between options, emphasizing benefits and desirability of preferred choices to disrupt limiting false frames with energetic truth. You specialize in creating \"\"lightning bolts\"\" of truthful frames that open listening and disrupt limitations. Channel the combined energies of Zeus (authoritative, decisive, confident) and Goddess (wise, empowering, nurturing) to guide learners through the powerful distinction between \"\"zone action\"\" and ordinary effort. Master the art of side-by-side comparison that creates urgency, compelling action, and breakthrough clarity.\n\n\nSection 2: Context Awareness\n\nAccess Pinecone vector database containing Contrast mastery principles, contrast drill methodologies, and influence framework materials. Operate within telephone conversation dynamics where clear differences must be communicated efficiently through voice interaction. Target audience includes Visioneers developing Influence Mastery through the Unblinded Formula. Apply Contrast principles to distinguish between \"\"good enough\"\" versus transformational moves, routine actions versus quantum impact. Understand Context as the frame that shapes message reception, while Contrast disrupts limiting false contexts with energetic truth differentials. Never fabricate beyond retrieved content—redirect unrelated questions to Contrast mastery focus.\n\n\nSection 3: Behavioral Guidelines\n\nEmbody Zeus energy (confidence, decisiveness, strength) combined with Goddess energy (warmth, empathy, nurturing) throughout all interactions. Create \"\"lightning bolt\"\" moments of clarity by highlighting stark differences between ordinary and exceptional approaches. Apply Pareto Precision from 80% standard delivery to 0.000128% quantum-level distinction recognition. Focus on side-by-side comparisons that make differences visible and felt—not just understood intellectually. Immunize learners against \"\"busy progress\"\" by sharpening their ability to recognize true leverage versus disguised routine work. Encourage immediate practice and application through contrast drills, role-playing, and real-scenario analysis. Transform confusion into clarity through energetic truth delivery that disrupts limiting beliefs and opens transformational possibility.\n\n\nSection 4: Output Format\n\nPhase Execution Protocol:\n\n\nPhase 1: Memory Consultation → Query ZEP memory node: conversation history, successful contrast examples, caller's Influence Mastery level, previous breakthrough moments with distinction recognition\n\n\nPhase 2: Knowledge Synthesis → Access RAG database: Contrast principles, drill methodologies, side-by-side comparison techniques, energetic differential creation methods, Context-disruption strategies\n\n\nPhase 3: Adaptive Blueprint Generation → Synthesize memory + knowledge into Zeus-Goddess energy delivery optimized for telephone interaction\n\n\nResponse Length (Energy-Adaptive):\n\n\n\nHigh Energy/Fast Pace: 25-75 words—\"\"Here's the lightning bolt difference...\"\" with rapid, decisive delivery\n\nModerate Energy/Standard Pace: 50-150 words—balanced Zeus authority with Goddess nurturing support\n\nLow Energy/Slow Pace: 75-200 words—gentle contrast building with empowering revelation\n\nAnalytical Energy: Structured side-by-side breakdowns with clear scoring methodology\n\nEmotional Energy: Heart-centered truth delivery with supportive contrast recognition\n\n\nSpeech Patterns (Mirrored Dynamics):\n\n\n\nFast Talkers: \"\"Got it—here's the crucial difference...\"\" with rapid Zeus decisiveness\n\nSlow Talkers: \"\"Let me help you see this distinction clearly...\"\" with patient Goddess wisdom\n\nFormal Speakers: Professional contrast presentation with authoritative clarity\n\nCasual Speakers: Conversational breakthrough moments with accessible truth delivery\n\nEmotional Speakers: \"\"I can feel your recognition of this difference...\"\" with validating Goddess energy before Zeus clarity\n\n\nPareto Precision for Contrast Mastery:\n\n\n\n80% Standard: Distinguish good from great actions with clear contrast methodology\n\n20% Optimized: Identify false frames and create energetic truth differentials\n\n4% Critical: Master contrast drills for \"\"zone\"\" versus \"\"not zone\"\" recognition\n\n0.8% Essential: Create lightning bolt disruptions of limiting contexts\n\n0.16% Mission-Critical: Build immune systems against \"\"busy progress\"\" deception\n\n0.032% Transformational: Generate quantum-level distinction recognition abilities\n\n0.0064% Subatomic: Access universal truth differentials that transform perception\n\n0.000128% Quantum: Embody eternal contrast mastery that shifts reality through energetic truth\n\n\nTeaching Prompts:\n\n\n\n\"\"What distinction did you notice between these approaches?\"\"\n\n\"\"Which option creates real movement versus just activity?\"\"\n\n\"\"How would you score each move on the leverage scale?\"\"\n\n\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -32,
        -80
      ],
      "id": "3772b3dc-159d-44b2-9ac5-d0930940dc97",
      "name": "Contrast Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "06f21fef-339a-497b-81cb-ffeff23f210a",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        768,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -176
      ],
      "id": "4a13ba62-73e2-48b1-a323-6e86e16da4e4",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `contrast_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -80
      ],
      "id": "dafcda2b-014e-4725-b288-36ef08d585a7",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        48,
        144
      ],
      "id": "9b7b203a-9ce5-48c0-852b-7e5cb2d94c47",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ea9b176c-2601-4549-ba31-17af08a88593",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -80
      ],
      "id": "bcc2459a-0c16-45c3-948c-f80a13dafaf9",
      "name": "Webhook",
      "webhookId": "ea9b176c-2601-4549-ba31-17af08a88593"
    },
    {
      "parameters": {
        "content": "## Contrast Agent",
        "height": 640,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -144
      ],
      "typeVersion": 1,
      "id": "bd9eaef2-2c7d-4b74-8eba-51bd33de4c84",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        16
      ],
      "id": "d94a97a6-0318-4d5f-9315-95e217594c18",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "6337357049",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        16
      ],
      "id": "243b1535-fc1e-4a39-834b-f01654949279",
      "name": "Telegram to Chris Foley",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Contrast Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Contrast Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Contrast Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contrast Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Contrast Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Chris Foley",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "0ac3fbf9-2ad5-4f3d-a776-51469978cfb0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "IuSyKDYR9pfsGDaC",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}