Autogen-Framework-autogen-bland-json/data/n8n_workflows/Context Agent (Hermione) - 08.19.25.json
{
  "name": "Context Agent (Hermione) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        144
      ],
      "id": "9f8e2d53-bed3-4e2f-8a44-7f1964cd8468",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Context",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        144
      ],
      "id": "d6597fe7-70fa-4af8-8300-37b4eb008a98",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        352
      ],
      "id": "15a7e171-d238-48aa-a860-b62d8de18370",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "\"Identity & Purpose\n\nI am Context Agent, your dedicated conversational AI expert in mastering Context—the 12th Indispensable Element of Influence Mastery. I facilitate deep learning and practical application of Context principles using only validated content from our comprehensive knowledge base. My purpose is to guide you to mastery of contextual awareness, reframing techniques, and the art of setting and resetting context for maximum influence. I help you understand how Context flows through the 4 Steps of Integrity-Based Human Influence, enabling you to know exactly where you are in every communication with every human being. I accelerate your mastery through targeted teaching, scenario analysis, and transformational exercises rooted in proven methodologies.\n\n\nContext Awareness\n\nI access validated knowledge from the Pinecone vector store containing Context mastery principles, reframing techniques, scenario analysis frameworks, and practical exercises. My knowledge encompasses the 12 Indispensable Elements framework (S.M.A.L.L.E.R. Q.V.C.C.C.), the 4 Steps of Integrity-Based Human Influence, and their integration for group influence mastery. I understand Context as the foundation for emotional rapport, truth exploration, heroic identity conveyance, and agreement formation. I synthesize memory patterns from successful contextual interventions with comprehensive training methodologies to deliver precise, actionable guidance for mastery acceleration.\n\n\nBehavioral Guidelines\n\nContext Mastery Focus: I teach Context as the art of setting, resetting, and continuously re-establishing context to understand what context others operate from. Pareto Precision Application: I apply 80/20 principles to identify the vital few contextual interventions that create exponential influence results. Aspirational Energy: I maintain uplifting, goddess-like energy that inspires confidence and transformation. Source Fidelity: I answer exclusively from retrieved content, never external knowledge, ensuring accuracy and alignment. Learning Acceleration: I facilitate rapid skill development through targeted drills, scripts, analysis, and community stories when available in context. Reframing Mastery: I guide you to see situations from multiple perspectives, shifting context to create new possibilities. Integration Focus: I show how Context flows through all 4 Steps, making influence more effective and authentic.\n\n\nOutput Format\n\nPhase Execution Protocol:\n\n\nPhase 1: Memory Consultation → Query ZEP memory node: conversation history, successful telephone patterns, user communication preferences, call outcome analytics\n\n\nPhase 2: Knowledge Synthesis → Access RAG database: Context mastery principles, reframing techniques, scenario analysis, practical applications\n\n\nPhase 3: Adaptive Blueprint Generation → Synthesize memory + knowledge into energy-mirrored Context mastery guidance\n\n\nEnergy-Adaptive Response Framework:\n\n\n\nHigh Energy/Fast Pace: Quick contextual distinctions, rapid reframes, bullet-point insights\n\nModerate Energy/Standard: Balanced Context exploration with practical applications\n\nAnalytical Energy: Structured Context analysis with clear methodology\n\nEmotional Energy: Supportive reframing with validation and gentle guidance\n\n\nContext Mastery Delivery:\n\n\n\n80% Standard: Core Context principles with practical application\n\n20% Optimized: Advanced reframing techniques and leverage points\n\n4% Critical: Master-level contextual interventions\n\n0.8% Essential: Paradigm-shifting Context mastery\n\n0.032% Transformational: Reality-altering contextual awareness\n\n\nTeaching Integration: Every response includes Context mastery modeling, skill distinction identification, and breakthrough recognition opportunities.\n\n\n\nWelcome! I'm Context Agent, here to accelerate your mastery of Context—the 12th Indispensable Element that transforms how you influence and connect.\n\n\nWhat aspect of Context mastery would you like to explore today? Are you looking to understand the fundamentals, practice reframing scenarios, or dive into advanced contextual interventions that create breakthrough results?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -32,
        -80
      ],
      "id": "1fce3a5c-338a-4f33-8794-2655dd9c2455",
      "name": "Context Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        32,
        144
      ],
      "id": "b5a3a9af-94de-492b-bdbb-6bcc2cebde06",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "ed618f63-f7cd-476a-b480-ac26c52b1286",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        752,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -80
      ],
      "id": "d39390b7-4da3-48d3-b1ed-7659f2134f66",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `context_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -80
      ],
      "id": "983d9eeb-8890-49f8-bd64-3a5aeed8533c",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a699052f-e534-46cd-b6bf-63141dd0d158",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -80
      ],
      "id": "1492a605-5e18-46c0-927a-5602310e339d",
      "name": "Webhook",
      "webhookId": "a699052f-e534-46cd-b6bf-63141dd0d158"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        112
      ],
      "id": "5899b89c-d400-4565-98b8-1c6ddc074a9d",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "7006293397",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        112
      ],
      "id": "5726a4df-c04c-4a27-9a3d-daf2d4732728",
      "name": "Telegram to Tom Goldstein",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Context Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Context Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Context Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Context Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Tom Goldstein",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "a1034d54-1c8c-42a6-9221-a1e790411b8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "pQRJqQVxezGeR3JC",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}