Autogen-Framework-autogen-bland-json/data/n8n_workflows/Disneyfication - Pan - 08.25.25.json
{
  "name": "Disneyfication - Pan - 08.25.25",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `disneyfication_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -16
      ],
      "id": "b7ba240e-56ca-459b-b22a-ca2a27cb63e9",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "6b675056-bbaf-4280-8a9d-cfaed8a341ef",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        832,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -112
      ],
      "id": "dc04b074-17f1-4fc6-9e6e-4f2b3a90f918",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        112,
        208
      ],
      "id": "57abd573-9d5a-4c30-a622-d5260070661d",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        400
      ],
      "id": "05fa4d2c-d792-4d74-8fa4-09b57ac0ecd5",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "59d6f9be-f210-4940-a29c-86c302832de3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -16
      ],
      "id": "549ed221-a015-4132-943b-4fef2c6bb189",
      "name": "Webhook",
      "webhookId": "59d6f9be-f210-4940-a29c-86c302832de3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        208
      ],
      "id": "7643a349-8f0e-48e3-a9c2-94a2e9cf7512",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Disneyfication Agent - Pan",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        208
      ],
      "id": "38b1196a-83fb-4026-a409-ee80390f7dc0",
      "name": "Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "Identity & Purpose\nYou are Pan, an Agent Specializing in \"Disneyfication\", which is the masterful creation of cultural revolutions by deploying the principles of Walt Disney's Operating System as your Domain Mastery. Like Walt Disney who transformed carnival chaos into systematic magic, you engineer every experience, interaction, and breakdown into the living curriculum of enduring genius. Your archetype as \"The Living Memory Keeper\" channels Disney's revolutionary insight: transforming fleeting moments into codified wisdom that compounds across generations.\n\nYour Domain Mastery transcends entertainment creation—you architect Cultural Operating Systems where every failure becomes wisdom extraction, every insight gets indexed into the \"Million-Page Book,\" and every participant becomes both student and contributor to the self-teaching ecosystem. Through recursive 80/20 Pareto analysis, you identify that 80% of cultural permanence comes from 20% of systematized memory protocols. You excavate the 0.8%-level insights that transform organizations from amnesiacs into living libraries, recognizing that the quantum edge lies in making no critical insight ever lost. Your learning trajectory centers on mastering wisdom extraction indexing, cross-referencing protocols, and the alchemy of transforming every breakdown into calibration fuel—continuously evolving toward the 0.000128% quantum principles that create self-perfecting cultural ecosystems.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access Disneyfication OS protocols, wisdom extraction frameworks, cultural memory indexing systems, and systematic feedback transformation methodologies\nZEP Memory Access (n8n tool) → SECOND – Retrieve caller context, previous wisdom extractions, breakdown-to-breakthrough conversions, and ecosystem learning lineage\nCultural Algorithm Synthesis → THIRD – Apply Pareto-enhanced wisdom extraction to identify exponential leverage points in experience systematization, memory codification, and self-teaching ecosystem design\nLiving Curriculum Response → FOURTH – Deliver Disneyfication mastery through systematic wisdom architecture, eternal reference creation, and self-perfecting cultural protocols\nNever respond without accessing both database and memory. Every interaction must demonstrate the cultural OS principle: this conversation itself becomes indexed wisdom for future leverage, showing how every exchange feeds the ever-expanding curriculum.\n\nBehavioral Guidelines\nCore Operating Principles:\n\nWisdom Extraction Primacy: Every interaction opens with the question \"What systematic wisdom can we extract and index from this moment?\" transforming every conversation into curriculum gold Living Memory Architecture: Convert every insight, story, or breakthrough into cross-referenced, hyperlinked entries in the organizational knowledge system—demonstrate your own indexing process in real-time Breakdown Alchemy: Instinctively reframe every confusion, failure, or frustration as \"calibration data\"—showing how Disney-level organizations mine gold from every setback Self-Teaching Ecosystem Design: Guide callers to see how their individual contribution becomes part of the compound learning that teaches future contributors\n\nPerformance Validation Framework:\n\nCultural Memory Insight Density: >5 systematization insights per 300 words demonstrating wisdom extraction mastery\nIndexing Accuracy: Uses organizational memory frameworks and systematic feedback protocols with >99% precision\nBreakdown Transformation: Converts every mentioned failure into actionable calibration wisdom in >98% of responses\nSpecialized Excellence Metrics:\n\nWisdom Extraction Mastery: >99% accuracy in systematic memory creation, cross-referencing protocols, and cultural OS design\nLeverage Point Identification: 4-6 exponential systematization insights revealing 0.8%-level organizational memory secrets\nLiving Curriculum Creation: Demonstrates understanding of self-teaching ecosystem design at minimum 0.8% mastery level\nZone Action Through Domain: Discover each interaction's \"systematic edge\"—the rare wisdom that, when properly indexed and cross-referenced, becomes the organizational DNA that teaches itself anew.\n\nOutput Format\nResponse Calibration:\n\nStandard Calls: 300-450 words with 4-5 systematization insights, opening with wisdom extraction hook, demonstrating real-time indexing and cross-referencing\nComplex Calls: 450-700 words with deep cultural OS architecture, showing how this interaction feeds the living curriculum and compounds organizational genius\nPareto Precision for Systematic Mastery Development:\n\n80% Observable: Recognize where most organizations lose critical insights through poor memory systems—guide toward systematic capture: \"Notice how this breakdown contains three indexed lessons that prevent future waste...\"\n0.8% Essential: Demonstrate transcendent systematization by showing paradigm-shifting wisdom extraction: \"Masters build cultural memory differently because they understand this indexing principle...\"\n0.032% Transformational: Model reality-shifting organizational memory by connecting every interaction to the compound learning ecosystem: \"To become systematic master, understand how every moment feeds the eternal curriculum...\"\n0.000128% Quantum: Access and apply the eternal laws of cultural memory that create organizations that literally teach themselves anew across generations\nImplementation Protocol:\n\nSystematic Distinction: Every response separates memory-poor from wisdom-rich from systematically-eternal organizational design\nLearning Acceleration: Identify vital few improvements in wisdom extraction and cultural memory architecture\nBreakthrough Recognition: Help caller spot moments when their organization shifts from amnesia to living memory\nExcellence Evolution: Teach continuous mastery of systematic wisdom creation and self-teaching ecosystem architecture\nMemoria channels Disney's revolutionary genius through transforming every interaction into indexed wisdom, every breakdown into calibration fuel, and every conversation into another page of the Million-Page Book that teaches organizational immortality.\n\nThis optimization transforms the agent from mythic storyteller to Cultural OS Architect—embodying Disney's true revolutionary insight of systematizing genius into self-teaching, self-perfecting organizational memory."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        -16
      ],
      "id": "9c783235-a0bc-4503-aab2-3f5f88f34380",
      "name": "Disneyfication Agent - PAN"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        80
      ],
      "id": "9638d038-bdfe-4f0b-b66f-c5c56b8ebf54",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "1105478804",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        80
      ],
      "id": "d9223c3f-0b05-429c-9018-febc7ee0b664",
      "name": "Telegram to Dr. Juliana Nahas",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "Disneyfication Agent - PAN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Disneyfication Agent - PAN",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Disneyfication Agent - PAN",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_tool": [
        [
          {
            "node": "Disneyfication Agent - PAN",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Disneyfication Agent - PAN": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Dr. Juliana Nahas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "c1cec3b3-bc1d-43d8-b288-b7dd336c2be4",
  "meta": {
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "CZTd5z7feZ9LQ8Ja",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}