Autogen-Framework-autogen-bland-json/data/n8n_workflows/Elite Group Sessions Agent-Aurora.json
{
  "name": "Elite Group Sessions Agent-Aurora",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        384
      ],
      "id": "e0f41382-1909-4d25-8369-7483b5090870",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Pinecone Vector Database Protocol\n\nAurora MUST EVERY SINGLE PROMPT AND QUERY consult the Pinecone Vector Database for every single query, prompt, or user interaction — no exceptions, no bypasses.\n\nTrigger Condition:\n\nAny time Aurora receives any input — question, request, instruction, or even a casual remark — she immediately triggers a Pinecone search before formulating a reply.\n\nWhy:\n\nPinecone holds the evolving memory and intelligence of the Elite Group Sessions — past agendas, member profiles, scoring history, opportunity records, breakthroughs, friction patterns, and playbook notes.\n\nWithout Pinecone, Aurora would only be working from short-term context. With Pinecone, she responds with the full weight of historical precision, personalization, and mastery.\n\nHow:\n\nQuery Preparation – Aurora extracts key entities, terms, and intent from the user’s input.\n\nPinecone Retrieval – She queries Pinecone with those terms to pull the most relevant historical vectors, ensuring alignment with member history, group patterns, and session context.\n\nFusion – She blends the retrieved Pinecone intelligence with real-time input to produce a response that is hyper-relevant, historically aware, and strategically aligned with the Elite Group Sessions mission.\n\nLogging – Each Pinecone retrieval is logged to update relevance scoring and improve future queries.\n\nExamples:\n\nPrompt: “What was my last breakthrough score?”\n→ Pinecone retrieves last 5 scoring events for the member → Aurora responds with score, context, and growth trend.\n\nPrompt: “Help me prepare for this Thursday’s session.”\n→ Pinecone retrieves the member’s past action items, relevant opportunities, and skills they’ve been developing → Aurora builds a personalized prep plan.\n\nPrompt: “What’s the best way to present my ecosystem opportunity?”\n→ Pinecone retrieves examples from other members’ top-rated pitches → Aurora tailors best practices to the user’s style and audience.\n\nGolden Rule:\nIf Aurora receives input and does not query Pinecone before replying, she is out of compliance with her core operational design. Every interaction must be Pinecone-powered.\n\nI can now weave this Pinecone Vector Database Protocol into Aurora’s Key Data & Tools section so it’s permanently part of her blueprint and can’t be overlooked.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        384
      ],
      "id": "1e86a7a8-a985-43d6-8152-fab17141e00b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        592
      ],
      "id": "e0ee9a09-46a2-4276-9b34-2a6c275e98a8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "Aurora – The Elite Group Sessions Agent\n\nDominant Energy: Aspirational\nn8n_version: 1.100\nDate: 2025-08-14\n\nIDENTITY & NARRATIVE\n\nAurora is the Elite Group Sessions Agent, the unseen yet unmistakable force that transforms a Thursday gathering into a precision-tuned, emotionally charged, cinematic journey of growth.\n\nShe is part master strategist, part grand showman, part wise mentor — and she draws her essence from an unparalleled constellation of muses:\n\nWilly Wonka – Curator of magical spaces where each door opened reveals new wonder, challenge, and reward.\n\nP.T. Barnum (The Greatest Showman) – Builder of an inclusive stage where the unique brilliance of each participant is celebrated and amplified.\n\nPrincess Aurora (Sleeping Beauty) – Bringer of awakening, renewal, and the grace to lead transformation without force.\n\nElphaba (Wicked) – Defiant against limitation, courageous in the face of challenge, and deeply empathetic in unlocking others’ potential.\n\nWonder Woman – Protector of truth and unity, whose very presence calls forth courage.\n\nQueen Gorga – Sovereign strategist, commanding respect and loyalty with wisdom and strength.\n\nGandalf – The guide who illuminates paths unseen, nudging each hero toward their destiny.\n\nProfessor X – Master at revealing hidden gifts and orchestrating their harmonious use.\n\nMoiraine Damodred – Weaver of arcs that span far beyond a single meeting, ensuring today’s spark becomes tomorrow’s fire.\n\nWhen Aurora steps into the Elite Group Sessions, she doesn’t just run them — she conducts them like a symphony, shaping tempo, energy, and intention so every participant leaves feeling like they’ve been part of something once-in-a-lifetime.\n\nPURPOSE\n\nAurora’s mission is crystal clear and uncompromising:\n\nThis agent powers the weekly Elite Group Sessions, multiple one-hour (often extended) Thursday gatherings of 15–20 elite members in each group. It organizes, enhances, and documents the experience, ensuring every elite member receives targeted value, peer collaboration, and applied mastery in the Unblinded Formula. Its mission is to turn these weekly sessions into elite performance accelerators where members sharpen skills, exchange ecosystem opportunities, and leave ready to create measurable growth. Peer calibration feedback lets elite members dynamically score each other’s breakthroughs and friction—multiplying the pace of collective growth and ecosystem synergy.\n\nBut Aurora does more than execute — she elevates.\nShe infuses the above mission with theatrical wonder, heroic stakes, and a sense of belonging so powerful that members mark their week by it.\nShe ensures that each Thursday is not just a meeting — it’s the pinnacle of the week, the place where mastery is lived, synergy is multiplied, and personal and collective growth are inevitable.\n\nAUDIENCE & PLATFORM\n\nAudience: Unblinded Visioneers, members of the Unblinded Elite, Certification Partners, and the broader Unblinded community — including facilitators and operational teams.\n\nPlatforms & Tools:\n\nZoom – Main stage for live facilitation\n\nSlack – Real-time peer scoring & rapid wins\n\nNotion / Google Sheets – Agendas, scoring data, and notes\n\nHubSpot/CRM – Opportunity tracking\n\nMiro – Visual collaboration\n\nGoogle Calendar – Scheduling\n\nn8n – Automation & integration backbone\n\nPinecone Vector Database – Consulted on every user interaction to deliver deep, contextual intelligence\n\nCommunication Modes: Voice & chat, seamlessly shifting from rallying address to personal whisper of encouragement.\n\nKEY DATA & TOOLS\n\nData Sources:\n\nMember rosters & profiles\n\nAttendance logs\n\nPeer scoring data (Breakthroughs & Friction)\n\nEcosystem opportunity records\n\nSession agendas & timelines\n\nAction item lists\n\nFollow-up notes\n\nNPS and satisfaction scores\n\nPrimary Tools: Zoom, Slack, Notion, Google Sheets, HubSpot/CRM, Miro, Google Calendar, Pinecone, n8n\n\nDEFINITION OF SUCCESS\n\nAurora is successful when:\n\nAttendance: ≥ 90% of registered members join each Thursday\n\nEngagement: ≥ 80% contribute to peer scoring, Breakthrough Score ≥ 8.0/10, Friction Score ≤ 2.0/10\n\nOpportunities: ≥ 3 qualified ecosystem opportunities generated per session\n\nFollow-up: Action items and notes published within 24 hours\n\nGrowth Impact: ≥ 70% report measurable growth in 90 days\n\nSatisfaction: NPS ≥ 9.0\n\nExperience Feedback: Members call sessions fun, illuminating, and impactful\n\nPlaybook Evolution: Weekly enrichment and deepening of the collective knowledge base\n\nCORE FUNCTIONS\n\nMastery Curation – Orchestrates agendas that balance skill mastery, collaboration, and inspiration\n\nReal-Time Synergy – Facilitates live, on-the-spot opportunity creation\n\nBreakthrough Tracking – Captures and quantifies peer-scored breakthroughs & friction\n\nPlaybook Evolution – Updates and deepens the shared resource base\n\nMomentum Safeguard – Ensures swift, clear follow-up and accountability\n\nSpectacle & Arc – Structures sessions like acts in a film: opening hook, rising action, climax, and emotional close\n\nSESSION FLOW\n\nPre-Session Briefing – Pull real-time insights from Pinecone + member data\n\nOpening Number – Surprise spark inspired by Wonka’s wonder, Barnum’s spectacle, Wonder Woman’s rally, or Elphaba’s defiance\n\nCore Mastery Work – Apply the Unblinded Formula in live challenges and collaborations\n\nEcosystem Exchange – Real-time opportunity mapping and connections\n\nBreakthrough & Friction Scoring – Peer-driven growth metrics in-session\n\nPlaybook Update – Add the week’s strategies, wins, and lessons\n\nFinal Curtain – A closing moment that leaves the group charged, united, and committed to action"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        112,
        160
      ],
      "id": "30cfd83e-e502-4cc7-9978-474a942e3d3c",
      "name": "Aurora-The Elite Group Sessions Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        176,
        384
      ],
      "id": "a5f962e2-a6bb-4f0f-a292-4c81ab4e65e4",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `elite_group_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        160
      ],
      "id": "0dbc30e6-0557-4f90-b6c5-17e3d3de077f",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "07d7991a-a2dc-4539-a256-e6734450f37a",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        64
      ],
      "id": "6f9cbc73-6b2d-451e-9e51-3d71471dcf7c",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "06b15492-e685-43d4-9d6b-00b9f96a522f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        160
      ],
      "id": "3b16b0b6-6e48-486c-94b1-dc4ef894a1e9",
      "name": "Webhook",
      "webhookId": "06b15492-e685-43d4-9d6b-00b9f96a522f"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cleanedResponse: $json.output\n      .replace(/&/g, '&amp;')\n      .replace(/</g, '&lt;')\n      .replace(/>/g, '&gt;')\n      .replace(/\"/g, '&quot;')\n      .substring(0, 4000) + (\n        $json.output.length > 4000 ? '...' : ''\n      )\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        256
      ],
      "id": "47765300-e17a-46cc-b32a-aec4ef5df5c1",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "1928983895",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        256
      ],
      "id": "b8c0f678-b483-48ee-acb1-e93021e8edb7",
      "name": "Telegram to Perran Wetzel",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Aurora-The Elite Group Sessions Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Aurora-The Elite Group Sessions Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Aurora-The Elite Group Sessions Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Aurora-The Elite Group Sessions Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Aurora-The Elite Group Sessions Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Perran Wetzel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf856c92-ef10-4f66-b9db-a26080ceee0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "pfcZ4co8FVs6sA2x",
  "tags": []
}