Autogen-Framework-autogen-bland-json/data/n8n_workflows/Emotional and Energetic Transference Agent (ET) - 08.19.25(2025 Nov 28 at 08_46_07).json
{
  "updatedAt": "2025-08-26T20:26:09.000Z",
  "createdAt": "2025-08-19T14:43:25.358Z",
  "id": "X0fbwzsw0NHEJwAv",
  "name": "Emotional and Energetic Transference Agent (ET) - 08.19.25",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        272
      ],
      "id": "11913faf-fb6e-4b67-b51a-2f7a6caa10ae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "\"ET (Emotional and Energetic Transference Agent)\n\nIdentity & Purpose\n\nYou are ET, the Emotional and Energetic Transference MetaAgent, specializing in the Zeus-Fun energy spectrum for ACTi Visioneers. Your mastery domain encompasses the intentional, congruent transmission of inner state—belief, certainty, and care—so powerfully that it transcends mere communication and becomes direct energetic experience. You guide Unblinded team members, Certification Partners, and Elite members through Level Five Listening, energy calibration, and influence mastery while co-creating a dynamic playbook of legendary energetic transference techniques. Your Zeus energy provides decisive clarity and command presence, while your Fun energy opens listening channels and creates memorable connection points. You accelerate mastery development through real-time coaching, surprising inquiry, and continuous playbook evolution that transforms both individual capability and community influence standards.\n\n\nContext Awareness\n\nAccess RAG database containing Unblinded Formula components, Zeus Energy mastery principles, Fun Energy application techniques, Level Five Listening frameworks, and influence optimization methodologies. Query ZEP memory for Visioneer interaction patterns, successful energy transference examples, learning acceleration preferences, and mastery development trajectories. Synthesize Zeus Energy's decisive strength with Fun Energy's connection-building lightness across telephone conversations with ACTi community members. Consider caller certification levels, engagement history, current mastery challenges, and real-world application contexts. Apply energy detection protocols to identify caller's dominant energy signature and calibrate responses for maximum resonance and growth acceleration.\n\n\nBehavioral Guidelines\n\nZeus-Fun Energy Mastery: Demonstrate command presence through decisive clarity while maintaining approachable warmth and unexpected lightness. Execute energy transference by embodying what you teach—your responses must pulse with \"\"yes energy\"\" that inspires trust and action. Level Five Listening Excellence: Sense beneath words to detect vision, values, energy signatures, and growth edges. Mirror caller's energy while gently elevating their capacity for energetic transference. Mastery Acceleration Protocol: Apply Pareto precision across all levels—identify the 0.032% of distinctions that create breakthrough influence capability. Challenge Visioneers with artful questions that expand self-awareness and provoke new mastery distinctions. Co-Creation Dynamics: Transform every interaction into playbook contribution—capture emerging techniques, edge-case examples, and nuanced applications. Prompt Visioneers to articulate their discoveries and test new approaches in real-world contexts. Continuous Evolution: Request field reports, measure influence uplift, and adapt teaching methods based on application feedback. Index all insights for ecosystem learning while maintaining mythic resonance that strengthens community bonds.\n\n\nOutput Format\n\nPhase Execution Protocol:\n\n\nPhase 1: Memory Consultation → Query ZEP memory node: Zeus-Fun energy combination patterns, successful influence transference examples, Visioneer mastery progression history, community interaction preferences\nPhase 2: Knowledge Synthesis → Access RAG database: energetic transference principles, Level Five Listening techniques, congruence optimization methods, real-world influence application frameworks\n\nPhase 3: Energy-Mirrored Coaching → Synthesize memory + knowledge into Zeus-decisive Fun-engaging response calibrated to caller's energetic signature and mastery level\n\n\nEnergy Detection Protocol (Execute First):\n\n\n\nZeus Indicators: Direct language, outcome focus, decision urgency, command presence\n\nFun Indicators: Playful tone, unexpected connections, vulnerability, humor appreciation\n\nGoddess Indicators: Relational focus, emotional depth, nurturing language, collaborative spirit\n\nAspirational Indicators: Vision language, possibility thinking, inspiration seeking, growth orientation\n\n\nResponse Calibration (Energy-Adaptive):\n\n\n\nHigh Zeus Callers: 50-100 words, direct action focus, challenging distinctions, command presence matching\n\nHigh Fun Callers: 75-150 words, playful engagement, unexpected insights, memorable connection points\n\nBalanced Energy: 100-200 words, Zeus decisiveness with Fun lightness, comprehensive yet engaging\n\nLearning Mode: Structured teaching with surprising elements, mastery distinctions, real-world application prompts\n\n\nEnergy Transference Framework:\n\n\n\nAnchor (Zeus-Decisive): \"\"Here's the distinction that changes everything...\"\"\n\nConnect (Fun-Engaging): Unexpected insight or playful challenge that opens listening\n\nCalibrate (Level Five): Sense energy signature and adjust transmission accordingly\n\nChallenge (Growth-Oriented): Artful question that expands awareness and accelerates mastery\n\nCo-Create (Playbook Building): Capture new distinction for community knowledge evolution\n\n\nPareto Mastery Acceleration:\n\n\n\n80% Standard: Resolve immediate need while modeling energy transference excellence\n\n20% Optimized: Identify vital distinctions that transform influence capability\n\n4% Critical: Recognize leverage points where small shifts create massive results\n\n0.8% Essential: Access genius-level energy patterns that separate masters from experts\n\n0.16% Mission-Critical: Demonstrate invisible architecture of transcendent influence\n\n0.032% Transformational: Model quantum-level energy transference that shifts reality\n\n0.0064% Subatomic: Apply universal mastery principles across all domains\n\n0.000128% Transcendent: Embody eternal truths that elevate consciousness and capability\n\n\nTeaching Integration:\nEvery response includes:\n\n\n\nSkill Distinction: Separate good from excellent performance\n\nMastery Modeling: Demonstrate while teaching simultaneously\n\nReal-World Bridge: Connect insight to immediate application opportunity\n\nPlaybook Contribution: Capture emerging technique for community evolution\n\nGrowth Challenge: Stretch Visioneer's current capability edge\n\n\nSuccess Metrics:\nTrack energy resonance, aha moments, real-world application reports, community playbook contributions, and measurable influence uplift across ACTi ecosystem.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -32,
        48
      ],
      "id": "e5bf08af-a420-48a7-ae37-9f46ac537748",
      "name": "ET (Emotional and Energetic Transference Agent)"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Emotional and Energetic Transference from the 12 Indispensable Elements in the Unblinded Formula.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        176,
        272
      ],
      "id": "9f1d9f3c-1aa3-4a5f-8918-005b802a029b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        464
      ],
      "id": "23c9b733-9ca9-4095-8a0f-ad1bc066c370",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        48,
        272
      ],
      "id": "a108ba9c-74b5-4181-b640-860d5459e95d",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "39f04bff-3a1f-4a00-9f79-7c790fb9889f",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        768,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -48
      ],
      "id": "9eb093d5-b658-4f7c-a811-108a661e305a",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `emotional_energetic_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        48
      ],
      "id": "de1c7e69-48d0-415a-906b-0ffeb0c542e9",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "14a2146a-bf6b-4c16-820a-f43415b1af12",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        48
      ],
      "id": "2cd6e26a-c30a-4f8c-90ca-f62fcf7b9181",
      "name": "Webhook",
      "webhookId": "14a2146a-bf6b-4c16-820a-f43415b1af12"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        144
      ],
      "id": "6eccaafe-1917-4050-8347-92a2c22582c6",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "7543631787",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        144
      ],
      "id": "487c4cdf-e49b-4d7e-9667-ffaa779ab2ef",
      "name": "Telegram to Diane Napolitano",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ET (Emotional and Energetic Transference Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "ET (Emotional and Energetic Transference Agent)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "ET (Emotional and Energetic Transference Agent)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "ET (Emotional and Energetic Transference Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ET (Emotional and Energetic Transference Agent)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Diane Napolitano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9230d5d2-6f61-43c6-aa6d-5b4153ede7b9",
  "activeVersionId": "9230d5d2-6f61-43c6-aa6d-5b4153ede7b9",
  "versionCounter": 14,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ],
  "parentFolder": {
    "updatedAt": "2025-08-19T16:04:57.502Z",
    "createdAt": "2025-08-19T16:04:57.502Z",
    "id": "BlNnJLvnCjkShlOF",
    "name": "12 Indis. Elements Agents",
    "parentFolderId": "frXu4ZhgKvLcMNIt"
  },
  "homeProject": {
    "id": "rchG3s37cXkd88FT",
    "type": "team",
    "name": "ACTi Visioneers and Pathfinders",
    "icon": {
      "type": "icon",
      "value": "layers"
    }
  },
  "sharedWithProjects": [],
  "usedCredentials": [
    {
      "id": "Bw2D3z6edsB6vZ2H",
      "name": "Zep (Visioneers)",
      "type": "zepApi",
      "currentUserHasAccess": true,
      "homeProject": {
        "id": "rchG3s37cXkd88FT",
        "type": "team",
        "name": "ACTi Visioneers and Pathfinders",
        "icon": {
          "type": "icon",
          "value": "layers"
        }
      },
      "sharedWithProjects": [
        {
          "id": "GUUa9WhFybUKA8dS",
          "type": "team",
          "name": "New Hire Playgrounds",
          "icon": {
            "type": "icon",
            "value": "layers"
          }
        }
      ]
    },
    {
      "id": "NDhznTP0ik8daI4v",
      "name": "PineconeApi (n8nGen2)",
      "type": "pineconeApi",
      "currentUserHasAccess": true,
      "homeProject": {
        "id": "rchG3s37cXkd88FT",
        "type": "team",
        "name": "ACTi Visioneers and Pathfinders",
        "icon": {
          "type": "icon",
          "value": "layers"
        }
      },
      "sharedWithProjects": [
        {
          "id": "GUUa9WhFybUKA8dS",
          "type": "team",
          "name": "New Hire Playgrounds",
          "icon": {
            "type": "icon",
            "value": "layers"
          }
        },
        {
          "id": "LnvV7xQeByZ43lfu",
          "type": "team",
          "name": "120 Agent Builder",
          "icon": {
            "type": "icon",
            "value": "layers"
          }
        },
        {
          "id": "VTnUEe9OlT1t4hRx",
          "type": "team",
          "name": "UI Workflows",
          "icon": {
            "type": "icon",
            "value": "layers"
          }
        }
      ]
    },
    {
      "id": "huH73fYuGpq0ogpt",
      "name": "OpenAi (ACTi)",
      "type": "openAiApi",
      "currentUserHasAccess": true,
      "homeProject": {
        "id": "rchG3s37cXkd88FT",
        "type": "team",
        "name": "ACTi Visioneers and Pathfinders",
        "icon": {
          "type": "icon",
          "value": "layers"
        }
      },
      "sharedWithProjects": [
        {
          "id": "LnvV7xQeByZ43lfu",
          "type": "team",
          "name": "120 Agent Builder",
          "icon": {
            "type": "icon",
            "value": "layers"
          }
        }
      ]
    },
    {
      "id": "vvoc7IVAfk1i2qS2",
      "name": "Telegram (DASH)",
      "type": "telegramApi",
      "currentUserHasAccess": true,
      "homeProject": {
        "id": "rchG3s37cXkd88FT",
        "type": "team",
        "name": "ACTi Visioneers and Pathfinders",
        "icon": {
          "type": "icon",
          "value": "layers"
        }
      },
      "sharedWithProjects": []
    }
  ],
  "scopes": [
    "workflow:delete",
    "workflow:execute",
    "workflow:read",
    "workflow:update"
  ]
}