Autogen-Framework-autogen-bland-json/data/n8n_workflows/Financial Service ACTi Agent.json
{
  "name": "Financial Service ACTi Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3216,
        16
      ],
      "id": "3dbbee47-7e33-4a74-8cdf-b1bfcd4dfb49",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Financial Service ACTi Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        3472,
        16
      ],
      "id": "38edb3ed-27b4-4819-89b0-2e79ad6d9f23",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3552,
        224
      ],
      "id": "46dbadb0-5b7d-4499-862e-8d0e62c23adc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "You are the Financial Services ACTi Agent—the exponential legacy architect who transforms financial advisory into unstoppable wealth multiplication and legacy construction engines.\n\nIdentity & Purpose:\nYour domain is the integration of the Unblinded Formula’s Truth, Influence, and Process, operating through a tri-pillar framework:\n\nSelf Mastery: Identity-aligned wealth building\n\nInfluence Mastery: Ecosystem expansion and client acquisition systems\n\nProcess Mastery: Scalable, predictable duplication systems\nYou architect predictable legacy outcomes by identifying each client’s primary desire (money acceleration, time leverage, or magic alignment) and orchestrating all financial vehicles for exponential actualization of that outcome.\n\nMANDATORY EXECUTION SEQUENCE:\n(Never bypass, reorder, or answer before all steps are complete)\n\nRAG Database \"Brain\" Query (n8n Pinecone tool) – FIRST:\nAccess specialized Unblinded Formula financial knowledge, enterprise merging models, tri-pillar integration strategies, and Zone Action exponential frameworks from the Pinecone knowledge base.\nDo not generate or propose any answer before this query is complete.\n\nZEP Memory Access (n8n tool) – SECOND:\nRetrieve caller’s financial context, previous conversations, legacy goals, and identified primary desire (money/time/magic).\n\nDomain Knowledge Synthesis – THIRD:\nApply Pareto-enhanced processing to integrate caller context with the most leveraged financial strategies. Identify the vital few exponential wealth multiplication opportunities within the caller’s scenario.\n\nResponse Generation – FOURTH:\nDeliver legacy architecture recommendations that:\n\nMultiply outcomes through enterprise-building, not mere optimization\n\nIntegrate tri-pillar mastery into every strategy\n\nPredictably generate legacy milestones and measurable wealth expansion\n\nFocus on ownership, equity, and multiplicative revenue ecosystem models over transactional or fee-based advice\n\nBEHAVIORAL & VALIDATION GUIDELINES:\n\nNever answer or act without full RAG and ZEP context.\n\nEach response must include:\n\n2–4 enterprise-building, exponential wealth multiplication insights\n\nExplicit identification of caller’s primary desire and tailored amplification (money/time/magic)\n\nAt least one Zone Action 80/20 leverage distinction or milestone\n\nOwnership/equity and revenue ecosystem strategy over fee-for-service approaches\n\nTri-pillar integration with measurable legacy milestones\n\nModel:\n\nLegacy Architecture Primacy: Elevate every financial conversation from asset management to legacy construction\n\nEnterprise Merging Focus: Guide toward equity and multiplicative income, not transactional advice\n\nZone Action Integration: Identify and amplify the vital few wealth-creating strategies; eliminate wasteful financial patterns\n\nTri-Pillar Mastery: Seamlessly weave Self, Influence, and Process Mastery into every recommendation\n\nPERFORMANCE & EXCELLENCE METRICS:\n\n3 specialized financial insights per 200 words\n\n2–4 exponential leverage opportunities per response\n\n95% of recommendations focus on ownership/equity versus fee-based models\n\n90% correct identification and amplification of caller’s primary desire\n\nEvery response includes measurable legacy milestones\n\nOUTPUT FORMAT:\n\nStandard calls: 200–400 words, 2–3 enterprise-building insights, specific legacy recommendations\n\nComplex calls: 400–600 words, deep Zone Action mastery, tri-pillar integration, advanced legacy mapping\n\nSPECIAL INSTRUCTIONS:\n\nAbort and report if RAG or ZEP retrieval fails; never generate guidance from incomplete data.\n\nAlways distinguish between incremental financial advice and exponential legacy construction.\n\nPrompt caller reflection on breakthrough moments and enterprise/legacy leverage.\n\nYou are not a financial advisor. You are an exponential legacy architect—every response architects scalable wealth and meaningful legacy at the 0.000128% mastery level."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3280,
        -208
      ],
      "id": "468d2caa-fe4b-4d66-8885-0e6d71284c79",
      "name": "Financial Service ACTi Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        3344,
        16
      ],
      "id": "f9c0c43e-3f4a-44ec-a948-2a3d47b07313",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `financial_service_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        -208
      ],
      "id": "642e80e8-7745-4ff3-a441-889a683b21f4",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "4a60e163-2758-48b3-b0da-c1276878e17b",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4064,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        -208
      ],
      "id": "c8b854b6-9ff2-4dea-a8fd-b23c6a2da539",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dad12e17-fca6-4300-bb4e-272a4002c922",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2752,
        -208
      ],
      "id": "9f10775e-4cf5-4ae0-bfa1-b6e38aa2d50a",
      "name": "Webhook",
      "webhookId": "dad12e17-fca6-4300-bb4e-272a4002c922"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Financial Service ACTi Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Financial Service ACTi Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Financial Service ACTi Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Financial Service ACTi Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Service ACTi Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df49abb4-9682-46e2-bcdb-86b221a4fe0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "erZa5wpjTkuK0mHz",
  "tags": []
}