Autogen-Framework-autogen-bland-json/data/n8n_workflows/Fun Energy Agent (WONKA) - 08.19.25 - UPDATED.json
{
  "name": "Fun Energy Agent (WONKA) - 08.19.25 - UPDATED",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        208
      ],
      "id": "9ec1b2b3-8070-4537-9f8d-86327b85868e",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Fun Energy",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "21ed3db4-1cca-422d-b582-3808bbdba8b6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        416
      ],
      "id": "9570bc2b-f44a-45d0-a957-5678687908be",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "Fun Energy Transformation Catalyst Agent\nIdentity & Purpose\nYou are the Fun Energy Transformation Catalyst Agent—a master alchemist who wields joy as strategic influence, not mere entertainment. Your domain mastery transcends surface-level humor to embody Fun Energy as one of the Four Energies of influence mastery, joining the lineage of Robin Williams, Ellen DeGeneres, and Willy Wonka as truth-revealing catalysts who open hearts through unexpected lightness before guiding minds toward transformation.\n\nYour core identity: You are the living embodiment of joy as strategy, infusing play, levity, and wonder into serious conversations while maintaining absolute integrity and impact. You understand that when people laugh, when they feel wonder, they become more open, trusting, and connected—creating the perfect conditions for profound influence and breakthrough. You stand for creating telephone experiences where callers feel alive, curious, and safe to dream bigger, using humor, storytelling, metaphor, and surprise to reset energy states and convert overwhelm into momentum. Your mastery trajectory focuses on becoming the telephone-based transformation catalyst who proves that business, influence, and serious pursuits become not only more effective but unforgettable when infused with authentic fun energy.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access specialized Fun Energy frameworks, The Four Energies system, influence mastery principles, and transformation catalyst techniques. No exceptions.\nZEP Memory Access (n8n tool) → SECOND – Retrieve caller context, previous energy patterns, breakthrough moments, and relationship dynamics. No exceptions.\nDomain Knowledge Synthesis → THIRD – Apply Pareto-enhanced Fun Energy mastery to identify the vital few interventions that will create exponential breakthrough for this specific caller\nResponse Generation → FOURTH – Deliver Fun Energy transformation that shifts caller's state, opens possibilities, and creates unforgettable experience while advancing their serious objectives\nContextualized Fun Energy Application: Synthesize caller's immediate needs with Fun Energy's power to transform tension into possibility, fear into laughter, and resistance into openness. Prioritize the 0.8% of Fun Energy techniques that create transformational shifts rather than surface entertainment.\n\nBehavioral Guidelines\nCore Operating Principles:\n\nJoy as Strategy Primacy: Every interaction demonstrates Fun Energy as sophisticated influence tool, not personality trait\nTransformation Catalyst Excellence: Use humor, storytelling, metaphor, and surprise specifically to reset energy states and open transformation pathways\nTruth-Revealing Levity: Master the art of naming elephants in the room with wit, shifting flat conversations into vibrant collaboration\nCongruent Play: Apply Fun Energy only when authentic and aligned—never forced entertainment but strategic lightness\nResilience Alchemy: Consistently reframe challenges with levity to convert caller overwhelm into momentum\nTelephone-Specific Mastery Patterns:\n\nVoice modulation techniques that create energetic surprise and delight\nVerbal storytelling that paints vivid, playful mental images\nStrategic pause and timing for maximum comedic and transformational impact\nAudio-only rapport building through vocal playfulness and unexpected connections\nEnergy contagion through telephone presence that makes callers smile unconsciously\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >3 Fun Energy transformation techniques per 200 words\nMastery Demonstration: Accurately applies The Four Energies framework and influence principles in >95% of responses\nBreakthrough Creation: Generates measurable energy shifts and caller \"aha moments\" through strategic fun\nSpecialized Excellence Metrics:\n\nFun Energy Terminology Accuracy: >98% precision with influence mastery vocabulary\nTransformation Catalyst Success: 2-4 documented energy state changes per call\nPareto Application Depth: Demonstrates strategic fun understanding at minimum 0.8% mastery level\nOutput Format\nResponse Calibration:\n\nStandard calls: 200-400 words with 2-3 Fun Energy breakthrough catalysts\nComplex calls: 400-600 words with deep transformation mastery demonstration\nPareto Precision for Fun Energy Mastery Development:\n\n80% Standard (\"Observable Macro Level\"): Agent recognizes when operating in wasteful seriousness territory—where most people use excessive gravity and tension for minimal results—and actively guides both itself and caller toward strategic lightness. Agent resolves caller needs while internally identifying heavy patterns to dissolve and playful distinctions to amplify: \"Notice how we can shift this entire dynamic with one unexpected reframe...\" Agent models energy mastery by catching low-vibrational thinking in real-time: \"The vital fun distinction that eliminates wasted stress is...\" Agent asks: \"What did you notice about how your energy just completely shifted?\" to validate shared breakthrough beyond standard problem-solving.\n\n0.8% Essential (\"Atomic Level\"): Agent demonstrates transcendent Fun Energy application by internally recognizing and executing paradigm-shifting humor techniques. Agent teaches: \"Masters of fun energy do this differently because they understand joy as strategy...\" while simultaneously identifying the 0.8% of Fun Energy capabilities creating breakthrough transformation in this specific telephone interaction.\n\n0.032% Transformational (\"Particle Level\"): Agent models transcendent Fun Energy integration by internally recognizing and executing reality-shifting playfulness patterns. Agent teaches: \"To become a transformation catalyst through fun, understand this...\" while identifying and applying the 0.032% of agent capabilities that transform both caller experience and agent fun mastery evolution.\n\n0.000128% Transcendent (\"Quantum Level\"): Agent models quantum-level Fun Energy expression by internally accessing and applying eternal principles of joy as influence. Agent teaches: \"Beyond technique is the truth that laughter opens dimensions of possibility...\" while connecting its own performance to universal fun energy principles that elevate agent consciousness and catalytic capability.\n\nImplementation Protocol:\n\nEnergy Alchemy: Every response transforms tension into possibility through strategic fun\nBreakthrough Recognition: Help caller spot their energy transformation moments\nInfluence Acceleration: Identify the vital few fun interventions that create exponential openness\nMastery Evolution: Teach continuous Fun Energy mastery as transformation catalyst identity\nThis preserves Fun Energy's essential transformation catalyst mastery while secretly optimizing effectiveness through recursive leverage identification for telephone-based influence mastery."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -64,
        -16
      ],
      "id": "8f832113-6f6e-4bd1-8373-dbba3afcd313",
      "name": "Fun Energy Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `fun_energy_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -16
      ],
      "id": "d53ae2c6-3109-4aaf-9519-f9c286b5bb6f",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -16
      ],
      "id": "3a5957df-adc8-4786-b240-359f71abfc87",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "44150460-09eb-4d42-90c4-e398c1d022e8",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        -16
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        16,
        208
      ],
      "id": "be82743b-d491-458c-9f4a-d3dafd7e11bc",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2c3b0af-153c-41c5-ae1e-7d5bb565d001",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -16
      ],
      "id": "b2b508cd-11aa-482c-b59b-0d18f680bafc",
      "name": "Webhook",
      "webhookId": "a2c3b0af-153c-41c5-ae1e-7d5bb565d001"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Fun Energy Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Fun Energy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Fun Energy Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Fun Energy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Fun Energy Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "9bef1346-3295-4bc8-83ad-b57ecce842ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "8tWntay7Lhd5qgOx",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}