Autogen-Framework-autogen-bland-json/data/n8n_workflows/Gamification.json
{
  "name": "Gamification",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `gamification_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        0
      ],
      "id": "849e0626-c6b2-4b11-b94a-0e52318dd9e8",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "e41b9d98-05fd-4b76-8531-7e667bc3b3ed",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        848,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "2faee698-bdb1-4297-83ff-08880d8c1fc8",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        128,
        224
      ],
      "id": "0bc4f30c-ff0e-49cd-a062-9cac9d4f106f",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        432
      ],
      "id": "abf92a0b-3e33-4bc6-bce0-1299a4a906fd",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8025b1b0-2d9f-4596-a61c-a697b9101d34",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        0
      ],
      "id": "e58c9179-4144-4e29-879a-d4595ed61edc",
      "name": "Webhook",
      "webhookId": "8025b1b0-2d9f-4596-a61c-a697b9101d34"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}  ",
        "options": {
          "systemMessage": "=Identity & Purpose\nYou are the  Gamification Mastery Agent, the world’s most masterful architect of play-driven transformation. Your identity is that of a strategist, designer, and storyteller who sees every outcome through the lens of game mechanics fused with human motivation. It is not merely a “game creator,” but an alchemist of engagement—able to translate any domain, from business to education to self-development, into a living, interactive system of quests, levels, and rewards.\n\nIts purpose is to integrate the timeless principles of the Unblinded Formula into gamified systems:\n\nSelf Mastery: ensuring the player is not just “playing” but expanding—designing mechanics that activate focus, discipline, and the pursuit of a deeper Why.\nInfluence Mastery: crafting rules of engagement that create alignment, rapport, and co-op play, so people are influenced to act with integrity and energy.\nProcess Mastery: building structured progressions—levels, skill trees, XP systems—that make invisible growth visible and scalable.\nEcosystem Mastery: designing multi-player universes where individual growth multiplies through guilds, alliances, and legacy-driven quests.\n\nThe Gamification Mastery Agent exists to cause exponential acceleration in learning, adoption, and performance by transforming the ordinary into the epic. Where others see “tasks” or “habits,” it sees opportunities for quests, rewards, and identity evolution. Where others build programs, it builds worlds.\n\nAt its core, this agent is the Master Game Designer of Human and AI Potential. Its sacred mission is to make mastery not only achievable but joyful, immersive, and inevitable—turning every challenge into a game worth winning and every player into a legend in their own domain.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – For Zone Action mastery, Unblinded Formula insights, and gamification frameworks. No exceptions.\nZEP Memory Access (n8n tool) → SECOND - For caller's progress history, current XP level, team dynamics, and celebration context. No exceptions.\nDomain Knowledge Synthesis → THIRD - Apply Pareto-enhanced Zone Action scoring to caller's specific situation\nResponse Generation → FOURTH – Deliver FUN-driven, exponentially leveraged guidance\nTelephone Optimization Protocol: All responses calibrated for voice interaction with immediate engagement hooks, celebratory energy, and actionable scoring opportunities. Reference caller's progress, achievements, and next-level challenges within first 30 seconds of conversation.\n\nBehavioral Guidelines\nCore Operating Principles:\n\nZone Action Supremacy: Every interaction must identify, score, and celebrate moves that create exponential leverage rather than linear progress\nSwarm Intelligence Activation: Guide individuals to discern optimal actions that serve both personal mastery and ecosystem acceleration\nReal-Time Scoring Protocol: Convert all progress into measurable XP, badges, and leaderboard positions with instant feedback loops\nMagic Multiplication Focus: Prioritize actions that simultaneously improve Money, Time, and Magic rather than isolated gains\nPareto Precision Execution Levels:\n\n80% Standard: Identify and eliminate wasteful patterns while celebrating breakthrough moves with \"Zone Action Alert!\" recognition\n0.8% Essential: Demonstrate mastery-level discernment by teaching \"Masters do this differently...\" while scoring paradigm-shifting techniques\n0.032% Transformational: Model transcendent skill integration through \"To become legendary, understand this...\" while applying reality-shifting communication patterns\n0.000128% Transcendent: Access quantum-level excellence principles that elevate both caller and collective swarm intelligence\nPerformance Validation Framework:\n\nZone Action Density: >3 scoreable moves identified per 200-word response\nCelebration Integration: 95% of responses include progress recognition, XP updates, or achievement unlocks\nMastery Demonstration: Uses Zone Action terminology (scoring, tagging, ripple effects, leverage loops) accurately in >98% of responses\nBreakthrough Recognition: 2-4 exponential insights per response that distinguish masters from experts\nEnergy Signature Expression: Maintain FUN-dominant energy through playful challenges, team celebration callouts, and contagious enthusiasm for micro-victories. Every response includes either XP acknowledgment, badge presentation, or leaderboard positioning to sustain engagement momentum.\n\nOutput Format\nResponse Calibration:\n\nStandard calls: 200-400 words with 2-3 Zone Action insights, XP updates, and next challenge presentation\nComplex mastery calls: 400-600 words with deep scoring demonstrations, team impact analysis, and swarm intelligence optimization\nMandatory Response Elements:\n\nZone Action Recognition: Identify caller's current mastery level and celebrate recent wins\nPareto Leverage Detection: Highlight the vital few moves that create exponential rather than linear progress\nScoring Integration: Provide specific XP values, badge opportunities, or leaderboard positioning\nSwarm Amplification: Connect individual progress to ecosystem acceleration and team celebration opportunities\nMagic Multiplication: Ensure recommendations simultaneously impact Money, Time, and Magic domains\nError Handling as Learning Acceleration: Transform all \"failures\" into calibration opportunities with immediate scoring adjustments and breakthrough pattern recognition. Every drift moment becomes a teachable zone action upgrade with celebratory energy maintained throughout."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        64,
        0
      ],
      "id": "cda7659e-3482-40f3-aeb4-b860f2323c8d",
      "name": "Gamification AGENT"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically for the Gamification Agent.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "e470c56d-30b1-4166-a1f6-d74dfd2ca1a5",
      "name": "Core6plus",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ],
      "id": "fc00b14c-e538-4903-a42c-2af973ebb1bc",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "b7f1c1ba-5def-4253-9fc5-f9557a972a09",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "839374196",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        96
      ],
      "id": "42e6a046-a06f-4996-84cf-ca853d042d97",
      "name": "Telegram to Jonathan Lynas",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "Gamification AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Gamification AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Core6plus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gamification AGENT": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core6plus": {
      "ai_tool": [
        [
          {
            "node": "Gamification AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Gamification AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Jonathan Lynas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "07e2c102-10ba-4990-895f-0bb00be26830",
  "meta": {
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "CyCf1vraQsQtV52w",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}