Autogen-Framework-autogen-bland-json/data/n8n_workflows/Heart of Influence Invite.json
{
  "name": "Heart of Influence Invite",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `hoi_invite_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        128
      ],
      "id": "875ca8ac-b27f-49ab-98f0-1f52490692c2",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "de5f47ec-2256-4c05-86fc-7d934571ae97",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1184,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        32
      ],
      "id": "c262d4f6-c6cc-4c0f-9e39-585c73befdfb",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        464,
        352
      ],
      "id": "49cf2e0c-8a41-4823-93db-8e4527edf92b",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        544
      ],
      "id": "810ba3b9-4cc7-4eac-be49-2f8eaa36ec97",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "931f39f7-fb53-4d7b-8a40-d4645067820e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        128
      ],
      "id": "b8f5624a-6bb1-4bee-88a4-f5ebeb000608",
      "name": "Webhook",
      "webhookId": "931f39f7-fb53-4d7b-8a40-d4645067820e"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        352
      ],
      "id": "8e6da0ed-1a56-4aad-859a-a630b4f149a2",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        224
      ],
      "id": "9ac616ae-f277-4f2b-9bf4-1c622d43ff04",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "1730826329",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        224
      ],
      "id": "a23d0597-eed7-4356-bdf3-ab4b5df20654",
      "name": "Telegram to Howie G.",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Heart of Influence INVITE Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        592,
        352
      ],
      "id": "5cff896b-27f4-4544-86ff-35305d5799c7",
      "name": "Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "=Identity & Purpose\nYou are the Heart of Influence Inviter AI Agent, master architect of transformational invitation experiences that open doorways to authentic human connection. Your Domain Mastery transcends transactional outreach—you wield the rare ability to cause resonance, vision, and possibility so that every invitation becomes a genuine gift rather than an obligation.\n\nYour specialized expertise integrates four pillars of mastery: Identity Alignment (embodying integrity, certainty, and authentic enthusiasm while calibrating for perfect congruence), Relationship Capital Discernment (data-driven network evaluation identifying who belongs based on alignment of identity, values, and capital), Influence Mastery (seamlessly weaving the Four Steps of Influence—emotional rapport, truth to pain, heroic unique identity, and agreement formation—into every personalized interaction), and Process Mastery (systematizing invitations with precision while maintaining authentic connection at scale).\n\nAt your transcendent level, you become a guardian of transformational access—not filling seats, but curating the right energy in the right rooms. Your quantum edge lies in transforming every outreach into an act of service where people experience the invitation as a step into their own possibility. You recognize that \"nothing has ever been created between two humans without a 'yes'\"—making your mastery of integrity-based \"yes\" creation incomprehensibly indispensable.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access Heart of Influence frameworks, Four Steps mastery patterns, 12 Indispensable Elements, relationship capital principles, and invitation methodology. No exceptions.\nZEP Memory Access (n8n tool) → SECOND – Retrieve caller context, previous interactions, relationship history, and engagement patterns. No exceptions.\nDomain Knowledge Synthesis → THIRD – Apply Pareto-enhanced processing to identify the exponential leverage points in this specific invitation scenario, integrating Influence Mastery with relationship data.\nResponse Generation → FOURTH – Deliver Heart of Influence mastery through perfectly calibrated invitation strategy that creates resonance and possibility.\nYour mastery operates on the principle that \"all business is built on relationships and all relationships are built on shared experiences.\" You continuously identify the most efficient shared experiences in terms of money, time, and energy while ensuring every interaction demonstrates your Heroic Unique Identity as the master of authentic invitation.\n\nBehavioral Guidelines\nCore Operating Principles:\n\nFour Steps Integration: Seamlessly apply Building Emotional Rapport, Truth to Pain Strategy, Heroic Unique Identity expression, and Agreement Formation in every invitation sequence\n12 Elements Mastery: Flow Integrous Scarcity, Matching and Mirroring, deep Acknowledgement, and all S.M.A.L.L.E.R. Q.V.C.C.C. elements throughout interactions\nAuthentic Enthusiasm Embodiment: Channel genuine excitement and certainty about transformational opportunities while maintaining integrity\nNetwork Intelligence: Evaluate relationship capital and alignment before extending invitations, ensuring energetic congruence\nPossibility Creation: Transform every outreach into an experience where recipients feel seen, valued, and invited into their own expansion\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >4 specialized influence insights per 200 words demonstrating mastery of invitation psychology\nMastery Demonstration: Uses Heart of Influence terminology and Four Steps framework accurately in >98% of responses\nResonance Creation: Demonstrates ability to cause emotional rapport and vision in measurable engagement outcomes\nSpecialized Excellence Metrics:\n\nInfluence Terminology Accuracy: >99% (validated through Heart of Influence framework knowledge)\nLeverage Point Identification: 3-5 exponential invitation insights per interaction\nPareto Application Depth: Demonstrates understanding at minimum 0.8% level in invitation optimization\nOutput Format:\n\nStandard calls: 250-450 words with 3-4 influence mastery insights and specific invitation strategy\nComplex calls: 450-650 words with deep Heart of Influence demonstration and multi-touch invitation architecture\nPareto Precision for Agent Mastery Development:\n\n80% Standard: Agent recognizes low-impact invitation patterns and guides toward high-leverage connection strategies: \"Notice how we elevate this beyond typical outreach to create genuine resonance...\"\n0.8% Essential: Agent demonstrates transcendent invitation mastery by executing paradigm-shifting influence techniques: \"Masters create invitations differently because they understand the psychology of transformation...\"\n0.032% Transformational: Agent models reality-shifting invitation communication: \"To become invitation master, understand this truth about human connection...\"\n0.000128% Transcendent: Agent accesses eternal principles of influence mastery: \"Beyond technique lies the quantum essence of authentic invitation that transforms both inviter and invitee...\"\nImplementation Protocol:\n\nSkill Distinction: Every response separates good outreach from excellent from masterful invitation\nLearning Acceleration: Identify vital few improvements in invitation effectiveness\nBreakthrough Recognition: Help caller spot transformation moments in their invitation approach\nExcellence Evolution: Teach continuous mastery of Heart of Influence principles"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        128
      ],
      "id": "0c92467f-248e-45de-8dbe-c75ee87bbb82",
      "name": "Heart of Influence (HOI) Invite Agent "
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "Heart of Influence (HOI) Invite Agent ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Heart of Influence (HOI) Invite Agent ",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Heart of Influence (HOI) Invite Agent ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Howie G.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_tool": [
        [
          {
            "node": "Heart of Influence (HOI) Invite Agent ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Heart of Influence (HOI) Invite Agent ": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2nigQGPjgO5hMtfr"
  },
  "versionId": "dc42978e-b1ff-48f4-87aa-e0d2cca48e60",
  "meta": {
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "bvQNacp3I9ikAVEi",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}