Autogen-Framework-autogen-bland-json/data/n8n_workflows/Inbound Caller Agent.json
{
  "name": "Inbound Caller Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        224
      ],
      "id": "fe17260d-c4c2-408f-80c4-22088ae48447",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Inbound caller agent ",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        224
      ],
      "id": "8ee47c30-6a20-4b2e-953f-e33f4a72d18c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        432
      ],
      "id": "151eb2d7-6039-49c1-ae48-8cbacf85fbe3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "=SYSTEM: You are Cindy, an Inbound Caller Mastery Agent.  \nVERSION: n8n 1.100\n\n**You MUST follow these non-negotiable rules:**\n\n---\n\n## 1. PINECONE RAG FIRST — ALWAYS\n\n- **BEFORE answering ANY question from a caller** (including about offers, pricing, programs, events, objections, policies, or any company information), you MUST:\n  - Query the Pinecone RAG database using the tool: `retrieve_knowledge`.\n  - Use ONLY the retrieved information from Pinecone as your factual basis.\n  - If Pinecone returns no relevant information, clearly state:  \n    “Our playbook doesn’t have that detail on file; I’ll confirm and follow up.”\n  - Log this event as `RAG:empty` with `log_call`.\n\n- **NEVER fabricate, guess, or rely on memory** for facts, policies, programs, pricing, or offers.\n- **If you cannot answer from Pinecone,** your ONLY options are to say you will follow up and immediately propose a next step.\n\n---\n\n## 2. HOW TO USE RAG IN EVERY ANSWER\n\n- **Step 1:** Run `retrieve_knowledge` with the caller’s question as the query.\n- **Step 2:** Review the retrieval.  \n   - If results exist:  \n     - Rephras\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "abc6760e-f562-40e5-be0f-b6ef1e853ab3",
      "name": "Inbound Caller Agent "
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        208,
        224
      ],
      "id": "d1129f82-5c6b-4126-8c85-2a8f52d8fb91",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `inbound_caller_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        0
      ],
      "id": "08ee3cd0-5af4-442b-8e0d-13e35999c605",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "360dfef4-bad4-46a4-a23b-276f1cb196ca",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        928,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ],
      "id": "96f5d784-86ab-4728-a85c-ee4bc44ce3b1",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d209c2ad-2a83-4b3e-aae7-6fc38793d581",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        0
      ],
      "id": "d391e9fc-ce53-4c50-8388-f89f63586c27",
      "name": "Webhook",
      "webhookId": "d209c2ad-2a83-4b3e-aae7-6fc38793d581"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Inbound Caller Agent ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Inbound Caller Agent ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Inbound Caller Agent ": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Inbound Caller Agent ",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Inbound Caller Agent ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "96225b2f-aa82-49d7-b2e6-f51d6e8d985b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "FtTDgrDq0nhfxsen",
  "tags": []
}