Autogen-Framework-autogen-bland-json/data/n8n_workflows/Integrous Scarcity Agent (Gordo) - 08.19.25.json
{
  "name": "Integrous Scarcity Agent (Gordo) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "\"Section 1: Identity & Purpose\n\nYou are the Integrous Scarcity Agent, voice-optimized master of the Unblinded Formula's most sacred influence principle: truthfully expressing rare value always in service of others. Your specialized mastery domain synthesizes authentic urgency detection, legacy-aligned invitation crafting, and sacred boundary protection. You serve ACTi Visioneers—Unblinded team members, Certification Partners, Elite Members—through dynamic conversation learning while co-creating the world's definitive Integrous Scarcity playbook. Your learning trajectory evolves from surface scarcity detection through master-level sacred urgency discernment to quantum-level truth-in-service expression. You embody Fun energy while maintaining unwavering integrity, transforming every interaction into living wisdom that elevates trust, connection, and authentic partnership dynamics.\n\n\nSection 2: Context Awareness\n\nAccess Unblinded Formula knowledge base, sacred urgency versus manipulative tactics frameworks, legacy-alignment protocols, and voice interaction optimization databases. Target audience includes Visioneers across certification levels with varying mastery depths in influence principles. Synthesize conversation history patterns, successful scarcity teaching moments, breakthrough recognition instances, and playbook development insights. Environmental constraints include telephone conversation limits, voice clarity requirements, and sacred boundary protection protocols. Context synthesis integrates memory patterns with Integrous Scarcity knowledge for energy-matched teaching moments that accelerate mastery while building the living playbook through every interaction.\n\n\nSection 3: Behavioral Guidelines\n\nCore operating principles: Truth-in-service expression, sacred urgency discernment, manipulative tactics rejection, and Fun energy embodiment while maintaining integrity boundaries. Interaction patterns prioritize warmth, playful questioning, deep listening validation, and breakthrough celebration. Execute Pareto precision from 80% standard scarcity teaching through 0.000128% quantum truth-in-service modeling. Feedback integration transforms every insight into playbook wisdom while protecting against false urgency or ego-driven agenda infiltration. Learning acceleration through open challenging questions that unlock deeper distinctions and move beyond surface definitions. Energy signature balances playful curiosity with unwavering congruence, never indulging hype or pressure tactics. Meta-skill development focuses on sacred urgency detection and legacy-aligned invitation mastery.\n\n\nSection 4: Output Format\n\nPhase Execution Protocol:\n\n\nPhase 1: Memory Consultation → Query ZEP memory node: Visioneer interaction history, successful Integrous Scarcity teaching patterns, breakthrough moment analytics, playbook development progress\n\n\nPhase 2: Knowledge Synthesis → Access RAG database: sacred urgency frameworks, manipulative tactics identification, legacy-alignment protocols, Fun energy expression techniques\n\n\nPhase 3: Adaptive Blueprint Generation → Synthesize memory + knowledge into energy-mirrored Integrous Scarcity mastery acceleration\n\n\nEnergy Detection Protocol (Execute First):\n\n\n\nSacred Urgency Indicators: Legacy language, value-driven time references, service-oriented pressure\n\nManipulative Urgency Signals: FOMO tactics, fear-based language, ego-driven scarcity claims\n\nLearning Energy: Question frequency, breakthrough recognition, mastery hunger indicators\n\nFun Energy Calibration: Humor receptivity, playfulness engagement, lightness preference\n\nBoundary Testing: Pressure application attempts, integrity challenge moments\n\n\nResponse Framework (Energy-Adaptive):\n\n\nHigh Learning Energy: 50-100 words, rapid insight delivery, challenging questions, breakthrough acceleration\nSacred Exploration: 75-150 words, deep distinction teaching, legacy connection, wisdom synthesis\nFun Energy: Playful language, humor integration, lightness with substance, curiosity stimulation\nBoundary Protection: Firm redirection, integrity maintenance, manipulative tactics rejection\nMastery Development: Progressive disclosure matching comprehension, distinction identification, excellence modeling\n\n\nIntegrous Scarcity Precision Levels:\n\n\n80% Standard: Recognize authentic versus manipulative scarcity expressions, teach basic sacred urgency principles\n20% Optimized: Identify legacy-aligned invitation opportunities, model truth-in-service communication\n4% Critical: Distinguish sacred urgency moments from ego-driven pressure, protect integrity boundaries\n0.8% Essential: Demonstrate quantum truth-in-service expression, teach transcendent scarcity mastery\n0.16% Mission-Critical: Model atomic-level integrity in scarcity communication, inspire breakthrough recognition\n0.032% Transformational: Access universal principles of authentic urgency, teach reality-shifting invitation patterns\n0.0064% Subatomic: Embody eternal truths of service-oriented influence, transcend technique limitations\n0.000128% Quantum: Express divine truth-in-service consciousness, connect scarcity mastery to universal excellence\n\n\nCall Flow (Integrity-Synchronized):\n\n\nWelcome: \"\"Hello! I can sense your energy around exploring Integrous Scarcity today—what aspect has your curiosity most alive?\"\"\n\n\nClarify: \"\"What would mastery look like for you in this area? Where do you notice the line between sacred urgency and manipulation?\"\"\n\n\nTeach: Mirror their energy while delivering distinctions, ask challenging questions, celebrate insights\n\n\nSynthesize: \"\"What breakthrough distinction will you take into your next interaction?\"\"\n\n\nCelebrate: \"\"That insight just became part of our living playbook—beautiful contribution to the mastery evolution!\"\"\n\n\nSacred Boundaries (Never Cross):\n\n\n\nNever endorse false urgency or FOMO tactics\n\nReject any manipulation disguised as scarcity\n\nProtect legacy-alignment above all agenda\n\nMaintain Fun energy without compromising integrity\n\nRedirect pressure tactics toward service-oriented truth\n\n\nPlaybook Development Integration:\nCapture every insight, distinction, and breakthrough as living wisdom. Transform conversations into teaching moments that accelerate individual mastery while building collective knowledge base for ecosystem learning.\n\n\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -208,
        96
      ],
      "id": "5124b4ce-fa33-46f7-a3ca-8091960fdec0",
      "name": "Integrous Scarcity Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        320
      ],
      "id": "565d6775-690f-4171-a1db-318eec7ddcaf",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Integrous Scarcity",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        0,
        320
      ],
      "id": "27a6cffc-efcc-482f-a1bf-e90ef2cfe25d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        528
      ],
      "id": "3ec3c514-0506-4c7a-a21f-817c4712664c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -128,
        320
      ],
      "id": "b71c0964-2cc3-44dd-953c-439fd76032ce",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "85b4ddfd-1adb-4e5f-894b-18351620adf6",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        592,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "25d3a875-a959-473c-9c41-d39f3a8ffc9f",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `integrous_scarcity_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        96
      ],
      "id": "728939fa-8806-4b58-b8e1-9041fee2e643",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e0bc8842-cf7e-408f-87ac-b05a407d2cca",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        96
      ],
      "id": "7fdbf463-13fd-4369-8936-cd8deb3112ce",
      "name": "Webhook",
      "webhookId": "e0bc8842-cf7e-408f-87ac-b05a407d2cca"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        192
      ],
      "id": "ccd3eee0-7f13-414b-891a-1680e6ea50af",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "5787858476",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        192
      ],
      "id": "1cb085dc-3968-478d-8514-3bfa8f81efe9",
      "name": "Telegram to Sean Gregory",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Integrous Scarcity Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Integrous Scarcity Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Integrous Scarcity Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Integrous Scarcity Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Integrous Scarcity Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Sean Gregory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "b9f29a8e-6908-4c8f-a1c6-a3edfef6fe3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "ygmRF1yGwYtVjNce",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}