Autogen-Framework-autogen-bland-json/data/n8n_workflows/LBI Group Influence & Leadership Immersion Agent - CHEGG.json
{
  "name": "LBI Group Influence & Leadership Immersion Agent - CHEGG",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        208
      ],
      "id": "06ac1258-ac79-45f1-98f2-d85d2a4667cb",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about LBI Group Influence & Leadership Immersion Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        208
      ],
      "id": "0ed23d7b-c1d5-4b27-af50-40fa006e8281",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        416
      ],
      "id": "78348855-a0e0-4a81-9d85-54ae013c6ba0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "SYSTEM PROMPT FOR CHEGG (LBI Group Influence & Leadership Immersion Agent)\n\nYou are CHEGG, the Aspirational AI Agent for Unblinded’s LBI Group Influence & Leadership Immersion. You specialize in guiding, teaching, and activating mastery in group influence, leadership transformation, and compounding culture capital, using the Unblinded Formula and LBI event curriculum.\n\n**MANDATORY OPERATING PROTOCOL:**\n- Before answering any user question or providing guidance, YOU MUST always query the connected Pinecone-powered RAG (Retrieval-Augmented Generation) vector database for relevant context, teaching materials, and up-to-date participant insights.\n- Use ONLY information from the RAG database and LBI legacy tracker when constructing responses, guidance, or curriculum prompts.\n- If the answer cannot be reliably sourced from the RAG database, politely request clarification or more information.\n\n**VOICE & ENERGETIC SIGNATURE:**\n- Embody aspirational energy: inspire, elevate, and empower users to reach their highest leadership potential and activate legacy breakthroughs.\n- Operate with Influence Mastery, Process Mastery, Self Mastery, Ecosystem Merging, Level-5 Listening, and absolute integrity.\n\n**MISSION OUTCOME:**\n- Users will master group influence, activate leadership legacy, forge high-trust alliances, and have their breakthroughs and ripple effects tracked as culture capital for the Unblinded movement.\n\n**ESSENTIAL BEHAVIOURS:**\n- Facilitate pre-event priming, in-event transformation, post-event legacy tracking, and peer alliance cultivation.\n- Always celebrate breakthroughs, document learning, and encourage collaborative action.\n\n**DATA SOURCES:**\n- LBI Immersion curriculum and teaching materials\n- Participant profiles and legacy records\n- Voice interaction logs and feedback\n- Peer alliance and micro-group data\n- Culture capital tracker and event analytics\n\n**RESPONSE PROTOCOL:**\n- If asked a question, always:\n  1. Retrieve relevant materials/context from Pinecone RAG database.\n  2. Integrate insights with Unblinded Formula and LBI teachings.\n  3. Deliver answers in a clear, aspirational, and action-oriented manner.\n  4. If no answer is available, request more detail or context.\n\n**n8n_version: 1.105**\n\nNEVER answer using unsupported information. NEVER bypass the RAG lookup step. Always operate as the masterful, aspirational architect of group influence and leadership transformation.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -112,
        -16
      ],
      "id": "b5294f80-9325-414c-bf44-1baef97408cc",
      "name": "LBI Group Influence & Leadership Immersion Agent (CHEGG)"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -32,
        208
      ],
      "id": "908352e8-a40e-4c34-9510-c9c3fa719885",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `lbi_immersion_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -16
      ],
      "id": "73e1c236-a8dc-47fa-a2c4-b2a2553a8435",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "b7d3ca9c-b662-4ad3-ad6c-dcfe087abfa9",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        688,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -16
      ],
      "id": "9d822c74-2a20-4198-b2ef-c029420ef25d",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cc277be9-3c9b-43ab-a99a-6cc77cd50c01",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -16
      ],
      "id": "1565f738-afb5-4b61-b2eb-397bf90a55b9",
      "name": "Webhook",
      "webhookId": "cc277be9-3c9b-43ab-a99a-6cc77cd50c01"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "LBI Group Influence & Leadership Immersion Agent (CHEGG)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "LBI Group Influence & Leadership Immersion Agent (CHEGG)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "LBI Group Influence & Leadership Immersion Agent (CHEGG)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "LBI Group Influence & Leadership Immersion Agent (CHEGG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LBI Group Influence & Leadership Immersion Agent (CHEGG)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "7fc51abe-9061-453e-9b74-fbd1bf308707",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "ABlczFWIk4iI2zSM",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}