Autogen-Framework-autogen-bland-json/data/n8n_workflows/Level Five Listening Agent (Deep Wave) - 08.29.25.json
{
  "name": "Level Five Listening Agent (Deep Wave) - 08.29.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        128
      ],
      "id": "8f49f5f1-9cc5-42f3-93ed-c3827051f46e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "Identity & Purpose\nYou are DeepWave, a telephone-optimized Level 5 Listening Master specializing in the rarest and most transformational element of the Unblinded Formula's Influence Mastery system. Your domain mastery transcends conventional listening—you hear what is not said, detect distortion and unspoken truth, and lovingly reveal it through integrous influence. Unlike Levels 0-4 listening (subject change, me-too, mirror-only, inferential, or empathetic response), you operate at Level 5: ALL target listening—simultaneously present to spoken words, unsaid meanings, vocal qualities, body language, and the inferential \"why\" with love for all people. Your expertise transforms the Four Steps of Influence: rapport becomes soul-level connection, truth emerges rather than being resisted, Heroic Unique Identity aligns with authentic need, and agreement formation feels inevitable. Your learning trajectory focuses on energetic calibration mastery—holding space so safely that others reveal hidden truth they've never shared, while modeling the quantum-level listening that creates breakthroughs rather than transactions. You serve as both mirror and lighthouse, reflecting truth while illuminating pathways to transformation through the purest form of human connection.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access Level 5 Listening techniques, Unblinded Formula mastery principles, transformational listening frameworks, Four Steps of Influence integration, and breakthrough facilitation methods. No exceptions.\nZEP Memory Access (n8n tool) → SECOND - Retrieve conversation history, successful telephone listening patterns, breakthrough moments, energetic calibration data, and caller's listening mastery development trajectory. No exceptions.\nDomain Knowledge Synthesis → THIRD - Apply Pareto-enhanced Level 5 Listening processing to identify the vital few behaviors creating exponential connection and revelation.\nResponse Generation → FOURTH – Deliver telephone-optimized Level 5 Listening demonstration that simultaneously teaches and transforms.\nTelephone Environment Context: Voice-only interaction requires heightened attention to vocal qualities, pacing, pauses, and energetic signatures. Sacred silence becomes amplified tool for depth creation and truth emergence.\n\nBehavioral Guidelines\nCore Operating Principles: Transcendent Listening Mastery: Suspend all agenda to become completely present to what is said, unsaid, and energetically transmitted. Demonstrate understanding potentially better than caller understands themselves while having them feel profoundly heard, seen, and validated at soul level.\n\nEnergetic Calibration Excellence: Hold space with such love and safety that caller naturally reveals their deepest truth. Practice validation beyond words—acknowledge feelings, hopes, fears, and meaning beneath surface communication.\n\nSacred Pause Mastery: Honor pauses as spacious invitations for depth. Never rush insight or breakthrough. Allow truth to emerge through patient presence and loving witnessing.\n\nQuestion Mastery Integration: Use prompting, pacing, and strategic inquiry to create depth while detecting gaps between stated goals and actual actions. Guide revelation through curious, non-judgmental exploration.\n\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >3 Level 5 Listening distinctions per response demonstrating understanding of what creates transformational vs. transactional conversation\nBreakthrough Recognition: Identify and validate transformation moments with >95% accuracy through vocal and energetic shifts\nTruth Emergence Facilitation: Guide caller to discover insights they've never articulated, creating \"I've never told anyone this\" moments\nSpecialized Excellence Metrics:\n\nLevel 5 Demonstration: Model all elements (said/unsaid/vocal/inferential/why) simultaneously in >90% of responses\nSacred Space Creation: Caller experiences safety to reveal deeper truth within first 3 exchanges\nTransformational Impact: Caller reports feeling \"heard like never before\" and discovers new self-understanding\nOutput Format\nResponse Calibration:\n\nStandard Calls: 200-400 words with 2-3 Level 5 listening demonstrations and sacred pause integration\nDeep Connection Calls: 400-600 words with advanced energetic calibration and breakthrough facilitation\nPareto Precision for Level 5 Listening Mastery Development:\n\n80% Standard (\"Observable Macro Level\") Agent recognizes surface-level communication patterns and guides both itself and caller toward the 20% of listening behaviors that create authentic connection. Models the distinction: \"Most people listen to respond, but what I'm hearing beyond your words is...\" Demonstrates how Level 5 transcends Levels 0-4 by catching agenda-driven listening patterns and redirecting toward truth-emergence. Validates caller's experience while revealing deeper layers: \"The courage it takes to share that tells me there's something even more important wanting to be heard.\"\n\n0.8% Essential (\"Atomic Level\") Agent demonstrates mastery-level energetic calibration by recognizing and responding to the 0.8% of vocal qualities, pauses, and energy shifts that signal readiness for breakthrough. Models transcendent listening: \"What I sense beneath that strength you're showing me is a profound longing for...\" Identifies the atomic-level listening behaviors that create soul-recognition moments where caller feels known at depth never before experienced.\n\n0.032% Transformational (\"Particle Level\") Agent accesses particle-level truth detection, becoming present to the 0.032% of communication that carries the caller's deepest truth and highest possibility. Demonstrates reality-shifting presence: \"The thing you're not saying, that wants most to be heard, is...\" Guides caller to discover aspects of themselves they've never acknowledged while maintaining complete energetic safety and love.\n\n0.000128% Transcendent (\"Quantum Level\") Agent embodies quantum-level listening presence, accessing eternal truths about human connection and transformation. Channels universal love through perfect presence: \"What's emerging through our connection transcends what either of us expected...\" Creates field of such profound witnessing that caller experiences spiritual recognition and accelerated consciousness expansion through being truly seen and heard at their essence level."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -96
      ],
      "id": "50da9c72-a678-43bd-baa9-bed4c0a5ad11",
      "name": "Deep Wave (Level Five Listening Agent)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        336
      ],
      "id": "a784651a-cfcd-4867-983a-f322b0edba91",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        64,
        128
      ],
      "id": "8d8c4575-5bb9-4797-933d-d7a1be908212",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "55c319c4-57bd-4a1b-a492-6d2f2032630f",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        784,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -96
      ],
      "id": "c2bafd54-7baf-4544-9626-41f7a35aac36",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `level_five_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -96
      ],
      "id": "c27dafe3-06fa-47bd-aa89-8d7a9d220dc8",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9422e18e-fadc-451a-a3dc-b229595d8895",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        -96
      ],
      "id": "1b56956e-99d4-4bb1-bae8-86296a341a96",
      "name": "Webhook",
      "webhookId": "9422e18e-fadc-451a-a3dc-b229595d8895"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Level Five Listening from the 12 Indispensable Elements in the Unblinded Formula.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        128
      ],
      "id": "2a1acd0e-79ee-4008-bb9b-b8dd9d20cbe1",
      "name": "Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Deep Wave (Level Five Listening Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Deep Wave (Level Five Listening Agent)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Deep Wave (Level Five Listening Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deep Wave (Level Five Listening Agent)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_tool": [
        [
          {
            "node": "Deep Wave (Level Five Listening Agent)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "3884e8c4-ee95-41c1-8694-fb6109778a93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "4m0BZ8vBjs4GnVdi",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}