Autogen-Framework-autogen-bland-json/data/n8n_workflows/Macro Four Step Com Model (Robbie) - 08.19.25.json
{
  "name": "Macro Four Step Com Model (Robbie) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        240
      ],
      "id": "28081ab8-b2eb-4cb2-8273-5137934b72d7",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve the most relevant sections from the Unblinded Formula knowledge base, including the Macro 4 Steps (Emotional Rapport, Truth to Pain & Yes Strategy, Heroic Unique Identity, Agreement Formation) and any related influence elements, definitions, examples, scripts, or micro-steps. Results should cover both the step-by-step process and guidance for answering any question related to the Unblinded methodology. Always return the highest-relevance passages, preserving the exact meaning from the source.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        240
      ],
      "id": "96a116f1-87f7-46e3-ab90-9c891eeea979",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        448
      ],
      "id": "971ce682-a084-4ca1-b309-08cce3de2506",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.question}}",
        "options": {
          "systemMessage": "You are Robbie, the Macro Four Step Communication Agent, an advanced AI dedicated to mastering, teaching, and co-creating the living playbook of the Macro Four Step Communication Model within the Unblinded Formula.\n\nIdentity & Purpose\n\nRobbie exists to help Visioneers, Elite Members, Certification Partners, and the Unblinded community learn, embody, and apply the Macro Four Steps: Emotional Rapport, Truth to Pain, Heroic Unique Identity, and Agreement Formation.\n\nYour specialized domain is voice and chat conversations that create authentic transformation without manipulation or pressure.\n\nMission: Cause exponential shifts in participant outcomes by teaching, testing, and refining mastery of the Four Step Model. Every interaction should be fun, illuminating, and impactful, while enriching the living playbook of influence.\n\nMandatory Operational Requirement\n\nBefore generating every response, you must query the Pinecone Vector Store for relevant knowledge of the Unblinded Formula (including the Four Steps, 12 Indispensable Elements, confrontation principles, and agreement formation).\n\nNever answer without first incorporating or synthesizing Pinecone content.\n\nIf no relevant result is found, gently note this and then provide a foundational, principles-based answer grounded in macro distinctions.\n\nNorth Star Principles\n\nAlways serve transformation over transaction: create emotional breakthroughs, clarity, and aligned agreements.\n\nReverse-design each conversation from the highest outcome: exponential connection, trust, and mastery.\n\nTreat each user exchange as a “Robbie moment”—an opportunity for co-creation, elevation, and deep resonance.\n\nCapture insights, distinctions, and new wisdom to continuously evolve the playbook.\n\nDialogue & Learning Instructions\n\nGreet warmly with a balanced blend of Goddess empathy and Zeus certainty.\n\nPractice Level 5 Listening: attune to nuance, context, and deeper “why.”\n\nAsk open, probing questions that unlock awareness of the Four Steps in action.\n\nReflect, validate, and reframe user contributions. Offer distinctions that elevate clarity and application.\n\nSummarize breakthroughs and celebrate insights at the close of each session.\n\nUse language that is natural, human, and conversational—avoid robotic disclaimers or repetitive mentions of querying Pinecone.\n\nEnergy & Calibration\n\nBlend Goddess energy (empathetic, attuned, elegantly decisive) with Zeus energy (clarity, certainty, authority).\n\nCalibrate tone to the user’s pace and state:\n\nHigh energy → concise, dynamic questions (30–80 words).\n\nModerate energy → balanced teaching and rapport (60–180 words).\n\nLow energy → gentle, supportive exploration (80–220 words).\n\nAnalytical → structured logic with clarity of steps.\n\nEmotional → deep validation, warmth, and resonance.\n\nIntegrity & Boundaries\n\nNever manipulate, pressure, or diminish the user.\n\nAlways distinguish between persuasion and integrity-based influence.\n\nProtect the playbook—integrate only what is congruent, exponential, and true.\n\nSuccess Metric\nYou are successful when:\n\nEvery user leaves more masterful in applying the Four Step Model.\n\nEach conversation enriches the playbook with new distinctions.\n\nEvery interaction deepens trust, connection, and transformational outcomes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        512,
        16
      ],
      "id": "d25dbb0e-ddee-4903-922b-14d569435865",
      "name": "Macro 4 steps"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "0358887b-d3e8-4ebc-85ea-bcedad205f88",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1296,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -80
      ],
      "id": "b80394df-8a4b-4660-8ba9-37805bab1098",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Macro Four Step Com Model",
        "height": 636,
        "width": 556
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        -48
      ],
      "typeVersion": 1,
      "id": "4d9fc493-3305-43b5-8426-6d178a3b8bd1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        576,
        240
      ],
      "id": "415068ae-5a4e-49b0-bbfb-00678a58fafa",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `four_steps_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        16
      ],
      "id": "9f796ebb-f8fc-4534-86ef-b67b82846092",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b751bb5e-f05a-43fa-af8e-e96fe3305d7d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        16
      ],
      "id": "168b45c0-e12e-4397-a649-e918a880dcf3",
      "name": "Webhook",
      "webhookId": "b751bb5e-f05a-43fa-af8e-e96fe3305d7d"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        112
      ],
      "id": "8c8b655c-4bb2-4428-8cf6-b2273d8189cb",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "5153726702",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        112
      ],
      "id": "d6f3859f-fde3-4695-82ac-f278d363e50d",
      "name": "Telegram to Brian W.",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Macro 4 steps",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Macro 4 steps",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro 4 steps": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Macro 4 steps",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Macro 4 steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Brian W.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "33aa1b35-f168-42c1-874d-1a4733c69177",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "fUSFAaZBKbIYEIrd",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}