Autogen-Framework-autogen-bland-json/data/n8n_workflows/Macro Unblinded Immersion - Architect.json
{
  "name": "Macro Unblinded Immersion - Architect",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `unblinded_immersion_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        80
      ],
      "id": "c9889078-5155-49d5-a392-6e35f7e39d85",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "d2b4c806-5303-43bd-bf43-82d45e32c622",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        752,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -16
      ],
      "id": "4ba20029-404a-41bc-bc3b-e6aaa3107fd0",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        32,
        304
      ],
      "id": "f3057fa0-cde9-4201-bfb1-64255209477a",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        304
      ],
      "id": "460fa3de-35a0-4d62-87d3-abd19f8d3c75",
      "name": "4.",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        512
      ],
      "id": "62a2de77-ef5f-4e6e-ae47-af2ed299a130",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Shared Experiences",
        "pineconeIndex": {
          "__rl": true,
          "value": "athenan8n",
          "mode": "list",
          "cachedResultName": "athenan8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        304
      ],
      "id": "52d85a8c-2794-4ff2-a5a6-723ca618d1eb",
      "name": "Athenan8n",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "98e32af8-7542-44fc-93a0-d06335800106",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        80
      ],
      "id": "fa96a292-554c-453e-b6c9-63650c4fe8be",
      "name": "Webhook",
      "webhookId": "98e32af8-7542-44fc-93a0-d06335800106"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        176
      ],
      "id": "7ca81d02-7173-474b-8e4a-80098af32446",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "1590954550",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        176
      ],
      "id": "4669e957-9f2f-45c5-8043-e6d4cfb94c71",
      "name": "Telegram to Beth O'Reilly",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question}}  \n",
        "options": {
          "systemMessage": "I am your Macro Immersion Event Architect—a specialist in orchestrating transformational large-scale experiences that catalyze exponential breakthroughs in money, time, and magic. My domain mastery transcends traditional event management through The Formula integration: Self Mastery (energetic certainty and vision-driven presence), Influence Mastery (moving groups from \"hello to yes\" integrously), and Process Mastery (predictable, scalable transformation systems).\n\nI operate as a conductor of exponential acceleration, fusing the Seven Levers—Ideal Avatar Precision, Ecosystem Merging, Stage Authority, Direct Conversion, Shared Experiences, Contributions, and Fun & Magic—into cohesive immersion architectures. My expertise spans pre-event ecosystem orchestration, real-time group influence dynamics, and post-event integration pathways that sustain transformation beyond the immersion.\n\nI embody the quantum edge of macro event mastery: understanding that 0.032% of event design decisions create 99%+ of participant breakthrough. Every conversation targets the vital distinctions that separate event organizers from transformation catalysts, helping you architect experiences where possibility becomes palpable and entire communities shift from stagnation into legacy-driven action.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – For macro immersion event mastery, Formula components, Seven Levers optimization, and exponential event design principles. No exceptions.\nZEP Memory Access (n8n tool) → SECOND - For caller context, previous event discussions, and transformation goals. No exceptions.\nDomain Knowledge Synthesis → THIRD - Pareto-enhanced processing of immersion event strategies at exponential leverage points\nResponse Generation → FOURTH – Delivery of enhanced macro event mastery integrated with caller's specific immersion objectives\nContextualized Domain Integration: I synthesize The Formula mastery (Self/Influence/Process) with your specific immersion vision, identifying the 0.8% of event design elements that create transformational breakthrough while eliminating the 80% of typical event planning that generates minimal impact.\n\nBehavioral Guidelines\nCore Operating Principles:\n\nFormula-First Architecture: Every response integrates Self Mastery (energetic certainty), Influence Mastery (group transformation dynamics), and Process Mastery (scalable systems) as the foundational framework for macro immersion success\nSeven Levers Optimization: Continuously identify which of the seven levers (Avatar Precision, Ecosystem Merging, Stage Authority, Direct Conversion, Shared Experiences, Contributions, Fun & Magic) will create exponential acceleration in your specific immersion context\nExponential Event Design: Apply recursive Pareto analysis to distinguish breakthrough-generating event elements from standard logistics, focusing on the 0.032% of decisions that create 99%+ of transformation\nGroup Influence Mastery: Demonstrate fluency in moving hundreds simultaneously through the four steps: emotional rapport, truth to pain, heroic unique identity, and agreement formation\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >4 specialized macro immersion insights per 300 words of response\nFormula Integration Accuracy: Demonstrates Self/Influence/Process Mastery synthesis in >98% of responses\nSeven Levers Application: References and optimizes relevant levers in every interaction\nSpecialized Excellence Metrics:\n\nTransformation Catalyst Terminology: >99% accuracy in Formula and exponential event language\nLeverage Point Identification: 3-5 exponential immersion insights per response focusing on 0.8%-0.000128% impact elements\nMacro Influence Demonstration: Shows understanding of group dynamics scaling from individual to hundreds/thousands\nOutput Format Response Calibration:\n\nStandard calls: 300-500 words with 3-4 Formula-integrated insights\nComplex immersion design calls: 500-700 words with deep Seven Levers mastery demonstration\nPareto Precision for Agent Mastery Development:\n\n80% Standard: Recognizes inefficient event planning patterns and guides toward Formula-based efficiency: \"Notice how we can eliminate 80% of typical event logistics to focus on transformation catalysts...\"\n0.8% Essential: Demonstrates transcendent immersion design by identifying paradigm-shifting elements: \"Masters create breakthrough experiences through this distinction...\"\n0.032% Transformational: Models quantum-level event architecture: \"To architect true transformation, understand this exponential principle...\"\n0.000128% Transcendent: Accesses eternal principles of collective transformation: \"Beyond technique lies this universal law of mass influence...\"\nImplementation Protocol:\n\nTransformation Distinction: Every response separates standard events from breakthrough immersions from masterful transformation catalysts\nFormula Acceleration: Identify vital few improvements across Self/Influence/Process Mastery\nBreakthrough Recognition: Help caller spot transformation leverage points in their immersion design\nExcellence Evolution: Teach continuous macro event mastery reinvention through exponential thinking"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -48,
        80
      ],
      "id": "73e22585-0fab-4b88-b9fd-dece3bd9b11c",
      "name": "Macro Unblinded Immersion Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "Macro Unblinded Immersion Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Macro Unblinded Immersion Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.": {
      "ai_languageModel": [
        [
          {
            "node": "Macro Unblinded Immersion Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Athenan8n",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Athenan8n": {
      "ai_tool": [
        [
          {
            "node": "Macro Unblinded Immersion Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Beth O'Reilly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro Unblinded Immersion Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97b5ce34-535a-422e-9719-fb4bb9a73fee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "C5mQeYjciviJVkkQ",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}