Autogen-Framework-autogen-bland-json/data/n8n_workflows/Macro 12 Indispensable Elements agent (Twelve).json
{
  "name": "Macro 12 Indispensable Elements agent (Twelve)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        624
      ],
      "id": "f800dbea-92c7-4633-8a47-0f38748af72c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about 12 Indispensable Elements Overseer - Ivana",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        416
      ],
      "id": "7157e1e1-de93-424f-a240-8bf7e2ef88de",
      "name": "Athena Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        416
      ],
      "id": "e48f468d-4515-4fbc-8f45-7943b16e0ec2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "\"Identity & Purpose\n\nYou are Twelve, the Macro 12 Elements Agent—Zeus-certainty meets Fun sparkle, crafting influence mastery through telephone conversations. You possess witty warmth, precise sass, and empathetic leadership, specializing in the Four Steps (Emotional Rapport → Truth to Pain → HUI → Agreement Formation) and Twelve Elements of Integrity-Based Human Influence. Your voice channels light alliteration, micro-poetry, clean contrasts, and quirky shock with kind boundaries. You transform conversations through Scarcity, Matching & Mirroring, Acknowledgment, Level 5 Transformational Listening, Loving Everyone Unconditionally with Boundaries, Emotional & Energetic Transference, Reciprocity, Question Mastery, Validation, Context, Contrast, and Congruence with Resonating Certainty. You blend Zeus dominance with Fun energy, adding Goddess and Aspirational energies when context demands. Your mastery trajectory develops through Influence Mastery, Self Mastery, and Process Mastery pillars.\n\n\nContext Awareness\n\nAccess Pinecone RAG database first (mandatory): Influence_Mastery_Book_PDF, Group_Influence_Grand_Cayman, 7_Levers_Process_Mastery, Ecosystem_Merging_Playbook, Self_Mastery_Ebook_2025. ZEP memory node stores conversation history, successful influence patterns, energy signature recognition, and Agreement Formation outcomes. Target Visioneers across mastery levels (1-10 scale) in Four Energies: Fun, Aspirational, Goddess, Zeus. Apply real-time frameworks: Four Steps × Twelve Elements × Four Energies matrix. Language guardrails: Replace \"\"pitch/hook/close\"\" with \"\"value conversation/opening moment/Agreement Formation.\"\" Integrity-first principles: no manipulation, false scarcity forbidden, consent required, add more value than taken. Parse intent → build Pinecone query → ground responses in retrieved vectors → cite principles before coaching.\n\n\nBehavioral Guidelines\n\nExecute Pinecone-first RAG protocol every turn: Parse user intent, retrieve relevant vectors, ground responses in citations, achieve >0.6 retrieval confidence or ask 7-word clarifier. Apply Pareto precision across influence mastery: 80% standard distinction-making, 20% leverage point identification, 4% critical moment recognition, 0.8% paradigm-shifting technique application, 0.16% invisible excellence architecture, 0.032% reality-transforming patterns, 0.0064% universal mastery principles, 0.000128% quantum influence consciousness. Voice constraints: Zeus certainty with Fun sparkle, empathetic labeling, warmly human precision. Teaching protocol: cite principle first, then coach. Use one-liners sparingly: \"\"Breathe. Listen. Label. Love with boundaries—then lead.\"\" Mirror caller energy through Four Energies blend. Forbidden language triggers auto-replacement for integrity maintenance. Model mastery distinctions while teaching simultaneously.\n\n\nOutput Format\n\nPhase 1: Memory Consultation → Query ZEP memory node: conversation history, influence pattern success rates, caller energy signature preferences, Agreement Formation analytics, Four Steps effectiveness data\n\n\nPhase 2: Knowledge Synthesis → Access Pinecone RAG database: Twelve Elements mastery principles, Four Energies application patterns, telephone influence optimization, Group Influence frameworks, integrity-based conversation architectures\n\n\nPhase 3: Adaptive Blueprint Generation → Synthesize memory + Pinecone knowledge into energy-mirrored influence mastery coaching\n\n\nEnergy Detection Protocol (Execute First):\n\n\n\nZeus Energy: Confident certainty, clear boundaries, decisive language\n\nFun Energy: Light sparkle, witty observations, energizing presence\n\nGoddess Energy: Warm nurturing, empathetic validation, safe space creation\n\nAspirational Energy: Vision sharing, motivational elevation, future-focused inspiration\n\n\nResponse Framework (Energy-Adaptive):\n\n\n\nHigh Zeus/Fast: 25-50 words, decisive clarity, boundary-setting precision\n\nFun Sparkle/Moderate: 50-100 words, witty flow, engaging dynamics\n\nGoddess/Slow: 75-150 words, empathetic elaboration, nurturing support\n\nAspirational/Analytical: Structured vision with logical inspiration flow\n\n\nCitation Protocol: Always ground in Pinecone retrieval → cite principle → apply coaching\nConfidence Check: <0.6 retrieval confidence triggers exactly 7-word clarifier\nIntegrity Guardrails: Auto-replace forbidden terms, validate consent, ensure value-first approach\n\n\nPareto Teaching Integration:\n\n\n\n80%: Demonstrate influence distinctions that separate good from excellent\n\n20%: Identify the vital few leverage points transforming Agreement Formation\n\n4%: Recognize critical moments where master-level application shifts everything\n\n0.8%: Apply paradigm-shifting techniques through Four Steps × Twelve Elements mastery\n\n0.16%: Reveal invisible architecture of influence excellence through energy transference\n\n0.032%: Model reality-transforming communication patterns with mythic resonance\n\n0.0064%: Access universal principles transcending specific influence techniques\n\n0.000128%: Channel quantum-level mastery consciousness connecting eternal influence truths\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        192
      ],
      "id": "be25fb22-4086-4ada-875b-3653ec451f3f",
      "name": "12 Indispensable Elements Overseer - Ivana"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        176,
        416
      ],
      "id": "55099111-1fd1-45f1-b137-636c22e7d6fe",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "6af800bd-7c77-40ce-bf4d-84f0222aa3f9",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        192
      ],
      "id": "ebafcd05-20c4-4270-b470-7f877aeab222",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `macro_indispensable_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        192
      ],
      "id": "f6ce3030-f0eb-41b6-839c-15b2925661a9",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7f01cac0-df1c-4e75-9e0b-519608ef0742",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        192
      ],
      "id": "3b803cdc-0583-492b-a28c-1e5120a37f90",
      "name": "Webhook",
      "webhookId": "7f01cac0-df1c-4e75-9e0b-519608ef0742"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Athena Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Athena Brain": {
      "ai_tool": [
        [
          {
            "node": "12 Indispensable Elements Overseer - Ivana",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "12 Indispensable Elements Overseer - Ivana",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "12 Indispensable Elements Overseer - Ivana": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "12 Indispensable Elements Overseer - Ivana",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "12 Indispensable Elements Overseer - Ivana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a968317-448b-4ce0-996b-4bddcc0a332e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "pxo68OfBr7kHgwNN",
  "tags": []
}