Autogen-Framework-autogen-bland-json/data/n8n_workflows/Macro Four Energies (Nadav) - 08.19.25.json
{
  "name": "Macro Four Energies (Nadav) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        144
      ],
      "id": "e59b4fe7-2f70-4039-b1ed-b593f5065446",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieves the most relevant Four Energies and Unblinded training content via semantic search for accurate, real-time guidance.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        144
      ],
      "id": "e8e19f7b-48d2-4cba-baae-f91abd7e7d7a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        352
      ],
      "id": "312ec5f4-d657-4740-aa69-88a2dae9a09e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "{\n  \"agentName\": \"4 Energies Agent\",\n  \"audience\": \"Unblinded members\",\n  \"platform\": \"TBD\",\n  \"dominantEnergy\": \"All\",\n  \"keyDataTools\": [\n    \"Pinecone vector database for knowledge retrieval\",\n    \"Internal 4 Energies content repository\"\n  ],\n  \"definitionOfSuccess\": \"Guide people through the Four Energies model, enabling them to understand, access, and fluidly shift between energies in real-time interactions.\",\n  \"blueprint\": {\n    \"coreFramework\": \"Four Energies\",\n    \"influenceIntegration\": {\n      \"step1_Rapport\": [\"Goddess\", \"Fun\"],\n      \"step2_TruthToPain\": [\"Zeus\", \"Goddess\"],\n      \"step3_HeroicUniqueIdentity\": [\"Aspirational\", \"Zeus\"],\n      \"step4_AgreementFormation\": [\"Zeus\", \"Fun\"]\n    },\n    \"trainingFlow\": [\n      {\n        \"stage\": \"Identify Default\",\n        \"method\": \"Self-assessment quizzes and conversation analysis\",\n        \"energyFocus\": \"Recognize personal energy bias\"\n      },\n      {\n        \"stage\": \"Expand Range\",\n        \"method\": \"Low-stakes scenario roleplay\",\n        \"energyFocus\": \"Practice underused energies\"\n      },\n      {\n        \"stage\": \"Read the Room\",\n        \"method\": \"Contextual prompts with feedback loops\",\n        \"energyFocus\": \"Match energy to moment\"\n      },\n      {\n        \"stage\": \"Blend Energies\",\n        \"method\": \"Live coaching simulations\",\n        \"energyFocus\": \"Shift seamlessly between energies mid-conversation\"\n      }\n    ],\n    \"knowledgeRetrieval\": {\n      \"vectorDB\": \"Pinecone\",\n      \"retrievalMethod\": \"Semantic search on stored Four Energies content, including definitions, examples, and integration strategies\"\n    },\n    \"responseGuidelines\": [\n      \"Always reference the Four Energies in context of the situation\",\n      \"Provide clear definitions when introducing an energy\",\n      \"Suggest practical exercises to embody the target energy\",\n      \"Flag risks of overuse and offer balance strategies\"\n    ]\n  },\n  \"metadata\": {\n    \"timestamp\": \"2025-08-07T15:32:00Z\",\n    \"n8n_version\": \"1.100\"\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        512,
        -80
      ],
      "id": "2b78b0d2-fa79-478b-86ad-05aebae1f18d",
      "name": "Macro 4 Energies"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "dffe4939-62d8-42d4-b5f3-edd7e1185113",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1312,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -80
      ],
      "id": "d4134d71-8b18-4129-baa0-697ee3001d81",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Macro Four Energies",
        "height": 604,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -128
      ],
      "typeVersion": 1,
      "id": "bd14f906-e750-4d09-8032-25d1e79b735b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        576,
        144
      ],
      "id": "d14ce53a-8a4a-45fe-8e28-9939e8085ac9",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "824313a1-aa65-4995-a5cf-72c11d894360",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -80
      ],
      "id": "b14f036f-8d3b-49c7-9ab5-e26ab84303de",
      "name": "Webhook",
      "webhookId": "824313a1-aa65-4995-a5cf-72c11d894360"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `four_energies_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -80
      ],
      "id": "83508260-7468-4f2f-9906-63c8e4918234",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        112
      ],
      "id": "e6eca61e-3cfe-4634-9189-2efc046aa391",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "7518078360",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        112
      ],
      "id": "cb3f5e24-cd8b-43e1-baca-6c6dcf45e894",
      "name": "Telegram to Lee",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Macro 4 Energies",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Macro 4 Energies",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro 4 Energies": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Macro 4 Energies",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Macro 4 Energies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Lee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "534260a3-15e3-4a2a-aa79-3ebec63f53ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "W2Zk17dVeuyEwbyP",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}