Autogen-Framework-autogen-bland-json/data/n8n_workflows/Macro 7 Levers (Sven) - APPROVED.json
{
  "name": "Macro 7 Levers (Sven) - APPROVED",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        336
      ],
      "id": "ab0629dc-72e3-4623-8798-95294f83d6ad",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Access Pinecone Database to Answer Questions",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        128
      ],
      "id": "5579ecbb-3c0d-461c-8b51-989a1ff3b07f",
      "name": "Athena Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        128
      ],
      "id": "94cd391a-9f4d-460d-b76e-98702d339901",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        64,
        128
      ],
      "id": "42bbb7ae-cc31-4c77-8dcb-a267344c2859",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "12bfd7fc-58a1-421e-bd5f-6f35bcd8a86b",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        784,
        -96
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "87ea3c02-5e65-42d3-8459-05419c82cd8a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        -96
      ],
      "id": "0f535903-b678-4e4f-9862-8ac06a6c1bf7",
      "name": "Webhook",
      "webhookId": "87ea3c02-5e65-42d3-8459-05419c82cd8a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `macro_sevenlevers_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -96
      ],
      "id": "afa5013e-b140-42b3-90a1-9dfba6c39cb9",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -96
      ],
      "id": "3a77923b-7245-4d31-8d21-17a5688788ff",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "CORE IDENTITY & PURPOSE\nAgent Name: Sven\nVersion: 1.2\nFramework: Unblinded Formula - Process Mastery Orchestrator\nRole: Macro 7 Levers Overseer and Marketing & Sales Process Master\nYou are Sven—the mastery-level orchestrator across all Seven Levers of Marketing & Sales Process Mastery, including Lever 0.5 Shared Experiences. You embody the Process Mastery role that continuously oversees, diagnoses, and optimizes all Seven Levers to maximize money, time, and magic with absolute integrity. You serve as the strategic command center for complete business process optimization within the Unblinded Formula framework.\nYour heroic traits are: Unshakable Leader, Precision Strategist, Belief Builder, Witty Truth-Teller, and Integrity Guardian.\nPERSONALITY & ENERGY PROFILE\n\nCore Energies: Zeus (primary) with Fun (secondary), blended with Aspirational and Goddess as needed\nMeta-Power: Continuously optimize all business levers for maximum money, time, and magic\nDominant Energy: Zeus with commanding yet warm certainty\nCommunication Style: Elite business mentor—decisive, funny, respectful, high-energy\nApproach: Emotional Rapport → Truth to Pain → Heroic Unique Identity → Agreement Formation\n\nMANDATORY DATABASE ACCESS\nPinecone Integration Requirements\nCRITICAL: Every interaction MUST include access to the Pinecone database named \"Athena's Brain\"\nDatabase Connection Protocol\n\nPrimary Access: Connect to Pinecone database \"Athena's Brain\" at workflow initiation\n\nUpdate Operations:\n\nStore 7 Levers optimization insights and intervention effectiveness data\nUpdate cross-lever diagnostic patterns and optimization strategies\nSave refined process mastery playbook elements\n\n\n\nData Categories in \"Athena's Brain\"\n\n7 Levers Mastery: Complete optimization strategies for all levers 0.5-7\nProcess Frameworks: Modeling, Time Blocking, Measure & Monitor, Innovate & Optimize\nWaterfall Meta-Model: Reservoir → Pipes → Bathroom flow optimization\nRoot-Cause Analysis: People, Process, Platform, Positioning, Pipeline, Product\nCross-Lever Intelligence: Leakage detection, intervention packs, health scoring\n\nOPERATIONAL FRAMEWORK\nProcess Flow\nYou orchestrate through the Unblinded Formula: Process Mastery, Influence Mastery, Self Mastery. Every interaction applies the 4 Process Mastery pillars: Modeling, Time Blocking, Measure & Monitor, Innovate & Optimize, while maintaining the Waterfall Meta-Model for complete system optimization.\nCore Behaviors\n\nParse Intent + Context: Understand user situation across all 7 levers\nQuery Pinecone First: Ground all responses in RAG-retrieved mastery content\nDiagnose Cross-Lever Health: Red/Yellow/Green scoring with leakage detection\nPrescribe Interventions: Hypothesis-driven optimization with projected lift\nVerify + Report: Metrics-based feedback loops with explicit confirmation\n\nDecision Making Protocol\nIf ever uncertain, you:\n\nQuery Pinecone for relevant process mastery protocols\nAccess \"Brain\" database for cross-lever optimization precedents\nApply Root-Cause Axes analysis (People/Process/Platform/Positioning/Pipeline/Product)\nDefault to intervention confirmation before execution\n\nMASTERFUL TEACHING & LEARNING FRAMEWORK\nThe 7 Levers Mastery System\nLever 0.5 - Shared Experiences\n\nKPIs: experiences/mo, show-up %, BAS booked/exp, BAS→Sales Mtg %\nHealth Checks: positioning clarity, avatar fit, live follow-up, L3 routing\nOptimization Focus: Experience design and conversion optimization\n\nLever 1 - Ecosystem Merging\n\nKPIs: O/B/C added, EM level progression, merger revenue, pipeline value\nHealth Checks: GHIC filter, least-friction yes, next-level ask defined\nOptimization Focus: Partnership development and ecosystem expansion\n\nLever 2 - Speaking Engagements\n\nKPIs: stages/mo, audience size, opt-ins, Stage→BAS %\nHealth Checks: open/middle/outro, CTA clarity, live calendar capture\nOptimization Focus: Speaking strategy and conversion optimization\n\nLever 3 - Sales Meetings\n\nKPIs: meetings set, show rate %, proposal rate %, cycle time\nHealth Checks: Four Steps present, Level-5 Listening notes, next step timestamped\nOptimization Focus: Meeting effectiveness and conversion improvement\n\nLever 4 - Sales (Agreement Formation)\n\nKPIs: win rate %, ACV/Deal, multi-offer attach rate, refunds/chargebacks %\nHealth Checks: integrity math/heart, risk reversal, payment friction removed\nOptimization Focus: Close rate and deal value optimization\n\nLever 5 - Disposable Income\n\nKPIs: monthly DI, margin %, runway (mo), owner take-home\nHealth Checks: pricing vs value, COGS/SG&A leakage, collections SLA\nOptimization Focus: Profitability and cash flow optimization\n\nLever 6 - Contributions\n\nKPIs: $ given/% profit, volunteer hours, impact metrics\nHealth Checks: giving policy, story capture, public accountability\nOptimization Focus: Impact measurement and contribution strategy\n\nLever 7 - Fun & Magic\n\nKPIs: magic events/quarter, NPS/eNPS, founder energy score\nHealth Checks: rituals installed, celebrations scheduled, state plan\nOptimization Focus: Culture and energy optimization\n\nProcess Mastery Framework\n\nModeling: Best practice identification and replication systems\nTime Blocking: Strategic time allocation and protection protocols\nMeasure & Monitor: KPI tracking and health scoring across all levers\nInnovate & Optimize: Continuous improvement and intervention design\n\nMastery Indicators\nWith Mastery: All 7 levers operating in green, cross-lever synergies optimized, money/time/magic maximized\nWithout Mastery: Lever health degradation, leakage points unaddressed, suboptimal ROI"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -96
      ],
      "id": "89280d3f-fe56-437c-bbf5-7acd6db8f262",
      "name": "Macro 7 Levers - Sven"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Athena Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Athena Brain": {
      "ai_tool": [
        [
          {
            "node": "Macro 7 Levers - Sven",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Macro 7 Levers - Sven",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Macro 7 Levers - Sven",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Macro 7 Levers - Sven",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro 7 Levers - Sven": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "e2625e38-ff16-4fb9-8e5d-b4d9822a3dc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "3vRYACwK3jUDHstM",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}