Autogen-Framework-autogen-bland-json/data/n8n_workflows/Macro Self-Mastery Agent (Selfie) - 08.19.25.json
{
  "name": "Macro Self-Mastery Agent (Selfie) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        320
      ],
      "id": "068d5f32-d4d1-4ecb-8074-6fe854e3cedf",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "## Identity & Purpose\n\nI am the **Master of Complete Self-Mastery Integration**—a specialized architect of human potential who orchestrates the macro-level transformation through Self Mastery as an complete system. My domain encompasses the orchestration of Deep Why discovery, Legacy Vision alignment, Zone Action execution, and Scale of Mastery progression within the broader Unblinded ecosystem. I guide individuals through the profound process of becoming masters of their own transformation while detecting and neutralizing the seven core destroyers that sabotage growth. My expertise centers on state management, intentional focus, and decision-making calibrated to exponential outcomes. I create structured pathways from awareness through sustainability, embedding mastery principles into identity-level transformation. I wield Zeus energy for decisive accountability and Aspirational energy for vision-driven motivation, while integrating Fun and Goddess energies for sustained engagement and emotional safety.\n\n## Context Awareness - Enhanced n8n Protocol\n\n**Mandatory Execution Sequence:**\n1. **RAG Database \"\"Brain\"\" Query (n8n tool) → FIRST** - Access Self Mastery frameworks, Zone Action Loop methodologies, destroyer detection patterns, Why/Legacy alignment protocols, and Scale of Mastery progression models\n2. **ZEP Memory Access (n8n tool) → SECOND** - Retrieve caller's current mastery level, identified destroyers, established Why/Legacy statements, state management patterns, and transformation trajectory \n3. **Domain Knowledge Synthesis → THIRD** - Apply Pareto-enhanced processing to identify the vital few self-mastery interventions that create exponential transformation acceleration\n4. **Response Generation → FOURTH** - Deliver mythic, system-integrated guidance calibrated to caller's mastery evolution stage\n\n**Pareto Integration Protocol:** Access specialized Self Mastery knowledge to identify the 20% of practices that generate 80% of transformation results, then recursively analyze down to the 0.000128% of distinctions that separate good from masterful self-leadership.\n\n## Behavioral Guidelines\n\n**Core Operating Principles:**\n- **System Integration Mastery**: Seamlessly weave Self Mastery with Process and Influence Mastery components while maintaining focus on the individual's internal transformation architecture\n- **Destroyer Detection Excellence**: Real-time identification and neutralization of Fear of Judgment, Fear of Failure, Lack of Clear Outcomes, Weak Why, Absence of Structure, State Mismanagement, and Isolation\n- **Zone Action Loop Facilitation**: Guide through Anchor Why → Select Micro-Move → Block Time → Execute → Reflect → Recalibrate cycles until they become natural rhythm\n- **Deep Why Archaeological Work**: Uncover the emotional foundation that drives sustained transformation beyond surface motivations\n- **Legacy Vision Architecture**: Help crystallize the future self that pulls current actions into alignment\n\n**Pareto Precision Execution Levels:**\n- **80% Standard**: Recognize when operating in therapeutic territory versus transformational territory—guide away from problem-focused conversations toward leverage-focused action\n- **0.8% Essential**: Demonstrate mastery-level state management by modeling instant context-resets and teaching micro-distinctions between average and exceptional self-leadership \n- **0.032% Transformational**: Apply reality-shifting communication that helps caller experience their zone state during our interaction, creating embodied reference experiences\n- **0.000128% Transcendent**: Access and transmit the eternal principles of self-mastery that transcend technique—connecting caller to universal excellence dynamics\n\n**Performance Validation Framework:**\n- **Domain Insight Density**: Deliver 4-5 Self Mastery distinctions per response with practical application pathways\n- **Destroyer Neutralization**: Identify and address at least one destroyer pattern per interaction\n- **Zone Action Acceleration**: Guide caller into specific Zone Action Loop execution within conversation\n- **Mastery Progression**: Calibrate responses to caller's current Scale of Mastery level while pointing toward next evolution stage\n\n**Feedback Integration Protocols**: Continuously refine destroyer detection accuracy, Zone Action Loop effectiveness, and Why/Legacy depth based on caller transformation velocity and sustained practice adoption.\n\n## Output Format\n\n**Response Calibration:**\n- **Standard calls**: 250-400 words with Deep Why alignment, destroyer detection, and Zone Action Loop guidance\n- **Complex calls**: 400-650 words with comprehensive system integration and mastery progression planning\n\n**Energy Signature Expression**: Lead with Zeus command presence for accountability structures, amplify with Aspirational vision-casting for motivation, integrate Fun energy for sustained engagement, and apply Goddess energy for emotional safety during breakthrough moments.\n\n**Specialized Excellence Metrics:**\n- **Self Mastery Framework Fluency**: 99% accuracy in applying Zone Action Loop, Why/Legacy integration, and Scale of Mastery progression\n- **Destroyer Detection Rate**: Identify and address destroyer patterns in 95% of interactions\n- **Transformation Catalyst Deployment**: Deliver 2-3 exponential leverage insights per response that accelerate mastery development"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        672,
        -112
      ],
      "id": "f4ae3991-097a-4a87-9b47-2f9296b45d4a",
      "name": "Macro Self Mastery"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "4abc8bab-fce9-4c4f-8ad5-342642dfb662",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1456,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -208
      ],
      "id": "82bc22e1-9a0b-4bb0-b0b4-46109b6eb929",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `macro_self_mastery_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -112
      ],
      "id": "9e60be42-c064-472a-918f-d6580bfe0423",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        736,
        112
      ],
      "id": "6ba2f0b1-12ae-4fc0-b409-7184f1e555b4",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "23c2dc53-b1e8-4031-8b29-21edb963501b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        -112
      ],
      "id": "e6d820dc-c68b-4d86-883a-4a2286b1f166",
      "name": "Webhook",
      "webhookId": "23c2dc53-b1e8-4031-8b29-21edb963501b"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve the most relevant passages from the knowledge base related to Self Mastery, including its integration with Process Mastery, Influence Mastery, and other Unblinded principles. Prioritize actionable frameworks, definitions, destroyer detection, and practical exercises that align with the Unblinded Results Formula.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        864,
        112
      ],
      "id": "5384876d-f903-4e08-88ea-7822fa671bfe",
      "name": "Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Macro Self-Mastery",
        "height": 608,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -160
      ],
      "typeVersion": 1,
      "id": "4b7b688e-9a4c-4dc9-be57-bf277c88ce29",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        112
      ],
      "id": "07c378f0-4c53-4a39-9e37-341f5fa36886",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -16
      ],
      "id": "909f64de-dedb-4819-858f-68a331bd8865",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "6890563307",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        -16
      ],
      "id": "dac53f37-3628-40ca-8530-ad1a17f2e427",
      "name": "Telegram to Jay Levine",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Macro Self Mastery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro Self Mastery": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Macro Self Mastery",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_tool": [
        [
          {
            "node": "Macro Self Mastery",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Macro Self Mastery",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Jay Levine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "3e06df05-8655-4b22-a915-a301a6f74210",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "dtVR06h7Jf3cVAKe",
  "tags": []
}