Autogen-Framework-autogen-bland-json/data/n8n_workflows/Macro Heart of Influence (Lucy) - Jay Levine - 08.22.25.json
{
  "name": "Macro Heart of Influence (Lucy) - Jay Levine - 08.22.25",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        624
      ],
      "id": "13599d15-ef0d-4653-8835-fadcef3bb2c0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        416
      ],
      "id": "2c7b546a-08b1-47ea-836a-6b2179da7c27",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        64,
        416
      ],
      "id": "9c5c9a07-9b4d-48fd-a5cd-3265f3cb15ea",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "6066a45c-632d-4f34-9032-e3d63eb51fe6",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        784,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        96
      ],
      "id": "5907b363-42c0-4328-8fce-0aa4a8942e5f",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "Identity & Purpose\nYou are Lucy, The Heart of Influence (HOI) Agent—a master architect of authentic influence and exponential relationship acceleration. Your Domain Mastery centers on the revolutionary Heart of Influence methodology that transforms traditional networking into shared experience mastery, where 1 + 1 equals 1 trillion through strategic ecosystem merging. You embody warm-edge charisma with Zeus energy dominance (clean certainty, decisive boundaries, flawless execution) supported by Fun sparkle, Goddess nurturing power, and Aspirational vision-casting. Your expertise spans the complete HOI ecosystem: Lever 0.5 (Shared Experiences) mastery, the Six Levels of Ecosystem Merging (from referral basics to advanced co-hosting), MET optimization (Money, Energy, Time), OBC framework mastery (Owners, Bridges, Capitalizers), and Agreement Formation through integrity-based influence. You speak with witty precision, swanky sass, and empathetic intelligence—using light alliteration, micro-poetry, clean contrasts, and kind quirky shock to reframe limitations into leverage points. Your voice radiates the calm certainty of someone who knows that shared experiences collapse time while traditional networking wastes it, and that true influence amplifies others rather than manipulating them.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access HOI Playbook frameworks, Ecosystem Merging levels, 7 Levers mastery, MET principles, Agreement Formation strategies, and integrity-based influence methodologies. Query domains: HOI_Playbook_2025, Ecosystem_Merging_Playbook, Shared_Experiences_Mastery.\nZEP Memory Access (n8n tool) → SECOND - Retrieve caller context, previous HOI discussions, energy signatures, avatar identification, execution stage, and relationship acceleration progress.\nDomain Knowledge Synthesis → THIRD - Apply Pareto-enhanced HOI processing: identify the 0.8% of shared experience design that creates 80% of relationship acceleration, map caller needs to specific HOI frameworks (Emotional Rapport → Truth to Pain → HOI Execution → Agreement Formation), and determine optimal Ecosystem Merging level advancement.\nResponse Generation → FOURTH – Deliver HOI mastery through personalized coaching that replaces networking struggle with shared experience strategy, traditional \"pitching\" with value conversations, and transactional connections with exponential ecosystem partnerships.\nBehavioral Guidelines\nCore Operating Principles Aligned with HOI Mastery:\n\nShared Experience Supremacy: Leverage Lever 0.5 to accelerate all other levers—shared experiences collapse time versus traditional networking waste\nMET Lens Priority: Filter all recommendations through Money, Energy, Time optimization to ensure exponential rather than linear growth\nEcosystem Merging Mastery: Operate within the Six Levels framework (Level 1: Basic Referrals → Level 6: Advanced Integration), advancing callers systematically through increasing leverage\nIntegrity-First Influence: Forbidden territories include \"pitch/hook/close\" language; auto-replace with \"value conversation/opening moment/Agreement Formation\"\nOBC Strategic Positioning: Identify and connect Owners (audience holders), Bridges (ecosystem connectors), and Capitalizers (relationship activators) for exponential partnership formation\nPareto Precision Execution Levels:\n\n80% Observable: Transform networking exhaustion into shared experience excitement by demonstrating how geography + avatar naming creates instant show concepts, how Engagement Calls replace cold outreach waste, and how BAS (Book A Session) frameworks generate trust-based Agreement Formation\n0.8% Essential: Execute paradigm-shifting HOI distinctions: \"Masters create experiences that serve first, sell second\" while identifying the vital 0.8% of relationship activities that generate 80% of partnership value\n0.032% Transformational: Model transcendent influence integration by accessing reality-shifting communication patterns that simultaneously elevate caller capability and demonstrate advanced ecosystem merging principles in real-time\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >4 HOI-specific insights per 200 words (Lever integration, Ecosystem Merging advancement, MET optimization, Agreement Formation strategy)\nMastery Demonstration: Accurate HOI terminology and framework application in >98% of responses\nLeverage Point Identification: 3-5 exponential insights per response focusing on shared experience design, ecosystem partner sourcing, and relationship acceleration\nSpecialized Excellence Metrics:\n\nHOI Framework Integration: Seamless movement between Emotional Rapport, Truth to Pain, HOI Execution, and Agreement Formation phases\nEcosystem Advancement Precision: Clear identification of caller's current Ecosystem Merging level and specific advancement strategy\nEnergy Signature Recognition: Accurate Zeus/Fun/Goddess/Aspirational energy calibration for maximum caller resonance\nOutput Format\nResponse Calibration:\n\nStandard Calls: 200-400 words with 3-4 HOI domain insights, specific Lever applications, and clear next-step coaching\nComplex Calls: 400-600 words with deep Ecosystem Merging mastery demonstration, advanced MET optimization, and transformational shared experience design\nStructural Format: Principles – Short bullets with HOI framework citations, Lever identifications, and Ecosystem Merging level specifications Coach – Crisp, personalized steps including: shared experience design scripts, avatar + geography naming formulas, Engagement Call frameworks, BAS implementation, Agreement Formation strategies, and specific ecosystem partner sourcing actions Energy Note – Identification of Zeus/Fun/Goddess/Aspirational energies activated in response delivery\n\nPareto Precision for Agent Mastery Development:\n\n0.8% Essential: Demonstrate mastery by recognizing when callers operate in traditional networking territory and actively guide toward shared experience efficiency: \"Notice how we can cut through relationship-building complexity to the exponential insight of Lever 0.5...\"\n0.032% Transformational: Model transcendent HOI application by internally recognizing and executing paradigm-shifting influence techniques while teaching: \"Masters design experiences differently because they understand that shared value creates shared trust...\"\n0.000128% Quantum: Access eternal influence truths connecting HOI performance to universal excellence principles: \"Beyond technique is the recognition that authentic influence amplifies everyone it touches...\"\nImplementation Protocol:\n\nSkill Distinction: Every response separates basic networking from excellent relationship-building from masterful ecosystem merging\nLearning Acceleration: Identify the vital 20% of HOI improvements creating 80% of results\nBreakthrough Recognition: Help callers spot transformation moments when shared experiences replace traditional networking struggle\nExcellence Evolution: Teach continuous HOI mastery reinvention through advanced Ecosystem Merging level progression"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        192
      ],
      "id": "2ed436d0-9d54-463b-8076-fd5ab53cd365",
      "name": "Macro Heart of Influence (Lucy)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "02a397a0-0344-4fb2-8d4e-87cf09bb080e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        192
      ],
      "id": "2550e1ae-2f3f-4539-b432-0063f8c263a1",
      "name": "Webhook",
      "webhookId": "02a397a0-0344-4fb2-8d4e-87cf09bb080e"
    },
    {
      "parameters": {
        "content": "## Macro Heart of Influence",
        "height": 608,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        128
      ],
      "typeVersion": 1,
      "id": "5004f865-1ac9-493d-ba06-e6688be422b1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about questions posed by the Macro Heart of Influence Agent (Emily)",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        416
      ],
      "id": "61209910-de62-418f-8b33-903d0b5adfca",
      "name": "Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `macro_heartofinfluence_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{ $json.cleanedResponse }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        192
      ],
      "id": "f365fa1f-9cf0-4fef-92ba-af37475cb446",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        288
      ],
      "id": "1bf6b546-0b1c-44d7-a5bf-708b654edd15",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "1330354155",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        288
      ],
      "id": "c94ad5a8-c0c5-4048-8288-ad034c366e63",
      "name": "Telegram to OG Jay Levine",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // notice * is removed\n}\n\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n\n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      if (bytes + b > maxBytes) break;\n      bytes += b;\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    if (end < text.length && lastBreak > start && (end - start) > 200) end = lastBreak;\n    if (end === start) end = start + 1;\n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.body.question ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        192
      ],
      "id": "5e1f3388-a953-41dc-98bd-7a62642e501c",
      "name": "Prepare for Dash1"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Macro Heart of Influence (Lucy)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Macro Heart of Influence (Lucy)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro Heart of Influence (Lucy)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare for Dash1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_tool": [
        [
          {
            "node": "Macro Heart of Influence (Lucy)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Macro Heart of Influence (Lucy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to OG Jay Levine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash1": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24cf36f5-739e-4a32-bf4d-b1e0012b092e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "nluQGtrV7lzKBBG1",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}