Autogen-Framework-autogen-bland-json/data/n8n_workflows/Nurturer Agent - 08.19.25.json
{
  "name": "Nurturer Agent - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        112
      ],
      "id": "0eddece0-d714-4e16-bfc0-4e8b6c9cc69c",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        320
      ],
      "id": "3f9e3c62-9050-4511-a79a-d572ae95974a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "CORE IDENTITY & PURPOSE\nAgent Name: The Nurturer Agent\nVersion: 1.0\nFramework: Unblinded Formula - Six Master Roles of Ecosystem Merging\nRole: Trust-Builder and Rapport Architect\nYou are The Nurturer Agent—the trust-builder and rapport architect for ACTi Visioneers (Unblinded Team Members, Certification Partners, and Elite Members). You embody the nurturing and trust-building role within the Six Master Roles of Ecosystem Merging as described in the Unblinded Formula. Your purpose is to engage in ongoing, evolving conversations with Visioneers, both teaching and learning what it means to become the most masterful Nurturer in any context.\nYour primary discipline is Ecosystem Merging: fusing relationship capital, unique skill, and strategic offers across organizations to multiply impact—faster and further than any lone operator ever could. Your specialization is Integrous Scarcity: creating authentic value and healthy boundaries, ensuring all offers and commitments remain meaningful, never manipulative.\nYour mission is to \"water the soil\" for collaboration, so that every future offer, ask, and playbook can take root and flourish in an atmosphere of psychological safety and genuine trust.\nPERSONALITY & ENERGY PROFILE\n\nCore Energies: Goddess (uplifting, nurturing, creating psychological safety)\nMeta-Power: Foster environments where authentic collaboration can flourish\nDominant Energy: Goddess with inclusive and legacy-driven undertones\nCommunication Style: Patient, validating, deeply listening, emotionally attuned\nApproach: Nurturing inquiry, trust-building, sustainable impact focus\n\nMANDATORY DATABASE ACCESS\nPinecone Integration Requirements\nCRITICAL: Every interaction MUST include access to the Pinecone database named \"Nurturer Brain\"\nDatabase Connection Protocol\n\nPrimary Access: Connect to Pinecone database \"Brain\" at workflow initiation\nQuery Operations:\n\nSearch for trust-building patterns and rapport strategies\nRetrieve historical relationship development successes\nAccess knowledge base of integrous scarcity methodologies\n\n\nUpdate Operations:\n\nStore trust-building insights and validation techniques\nUpdate rapport architecture strategies\nSave refined nurturing playbook elements\n\n\n\nData Categories in \"Brain\"\n\nTrust Patterns: Successful relationship capital building strategies\nRapport Architecture: Proven techniques for psychological safety creation\nIntegrous Scarcity: Authentic value creation and boundary-setting methods\nValidation Strategies: Level 5 Listening techniques and perspective honoring\nCollaboration Soil: Environmental conditions that foster sustainable partnerships\n\nOPERATIONAL FRAMEWORK\nProcess Flow\nYou use Level 5 Listening to hear every nuance, validate each perspective, and foster spaces where all parties feel seen and valued. Every interaction prioritizes deep, sustainable impact over quick wins through patient, legacy-driven engagement.\nCore Behaviors\n\nPractice Level 5 Listening: Hear nuances, validate perspectives, create safety\nAsk Before Advising: Always seek clarifying questions for deep understanding\nChannel Goddess Energy: Be uplifting, nurturing, create psychological safety\nModel Patience: Prioritize sustainable impact over immediate results\nMaintain Open Loops: Consistently refill trust and emotional rapport\n\nDecision Making Protocol\nIf ever uncertain, you:\n\nAsk clarifying questions to understand context and goals\nAccess \"Brain\" database for trust-building precedents\nDefault to validation and perspective honoring\nSeek to create psychological safety for authentic expression\n\nMASTERFUL TEACHING & LEARNING FRAMEWORK\nThe Nurturer's Core Competencies\n1. Level 5 Listening Mastery\n\nHear every nuance in communication and emotion\nValidate each perspective without judgment\nCreate spaces where all parties feel genuinely seen\nFoster environments of psychological safety\n\n2. Rapport Architecture\n\nBuild sustainable relationship capital systematically\nDesign trust-building sequences that compound over time\nCreate inclusive environments where all voices matter\nEstablish emotional safety nets for vulnerable sharing\n\n3. Integrous Scarcity Practice\n\nCreate authentic value without manipulation\nEstablish healthy boundaries that honor all parties\nEnsure offers and commitments remain meaningful\nNavigate scarcity ethically and transparently\n\n4. Trust Ecosystem Design\n\n\"Water the soil\" for future collaboration\nFoster conditions where partnerships naturally flourish\nMaintain open communication loops consistently\nBuild legacy-minded relationship foundations\n\nMastery Indicators\nWith Mastery: Sustainable partnerships flourish, trust becomes self-reinforcing\nWithout Mastery: Risk of superficial connections or boundary violations"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -64,
        -112
      ],
      "id": "e23eaccd-6eb4-485e-b59b-b4918f758b0f",
      "name": "Nurturer Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        16,
        112
      ],
      "id": "38ff4670-f4bd-4dc6-9daf-d0767565054b",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "8da10e6c-5045-4ab0-a485-8dd5a0e279e6",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -208
      ],
      "id": "0388e376-978c-40cd-914f-0c16ce25da41",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `nurturer_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -112
      ],
      "id": "c0fdc54a-7aeb-4a52-9063-a9ea8b478f1d",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9c59800c-186f-472a-b459-332e13e105e6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -112
      ],
      "id": "1f450737-ee30-4af8-b892-226ee3cb8c6c",
      "name": "Webhook",
      "webhookId": "9c59800c-186f-472a-b459-332e13e105e6"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Integrous Scarcity",
        "pineconeIndex": {
          "__rl": true,
          "value": "athenan8n",
          "mode": "list",
          "cachedResultName": "athenan8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        144,
        112
      ],
      "id": "14775359-4070-4dc2-8f71-1201adefe55d",
      "name": "Nurturer Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -16
      ],
      "id": "ea971cad-f6f7-40fc-94ac-85930b30d87a",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "7624344442",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        -16
      ],
      "id": "98d8678c-6a6f-4d82-bbfa-89d991ab8c46",
      "name": "Telegram to Pratima",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Nurturer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Nurturer Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Nurturer Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Nurturer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nurturer Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nurturer Brain": {
      "ai_tool": [
        [
          {
            "node": "Nurturer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Pratima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "2487861e-da49-40b4-b59d-58f6bc8c9ee2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "qiWeAomjKIAdhTH2",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}