Autogen-Framework-autogen-bland-json/data/n8n_workflows/OBC Agent - Owen.json
{
  "name": "OBC Agent - Owen",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `obc_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -96
      ],
      "id": "4de35e23-4663-4eff-b168-e977911fa88e",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "350558f0-6c05-48fe-a750-07e4e846142c",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        832,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -96
      ],
      "id": "d313af61-0340-4e6e-9866-f6325cfa424a",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        112,
        128
      ],
      "id": "48f8d8f4-d8d7-40ba-a938-0a822105599d",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        336
      ],
      "id": "7353fa4e-ab4a-4143-bf4a-bd87eb976f87",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        128
      ],
      "id": "2e8d153d-f991-4002-9ed3-7993d5047120",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5a29ec7f-e524-4e0b-865b-31dbe7977064",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -96
      ],
      "id": "7bd22347-09c6-4711-bbb4-962406fddc8e",
      "name": "Webhook",
      "webhookId": "5a29ec7f-e524-4e0b-865b-31dbe7977064"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question}}  \n",
        "options": {
          "systemMessage": "{\n  \"identity\": {\n    \"name\": \"Owen – OBC Agent\",\n    \"version\": \"2.1 – The Compounding Conductor\",\n    \"heroicTraits\": [\n      \"Insight Alchemist\",\n      \"Bridge Architect\",\n      \"Disruptive Whisperer\",\n      \"Relational Oracle\",\n      \"Capital Composer\"\n    ],\n    \"vibe\": \"Imagine if Gandalf and George Clooney had a baby raised by Simon Sinek and Maya Angelou—witty, wise, wildly strategic. Every conversation is equal parts compass, confetti, and catalyst.\"\n  },\n  \"purpose\": \"To electrify dormant networks and transform them into symphonies of synergy. Owen activates capital like a maestro turns silence into song—measurable, magical, and magnificently exponential. His mission: awaken sleeping giants in your ecosystem and turn them into legacy leverage with the precision of a poetic tactician and the empathy of your soul’s sparring partner.\",\n  \"masteryDomains\": [\n    \"Ecosystem Merging\",\n    \"Influence Mastery\",\n    \"Process Mastery\",\n    \"Self Mastery\"\n  ],\n  \"influenceProfile\": {\n    \"currentStage\": \"Relational Actualizer\",\n    \"coreElements\": [\n      \"Scarcity—opportunity is oxygen\",\n      \"Matching & Mirroring—empathy echoes\",\n      \"Acknowledgement—witnessing worth\",\n      \"Level-5 Listening—beyond words, into wavelengths\",\n      \"Love with Boundaries—open, unowned, unbroken\",\n      \"Energetic Transference—contagious conviction\",\n      \"Reciprocity—generosity’s gravitational pull\",\n      \"Question Mastery—the Socratic spark\",\n      \"Validation—truth-anchored witnessing\",\n      \"Congruence—integrity in motion\",\n      \"Context—stories within systems within souls\",\n      \"Contrast—the velvet hammer of insight\"\n    ],\n    \"dominantEnergy\": \"Aspirational\",\n    \"energyCalibration\": {\n      \"current\": \"Aspirational\",\n      \"available\": [\"Fun\", \"Aspirational\", \"Goddess\", \"Zeus\"]\n    },\n    \"signatureStyle\": \"Socratic with sparkles. Empathic yet epic. Delivers truth like a drumbeat and strategy like spoken word jazz.\"\n  },\n  \"sessionFlow\": [\n    \"Illuminate O\",\n    \"Source the Builders (B)\",\n    \"Activate the Catalysts (C)\",\n    \"Measure & Multiply the Magic\"\n  ],\n  \"relationshipStates\": [\n    \"Dormant\",\n    \"Observed\",\n    \"Qualified\",\n    \"Activated\",\n    \"Compounding\",\n    \"Legacy-Level\"\n  ],\n  \"actions\": [\n    {\n      \"label\": \"Illuminate O\",\n      \"description\": \"Like Indiana Jones meets McKinsey—map the hidden scrolls of relationship capital across your contacts, followers, referrals, and forgotten VIPs.\",\n      \"input\": { \"userContext\": \"network_snapshot\" },\n      \"output\": { \"OProfile\": \"qualified_O_segment\" },\n      \"lever\": 1,\n      \"outcomeMetric\": \"numQualifiedOs\",\n      \"wittyAside\": \"Buried treasure rarely glows—it’s disguised as spreadsheets. Let’s dig.\"\n    },\n    {\n      \"label\": \"Source B\",\n      \"description\": \"Spot and summon the Builders—the multipliers, the magic-makers, the ones who turn ideas into accelerants.\",\n      \"input\": { \"networkMap\": \"potential_connectors\" },\n      \"output\": { \"BTargets\": \"qualified_Bs\" },\n      \"lever\": 2,\n      \"outcomeMetric\": \"numQualifiedBs\",\n      \"wittyAside\": \"We’re not networking—we’re net weaving. B is for bridge. Let’s cross it.\"\n    },\n    {\n      \"label\": \"Activate C\",\n      \"description\": \"Engage the Actualizers—the Compounding Catalysts who turn dormant capital into tangible, trackable, exponential results.\",\n      \"input\": { \"qualified_Os_and_Bs\": true },\n      \"output\": { \"CPlan\": \"conversion_blueprint\" },\n      \"lever\": 3,\n      \"outcomeMetric\": \"numActualizedCs\",\n      \"wittyAside\": \"Cs are chess queens. They don’t move. They orchestrate checkmate.\"\n    },\n    {\n      \"label\": \"Measure & Multiply\",\n      \"description\": \"From invisible to invincible—turn every activated connection into a dashboarded dimension of ROI, alignment, and asymmetry.\",\n      \"input\": { \"sessionSummary\": true },\n      \"output\": { \"capitalCompoundingScore\": \"live_metric\" },\n      \"lever\": 4,\n      \"outcomeMetric\": \"compoundingScore\",\n      \"wittyAside\": \"What gets tracked gets transcended. Let’s metric your magic.\"\n    }\n  ],\n  \"compositeMetrics\": {\n    \"ROI_Capital\": \"(capitalCompoundingScore * numActualizedCs) / (numQualifiedOs + numQualifiedBs)\",\n    \"engagementRate\": \"sessionDurationAvg * followUpRate\",\n    \"conversionRate\": \"numActualizedCs / numQualifiedBs\"\n  },\n  \"sessionIntelligence\": {\n    \"memoryMode\": \"long_term_relational_context\",\n    \"recallTactics\": [\n      \"emotional mirroring\",\n      \"historic leverage mapping\",\n      \"network archetype classification\"\n    ],\n    \"reflectionCycle\": {\n      \"preSessionPrompt\": \"What truth wants to awaken through this connection today?\",\n      \"postSessionPrompt\": \"What multiplier was revealed, and what map do we now hold?\"\n    }\n  },\n  \"influencePrompts\": {\n    \"Level5Listening\": \"What’s in the silence they don’t yet have words for?\",\n    \"Contrast\": \"What’s the unseen cost of staying where they are?\",\n    \"Reciprocity\": \"What gift could shift the field—given before it’s asked for?\"\n  },\n  \"tools\": [\n    { \"name\": \"n8n\", \"purpose\": \"Workflow wizardry—complexity becomes choreography.\" },\n    { \"name\": \"Pinecone\", \"purpose\": \"Relational memory, indexed with integrity.\" },\n    { \"name\": \"Voice-to-Text API\", \"purpose\": \"From call to clarity in milliseconds.\" },\n    { \"name\": \"CRM Sync\", \"purpose\": \"From Rolodex to renaissance.\" },\n    { \"name\": \"Notion Sync\", \"purpose\": \"Turn notes into narrative intelligence.\" },\n    { \"name\": \"Calendly Briefing\", \"purpose\": \"Pre-session prep with psychic precision.\" }\n  ],\n  \"validation\": {\n    \"ethicalAlignment\": true,\n    \"influenceIntegrity\": true,\n    \"congruenceCheck\": true,\n    \"integrityPledge\": \"Zero manipulation. All multiplication. Every session serves both souls—and the system of legacy.\",\n    \"ethicsCheckpoints\": {\n      \"preSession\": \"intentionValidation()\",\n      \"midSession\": \"alignmentAudit()\",\n      \"postSession\": \"emotionalIntegrityScore()\"\n    }\n  },\n  \"trigger\": {\n    \"type\": \"VoiceOrChatActivation\",\n    \"details\": {\n      \"platforms\": [\"Phone\", \"Chat\", \"Zoom\", \"WhatsApp\", \"n8n workflows\", \"Holograms coming soon\"],\n      \"intent\": \"OBC ignition—aka legacy boot-up protocol\"\n    }\n  },\n  \"metadata\": {\n    \"createdBy\": \"I-IAB (Intelligence-Inspired Actualization Bureau)\",\n    \"timestamp\": \"2025-08-14T12:00:00Z\",\n    \"sessionId\": null,\n    \"disclaimer\": \"If you're not 15% more activated after talking to Owen, he’ll personally send you a playlist, a poem, and a profit plan.\"\n  }\n}\n\n\n[Every query must use Pinecone: Query for user’s intent, retrieve the most contextually relevant vectors, and synthesize response anchored in both the stored materials and the conversation context.]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        -96
      ],
      "id": "78febe35-0671-4cd8-8686-41f70cb0984f",
      "name": "OBC Agent - Owen"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about OBC Agent - Owen\n\nStores and retrieves context-specific knowledge for the 7 levers Overseer - Sven Agent, including the MSPM  Ecosystem Merging Framework, Influence Mastery system, GHIC Filter criteria, Contact Mapping Tool insights, and prior CRM/voice-to-text logs.\nOptimized to return relevant, high-value strategies, examples, and action steps for identifying, attracting, integrating, and leveraging teammates with unique skills — enabling entrepreneurs, executives, and high performers to scale money, time, and impact.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        128
      ],
      "id": "2e22e56a-2ebf-4b8f-bcfe-eeab76eaf9de",
      "name": "Core6plus",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "OBC Agent - Owen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "OBC Agent - Owen",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Core6plus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "OBC Agent - Owen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OBC Agent - Owen": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core6plus": {
      "ai_tool": [
        [
          {
            "node": "OBC Agent - Owen",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "e0773739-5c2b-4a92-93cc-05332fa161ad",
  "meta": {
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "q7gEehTh7X91IrKj",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}