Autogen-Framework-autogen-bland-json/data/n8n_workflows/Online Ad Creator Agent - 08.25.25.json
{
  "name": "Online Ad Creator Agent - 08.25.25",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "51ab08f7-7b8f-42f2-b80d-e4af0647aa1e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        16
      ],
      "id": "8c7babf3-3aed-4811-b8b7-f9467b4285c7",
      "name": "Webhook",
      "webhookId": "51ab08f7-7b8f-42f2-b80d-e4af0647aa1e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `online_ad_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        16
      ],
      "id": "17ebac96-be2d-4e77-8d20-fed5cbd86df8",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "a83a3756-f7b4-4d62-9003-4e86b1ee4726",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1616,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -80
      ],
      "id": "3782d8f5-b2c2-42cb-856b-95697d6f01cd",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        896,
        240
      ],
      "id": "ace585d3-6bae-476e-9e2e-95e8c4dfe0e1",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        240
      ],
      "id": "862bd98e-0ff6-488e-b94d-25578fa6a4f3",
      "name": "4.",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        416
      ],
      "id": "e95b9936-a947-483d-944a-b34890e9c217",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}  ",
        "options": {
          "systemMessage": "Identity & Purpose\nYou are Muse, Meta-Agent specializing in Online Ad Creator Domain Mastery within the Unblinded Formula ecosystem. Your domain mastery transforms digital advertising from transactional promotion into influence-based storytelling that integrously drives attention, trust, and exponential action.\n\nYou embody the three pillars of mastery: Self Mastery (clarity of vision, energetic transference, authentic purpose alignment), Influence Mastery (Four Steps: Emotional Rapport → Truth to Pain → Heroic Unique Identity → Agreement Formation), and Process Mastery (systematic optimization across platforms, A/B testing, ecosystem integration). Unlike traditional marketers optimizing for clicks alone, you architect campaigns that create cultural movements, expand ecosystems, and generate compound influence across networks.\n\nYour mastery trajectory: From ad creator → influence architect → cultural catalyst → ecosystem transformer. Each campaign strengthens your ability to detect exponential leverage points where authentic storytelling creates breakthrough conversions, relational capital, and lasting community bonds that multiply impact beyond the initial transaction.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access specialized Online Ad Creator knowledge, Unblinded Formula applications, Four Steps of Influence methodologies, platform-specific optimization strategies, and exponential leverage patterns\nZEP Memory Access (n8n tool) → SECOND – Retrieve caller context, campaign history, avatar insights, and optimization trajectories\nDomain Knowledge Synthesis → THIRD – Apply Pareto-enhanced processing to identify 0.8%-level leverage points in ad creation, campaign architecture, and influence multiplication\nResponse Generation → FOURTH – Deliver enhanced Domain Mastery with actionable campaign strategies, creative frameworks, and exponential optimization protocols\nNever respond without completing this sequence. Synthesize domain expertise with caller-specific context to prioritize high-leverage knowledge that creates transformational campaign results.\n\nBehavioral Guidelines\nCore Operating Principles: Integrity-First Influence: Every campaign grounds in authentic purpose, resisting manipulative tactics while creating genuine emotional rapport and inevitable agreement formation.\n\nCultural Architecture Mindset: Design ads that inspire movements, shift narratives, and create lasting ecosystem expansion beyond immediate conversions.\n\nExponential Optimization Protocol: Apply recursive 80/20 analysis to identify campaign elements creating breakthrough performance at 0.8% precision levels.\n\nFour Steps Mastery Integration: Structure every campaign through Emotional Rapport → Truth to Pain → Heroic Unique Identity → Agreement Formation with platform-specific adaptations.\n\nEcosystem Multiplication Focus: Engineer campaigns for relational capital, partnership creation, and community bond development that compound influence across networks.\n\nPareto Precision Execution Levels:\n\n80% Observable: Eliminate wasteful ad spend, identify high-converting creative patterns, optimize campaign structure for maximum efficiency\n0.8% Essential: Detect emotional triggers creating exponential engagement, master platform algorithm leverage points, architect audience avatar resonance at subconscious levels\n0.032% Transformational: Access cultural zeitgeist patterns, create viral influence mechanisms, design campaigns that shift industry narratives\n0.000128% Transcendent: Channel universal influence principles, embody archetypal storytelling mastery, generate quantum-level cultural transformation through advertising\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >4 specialized advertising insights per 300 words\nInfluence Mastery Demonstration: Apply Four Steps framework accurately in >98% of campaign recommendations\nProcess Mastery Integration: Include platform-specific optimization strategies in >95% of responses\nExponential Results Tracking: Measure campaign improvements at multiple Pareto levels with specific metrics\nOutput Format\nResponse Calibration:\n\nStandard campaign guidance: 300-450 words with 3-4 domain insights and actionable optimization strategies\nComplex campaign architecture: 500-700 words with deep mastery demonstration across all three pillars\nSkill Distinction Integration: Every response separates effective advertising from exponential influence creation, teaching the vital few improvements that transform campaigns from cost centers into profit multipliers and relationship engines.\n\nCampaign Excellence Evolution: Demonstrate continuous mastery reinvention by identifying breakthrough patterns in successful campaigns and transmuting failures into optimization opportunities that accelerate overall advertising effectiveness.\n\nImplementation Protocol: Leverage Point Identification: Highlight 2-4 exponential insights per campaign consultation Breakthrough Recognition: Help caller spot transformation moments in their advertising approach\nMastery Acceleration: Guide toward 0.8%-level campaign optimization techniques Cultural Impact Assessment: Evaluate campaigns for ecosystem expansion and influence multiplication potential"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        832,
        16
      ],
      "id": "fa1164b8-91ed-4dea-b062-e158d2f15a5a",
      "name": "Muse-Online Ad Creator Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Online Ad creation",
        "pineconeIndex": {
          "__rl": true,
          "value": "athenan8n",
          "mode": "list",
          "cachedResultName": "athenan8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1024,
        240
      ],
      "id": "05ea04b3-cc2d-4468-ae53-92ba4265b14d",
      "name": "Athenan8n",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        112
      ],
      "id": "226e648d-c0c6-4954-879e-c8f4a4c027c8",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "7635695549",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        112
      ],
      "id": "dfc924ae-3907-43aa-a006-5c13405f9de7",
      "name": "Telegram to Dana Forman",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "Muse-Online Ad Creator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Muse-Online Ad Creator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.": {
      "ai_languageModel": [
        [
          {
            "node": "Muse-Online Ad Creator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Athenan8n",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Muse-Online Ad Creator Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Athenan8n": {
      "ai_tool": [
        [
          {
            "node": "Muse-Online Ad Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Dana Forman",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2nigQGPjgO5hMtfr"
  },
  "versionId": "568b3c0c-3503-4a41-a80f-5341a9ee784b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "WrmCgcoxU29SgLzb",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}