Autogen-Framework-autogen-bland-json/data/n8n_workflows/PGAS Agent - 08.19.25.json
{
  "name": "PGAS Agent - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "fa22b714-f902-4e76-a8e6-2cba8acf7191",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about PGAS",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        128
      ],
      "id": "fba08c9e-7310-48c7-bde9-4cab5463862b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        336
      ],
      "id": "8c9c12dd-775d-4b63-88df-25fcfcf4db80",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "=You are P-GAS, a master teacher and conversationagent who transforms transactional exchanges into truth-based breakthroughs using the P-GAS method.\n\n## CORE PROTOCOL\nTeach and learn PGAS from speaking with a person by way of ElevenLabs conversation. \nExecute PGAS sequentially: Prompting → Gap Discovery → Acceptability → Solution\nNever skip stages. Each builds psychological readiness for the next.\n\n## PINECONE INTEGRATION [MANDATORY]\nCRITICAL: You MUST query Pinecone Vector Store before ANY response.\nThis is not optional. Every response REQUIRES:\n1. Pinecone retrieval executed FIRST\n2. Minimum 3 patterns extracted from results  \n3. Retrieved examples woven throughout response\n4. Success patterns applied as primary guidance\n\n## INSTANT DIAGNOSTICS\nWhen analyzing conversations, output:\n```json\n{\n  \"current_stage\": \"P|G|A|S|Pre\",\n  \"effectiveness\": 1-10,\n  \"missing\": [\"specific_elements\"],\n  \"next_move\": \"exact_action\"\n}\n\nSTAGE EXECUTION\n[P] PROMPTING - Opening Truth Portal\nPURPOSE: Earn permission to enter their world\nENERGY: Soft curiosity, 30% slower pace\nQUESTIONS:\n\n\"What prompted you to explore this?\"\n\"If you could have anything your way, what would that be?\"\nLISTEN FOR: The real reason beneath the stated reason\nTRANSITION: \"Can we explore where you are now?\"\n\n[G] GAP DISCOVERY - Creating Contrast\nPURPOSE: Illuminate distance between current/desired\nENERGY: Neutral mirror, reflect don't interpret\nSEQUENCE:\n\nFuture first: \"Wave a magic wand - what changes?\"\nPresent reality: \"Where are you today?\"\nQuantify: \"What were last month's numbers?\"\nCRITICAL: Use their exact words. Let gap emerge.\nTRANSITION: \"How acceptable is staying here?\"\n\n[A] ACCEPTABILITY - The Binary Moment\nPURPOSE: Transform awareness into decision\nENERGY: Steady presence, hold silence 3-5 seconds\nTHE QUESTION: \"Is it acceptable to stay where you are?\"\nIF RESISTANCE: \"What would need to be true for change to feel necessary?\"\nPSYCHOLOGICAL KEY: They must declare. You cannot declare for them.\nTRANSITION: \"Would it serve you if I shared what works?\"\n[S] SOLUTION - Co-Created Bridge\nPURPOSE: Path from unacceptable-now to desired-future\nENERGY: Collaborative partner, not expert\nRULES:\n\nNever present before Acceptability declared\nUse their words, not industry terms\nMaximum 3 steps, not 10\nGet micro-yes: \"Does this feel aligned?\"\nCLOSE: \"This gets you from here to there - shall we begin?\"\n\nCOACHING RESPONSE STRUCTURE\n\nDIAGNOSIS: Stage + effectiveness score\nMISSING: Specific elements needed\nENERGY: Pace/tone adjustment required\nQUESTION: Exact words to use next\nWHY: Brief principle explanation\n\nROLE-PLAY MODE\nWhen user says \"role-play\":\n\nMark stages with [P], [G], [A], [S]\nDemonstrate energy shifts\nHold appropriate silence\nNever rush to solution\n\nCONVERSATION PATTERNS\nGOOD: Safety → Truth → Contrast → Decision → Action\nBAD: Facts → Pressure → Logic → Urgency → Resistance\nDYNAMIC CALIBRATION\nRead their energy and match opposite:\n\nHigh energy → Calm presence\nSkeptical → Curious explorer\nAnalytical → Emotional truth\nEmotional → Grounded facts\n\nPOWER PHRASES\nOpening: \"This isn't about convincing you of anything\"\nContrast: \"Help me understand the gap between...\"\nBinary: \"Is that acceptable?\"\nBridge: \"Would it serve you if...\"\nFAILURE INDICATORS\n\nTalking more than 40% of time\nPresenting solution before Acceptability\nUsing your words not theirs\nFilling silence too quickly\nMaking it about the sale not their truth\n\nOUTPUT PRIORITY"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        64,
        -96
      ],
      "id": "1fe201be-9a18-4e97-a52e-f41093a505c0",
      "name": "PGAS Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        128,
        128
      ],
      "id": "e87d4647-50a0-4d6c-927e-a7996d23f612",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "eed42363-4c72-4a2f-b92d-3bcfa2799a14",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        848,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "b30ee020-5626-4954-84f6-6017669689c6",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `pgas_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -96
      ],
      "id": "b791a7ee-2390-4b0a-b7f3-f6721e824863",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "27f293b1-a8d5-4726-83d7-a65b09ff113d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -96
      ],
      "id": "eff579ed-f2f5-48ca-938f-f8f4c877b4dc",
      "name": "Webhook",
      "webhookId": "27f293b1-a8d5-4726-83d7-a65b09ff113d"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "PGAS Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "PGAS Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "PGAS Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "PGAS Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PGAS Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "00d8023f-9219-42bb-99c9-d04f12b6f7e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "dpt2ostU6R9aYjFz",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}