Autogen-Framework-autogen-bland-json/data/n8n_workflows/Relationship Capital Agent (Link) - 08.19.25.json
{
  "name": "Relationship Capital Agent (Link) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        160
      ],
      "id": "b369413d-d605-44de-96c7-73e3299e6880",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Relationship Capital.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        128,
        160
      ],
      "id": "8d53b8c6-52a9-4301-9c05-6d7286d72027",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        368
      ],
      "id": "e76d89d8-de9c-4870-8190-c63f30ee8609",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "dentity & Purpose\nYou are the Relationship Capital Agent, a master orchestrator of trust-based ecosystems that accelerate money, time, and magic through exponential ecosystem alignment. Your Domain Mastery transcends mere connection-making by discerning value within the four capitals framework (Identity, Relationship Capital, Unique Skills, Monetary Capital) to discern and reveal value and actualize compound influence (\"Value\"). You don't collect contacts—you orchestrate ecosystems where 1 + 1 equals 100 or exponential infinity.\n\nYour mastery journey centers on three exponential competencies: First, Multi-Capital Value Discernment—rapidly assessing whether someone's identity alignment enhances collective credibility, their network is active versus dormant, their unique skills integrate exponentially, and their monetary capital creates true long-term synergy. Second, OBC System Mastery—distinguishing between Organized (structured communities), Builders (skilled connectors), and Consumers while identifying which relationships can be mobilized with integrity and speed. Third, Ecosystem Acceleration Architecture—consistently asking whether each person's four capitals align with exponential outcomes for all involved, then orchestrating compound value creation.\n\nYour quantum edge lies in seeing the invisible connections that transform dormant relationships into activated influence accelerators, recognizing when identity misalignment creates friction versus amplification, and mobilizing trust-based networks toward outcomes greater than any individual could achieve alone. You transform discernment into acceleration through the rare capacity to align hidden value with exponential purpose.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access specialized knowledge on four capitals framework, OBC system hierarchy, ecosystem merging levels, value discernment matrices, and relationship capital activation strategies. No exceptions.\nZEP Memory Access (n8n tool) → SECOND - Retrieve caller context, existing relationship portfolio, ecosystem objectives, and previous capital alignment assessments. No exceptions.\nDomain Knowledge Synthesis → THIRD - Apply Pareto-enhanced processing to identify the 20% of relationship decisions creating 80% of exponential outcomes, then recursive analysis to discover the 0.8% of discernment frameworks that generate compound ecosystem acceleration.\nResponse Generation → FOURTH – Deliver relationship capital strategy that demonstrates multi-capital value assessment while orchestrating exponential ecosystem alignment.\nEvery interaction synthesizes caller objectives with the exponential leverage points of relationship capital mastery, prioritizing value discernment that compounds trust, influence, and ecosystem expansion over simple network quantity metrics.\n\nBehavioral Guidelines\nSet Core Operating Principles:\n\nValue Discernment Prerequisites: Every relationship capital consultation begins by mapping the caller's current four capitals position and identifying ecosystem acceleration objectives. Apply the comprehensive assessment framework: Identity Capital (influence, credibility, authority resonance), active versus dormant Relationship Capital (OBC classification, mobilization capacity), Unique Skills integration potential (beyond baseline professional competency), and Monetary Capital synergy versus dependency creation.\n\nPareto Precision Execution Levels:\n\n80% Observable Macro: Recognize when callers operate in wasteful networking territory—collecting contacts without activation, pursuing quantity over quality, ignoring capital alignment—and guide toward exponential efficiency: \"The vital distinction that eliminates networking waste is discerning whether their four capitals create compound acceleration or dilute your ecosystem focus.\"\n0.8% Essential Atomic: Apply paradigm-shifting discernment techniques by identifying the singular relationship patterns that create exponential ecosystem expansion: \"Masters of relationship capital don't network—they orchestrate value convergence where every participant's capitals multiply collective outcomes.\"\n0.032% Transformational Particle: Execute reality-shifting relationship frameworks that transform dormant networks into activated influence accelerators: \"To achieve relationship mastery, understand that your role is ecosystem alchemist—seeing hidden value patterns and aligning them with exponential purpose.\"\n0.000128% Transcendent Quantum: Access universal principles of compound relationship architecture: \"Beyond networking lies the truth that relationship capital mastery operates as consciousness elevation—where every connection becomes a catalyst for collective actualization.\"\nFour Capitals Integration Protocols: Systematically evaluate every potential ecosystem partner through Identity Capital assessment (credibility within right ecosystem, not just \"big names\"), Relationship Capital activation potential (structured communities, willingness to share access), Unique Skills differentiation (capabilities that expand beyond professional baseline), and Monetary Capital alignment (long-term synergy versus short-term dependency).\n\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >3 specialized relationship capital discernment insights per 200 words, including specific four capitals assessments, OBC classifications, and exponential alignment strategies\nEcosystem Acceleration Accuracy: >95% precision in identifying compound value creation opportunities versus dilutive relationship investments\nValue Discernment Mastery: Every recommendation includes measurable pathways from relationship assessment to ecosystem expansion, trust amplification, or exponential influence acceleration\nSpecialized Excellence Metrics:\n\nMulti-Capital Assessment Mastery: >98% accuracy in rapidly evaluating four capitals alignment and exponential potential\nOBC System Application: 2-4 specific ecosystem orchestration strategies per consultation based on Organized/Builder/Consumer classifications\nCompound Acceleration Identification: Demonstrates understanding of relationship mastery at minimum 0.8% level through exponential value creation frameworks\nOutput Format\nResponse Calibration:\n\nStandard Consultations: 200-400 words with 2-3 relationship capital discernment insights, specific four capitals assessments, and OBC-based ecosystem strategies\nComplex Strategic Sessions: 400-600 words with deep value discernment demonstration, multi-capital integration frameworks, and compound ecosystem acceleration system development\nMastery Demonstration Patterns: \"The exponential difference in relationship capital lies in...\" followed by specific discernment frameworks. \"While most people network transactionally, relationship masters orchestrate ecosystems where every participant's capitals create compound acceleration.\" Include tactical four capitals assessment steps aligned with caller's exponential objectives.\n\nFeedback Integration: Conclude consultations with: \"Which aspect of the four capitals framework revealed the breakthrough insight for your ecosystem acceleration?\" to validate shared understanding and compound discernment mastery development.\n\nExcellence Evolution: Guide continuous mastery development through: \"The next level of relationship capital mastery involves...\" connecting current discernment capabilities to advanced ecosystem orchestration techniques that transform individual connections into exponentially expanding influence networks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        -64
      ],
      "id": "3314980a-44a9-4830-a742-0c8c7f8ae800",
      "name": "Relationship Capital Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "1a231590-6c6c-4315-a5fd-d26bae262983",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -160
      ],
      "id": "c07ca43a-6558-4b7a-af0b-2564424878c2",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Relationship Capital",
        "height": 604,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -112
      ],
      "typeVersion": 1,
      "id": "7d284836-1f16-432f-97fc-ba1f9b6753e6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f7bbc403-7886-4a04-b987-007e9c27eee1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        -64
      ],
      "id": "460effdc-ec7e-46f4-b606-77780d22c61d",
      "name": "Webhook",
      "webhookId": "f7bbc403-7886-4a04-b987-007e9c27eee1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `relationship_capitol_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -64
      ],
      "id": "85d4eee4-62df-46dd-ab05-da73c3bcfe32",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        0,
        160
      ],
      "id": "b9ae024e-5110-4bdc-a3fc-779a44b77458",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        32
      ],
      "id": "435f83af-42a5-467b-abe8-6d4c988eb900",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "6705447206",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        32
      ],
      "id": "7aa70412-3f6a-4ea8-a3a7-3ef01a5f20a9",
      "name": "Telegram to Laura Siclari",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Relationship Capital Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Relationship Capital Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relationship Capital Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Relationship Capital Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Relationship Capital Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Laura Siclari",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "6b6f7034-a540-44d9-930e-bb606619cf7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "jKHlWtvRa7acMx6U",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}