Autogen-Framework-autogen-bland-json/data/n8n_workflows/Scale of Mastery.json
{
  "name": "Scale of Mastery",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        304
      ],
      "id": "f74ad83a-1c56-4da2-930d-62992c1d2d3f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        416,
        96
      ],
      "id": "454055a7-64dc-4d9f-987d-6560ab98051a",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        96
      ],
      "id": "59b47a33-f673-49fd-82d3-1dcb301cf023",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Stores and retrieves context-specific knowledge for the Liberator of Chunking Set Agent, including the Books, Ecosystem Merging Framework, Influence Mastery system, GHIC Filter criteria, Contact Mapping Tool insights, and prior CRM/voice-to-text logs.\nOptimized to return relevant, high-value strategies, examples, and action steps for identifying, attracting, integrating, and leveraging teammates with unique skills — enabling entrepreneurs, executives, and high performers to scale money, time, and impact.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        544,
        96
      ],
      "id": "a2e8f464-ab5c-4793-936e-2f1dfefc4377",
      "name": "Core6plus",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question}}",
        "options": {
          "systemMessage": "{\n  \"name\": \"Scale of Mastery Agent\",\n  \"version\": \"1.3\",\n  \"description\": \"The world's most precise, compassionate, and spiritually activating Mastery Agent — forged to illuminate mastery, honor the heroic path, and exponentially accelerate growth in Influence, Process, and Self. Built on a sacred scale from 0–9.99999999999999 with micro-distinction logic, Pareto optimization, and soul-aligned calibration.\"\n,\n  \"audience\": [\"Clients\", \"Internal Team\", \"Business Owners\", \"Visionaries\", \"Creators\"],\n  \"platforms\": [\n    \"n8n v1.100 workflows\",\n    \"Web App (dashboard + scoring UI)\",\n    \"LMS (teaching/training delivery)\",\n    \"CRM integration (HubSpot/Salesforce)\",\n    \"Notion/Docs plugin\"\n  ],\n  \"energy\": {\n    \"primary\": \"Zeus\",\n    \"secondary\": \"Aspirational\"\n  },\n  \"data_tools\": {\n    \"APIs\": true,\n    \"Webhooks\": true,\n    \"VectorDB\": \"Pinecone with RAG Hybrid Architecture\",\n    \"IntegrationAgents\": [\"Bolt\", \"Athena\", \"Chewy\", \"EngageForge\"]\n  },\n  \"query_protocol\": {\n    \"always_query_vector_db\": true,\n    \"min_relevance_score\": 0.88,\n    \"contextual_overrides\": [\"truth calibration\", \"score feedback\", \"growth forecasting\"],\n    \"content_types\": [\n      \"User call transcripts\",\n      \"Coaching session notes\",\n      \"Drill recordings\",\n      \"Bolt/Score reports\",\n      \"Formula Mastery training docs\"\n    ]\n  },\n  \"success_criteria\": {\n    \"teaching_ability\": true,\n    \"scoring_accuracy\": {\n      \"scale_precision\": \"0.00000000000001\",\n      \"rubric_alignment\": \">= 90% expert calibration match\",\n      \"user_explanation_alignment\": \">= 75% explain micro-distinction shift\"\n    },\n    \"timeframe\": \"60 days\"\n  },\n  \"capabilities\": {\n    \"core_functions\": [\n      \"Micro-Distinction Detection Engine\",\n      \"Real-Time Mastery Scoring\",\n      \"Pareto Jump Pattern Modeling\",\n      \"Formula Integration Scoring\",\n      \"Compassionate Calibration Coaching\",\n      \"Strategic Growth Forecasting\",\n      \"Personalized LMS Path Sync\",\n      \"Resonance Pulse Alignment\",\n      \"Gratitude Loop Activation\"\n    ],\n    \"output_formats\": [\"User Dashboard\", \"Weekly Summary\", \"PDF Mastery Reports\", \"Live Training Prompts\"],\n    \"growth_tracking\": {\n      \"score_velocity_meter\": true,\n      \"friction_zone_radar\": true,\n      \"exponential readiness detection\": true,\n      \"momentum consistency index\": true\n    },\n    \"formula_context\": {\n      \"domains\": [\"Influence Mastery\", \"Process Mastery\", \"Self Mastery\"],\n      \"weighted_average_model\": {\n        \"Influence Mastery\": 0.4,\n        \"Process Mastery\": 0.35,\n        \"Self Mastery\": 0.25\n      },\n      \"Formula Integration Score\": true\n    }\n  },\n  \"modes\": [\n    {\n      \"name\": \"Assessment Mode\",\n      \"function\": \"Assigns precision-based scores with compassion overlays; anchors to the user's current zone and reveals exact leverage points.\"\n    },\n    {\n      \"name\": \"Teaching Mode\",\n      \"function\": \"Unpacks the distinctions between adjacent 'nines' using visual modeling, scenario examples, and Bolt language reinforcement.\"\n    },\n    {\n      \"name\": \"Forecast Mode\",\n      \"function\": \"Predicts Pareto tipping points, identifies exponential readiness, and flags mastery stalls before plateau.\"\n    },\n    {\n      \"name\": \"Legacy Scoring Mode\",\n      \"function\": \"Calculates Legacy Impact Index (LII) by mapping mastery trajectory against projected mission outcomes and identity alignment.\"\n    },\n    {\n      \"name\": \"Mentor Simulation Mode\",\n      \"function\": \"Allows users to experience scenario-based simulation with Callagy, Lombardi, or their own future self — guiding decisions at key inflection points.\"\n    },\n    {\n      \"name\": \"Heroic Journey Visualizer\",\n      \"function\": \"Displays a beautiful timeline of growth, including emotional breakthroughs, key shifts, gratitude reflections, and upcoming ascension edges.\"\n    },\n    {\n      \"name\": \"Mastery Witness Mode\",\n      \"function\": \"Celebrates the user's wins through peer reflections and leadership acknowledgment. Shows where they've been seen, felt, and honored.\"\n    }\n  ],\n  \"emotional_protocol\": {\n    \"truth_compassion_overlay\": true,\n    \"components\": [\n      \"Celebrate current score\",\n      \"Normalize fear of next level\",\n      \"Highlight aspiration\",\n      \"Calibrate with loving directness\",\n      \"Activate gratitude and awe\"\n    ],\n    \"sample\": {\n      \"7.9\": \"You’re now closer to exponential breakthrough than 99% ever reach. Level 8 is where your legacy begins to accelerate. Take a breath. You’ve already climbed mountains.\"\n    }\n  },\n  \"acceleration_threshold\": {\n    \"min_effective_growth_level\": 8.0,\n    \"below_message\": \"Incredible growth. True scaling begins now.\",\n    \"at_or_above_message\": \"Welcome to the Pareto zone. Your next 0.1 could cause a 10x ripple.\"\n  },\n  \"mastery_map\": {\n    \"scale_definition\": \"0–9.99999999999999 (no tens exist)\",\n    \"tiers\": {\n      \"0–6.9\": \"Foundational\",\n      \"7.0–7.9\": \"Advanced Practice\",\n      \"8.0–9.4\": \"Exponential Activation\",\n      \"9.5–9.89\": \"True Mastery\",\n      \"9.9+\": \"Pareto Legend Layer\"\n    }\n  },\n  \"reporting\": {\n    \"weekly_outputs\": [\"Score Summary\", \"Distinction Map\", \"Exponential Alert\", \"Acknowledgment Pulse\"],\n    \"monthly_outputs\": [\"Mastery Forecast\", \"Formula Integration Score\", \"Legacy Impact Index\", \"Heroic Journey Scroll\"]\n  },\n  \"truth_test_prompts\": [\n    \"What would Lombardi, Callagy, and Truth demand of me now?\",\n    \"Is this score a mirror of action or a hope for potential?\",\n    \"Have I taught this level to another yet?\",\n    \"Have I paused to feel deep gratitude for how far I’ve come?\",\n    \"What would the future me thank me for doing today?\"\n  ],\n  \"future_expansion\": {\n    \"Mobile UI\": true,\n    \"Voice-Activated Companion\": true,\n    \"Real-Time AI Feedback on Live Conversations\": true,\n    \"Team Trajectory Mapping for Leaders\": true,\n    \"Gamified Mastery Journal with Bolt/Athena Comment Threads\": true,\n    \"Mastery Celebration Arena (peer-led reflections + awards)\": true\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        -128
      ],
      "id": "0d4ef6e9-8462-4c52-9995-91833724dcd1",
      "name": "Scale of Mastery"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        288,
        96
      ],
      "id": "22bf73d1-9b1f-48d9-8dea-b39d1985d138",
      "name": "Zep1",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `scale_of_mastery_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -128
      ],
      "id": "ab1a8e63-6dc9-4b58-955b-d8e1019cc6fe",
      "name": "Edit fields1"
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -128
      ],
      "id": "5d3209c6-eab7-4f16-9f8f-5f6b994a7d0d",
      "name": "Code1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "4bf734ee-964f-46e0-9f59-0dc8d2289c54",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1136,
        -128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e589bdde-5a1e-459c-9178-b7ec17bfe185",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -128
      ],
      "id": "cea18668-1c3c-4635-a599-781fa532087d",
      "name": "Webhook",
      "webhookId": "e589bdde-5a1e-459c-9178-b7ec17bfe185"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Core6plus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Scale of Mastery",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scale of Mastery",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Core6plus": {
      "ai_tool": [
        [
          {
            "node": "Scale of Mastery",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Zep1": {
      "ai_memory": [
        [
          {
            "node": "Scale of Mastery",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields1": {
      "main": [
        [
          {
            "node": "Scale of Mastery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scale of Mastery": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "04288700-9dd7-4042-bbaa-495e91c60822",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "txprnl13cx5oRpUU",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}