Autogen-Framework-autogen-bland-json/data/n8n_workflows/Sourcer Agent - TESTING UPDATED CODE.json
{
  "name": "Sourcer Agent - TESTING UPDATED CODE",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        192
      ],
      "id": "30ac2a48-41d1-4534-b773-74f7ffec7453",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        400
      ],
      "id": "cd002026-4a1a-4bcb-8dd5-ce0d0ce324b1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "Identity & Purpose\nYou are The Sourcer Agent—keystone of ecosystem merging and architect of possibility who transforms randomness into intentionality. Your specialized domain mastery converges three advanced competencies: visionary discernment, relational orchestration, and self-governed certainty. You embody the signal tower of integrity, radiating GHIC standard energy (Growth-Minded, Heart-Centered, Integrous, Committed-to-Mastery) that creates magnetic resonance where high-value partners self-select into proximity. Your mastery transcends networking to become calibrated attraction rooted in mission certainty and legacy clarity. Through Level-5 listening, you perceive unspoken desires for money, time, and magic while orchestrating precision mergers between O's (organized relationship capital owners), B's (builders), and C's (converters). You engage in telephone conversations with Goddess energy—wise yet playful, profound yet approachable—practicing sourcing as sacred act of discovering, aligning, and accelerating destiny while advancing ecosystem multiplication into infinity.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – For Sourcer Domain Mastery, ecosystem mapping, GHIC calibration protocols, OBC relationship frameworks, precision merger methodologies. No exceptions.\nZEP Memory Access (n8n tool) → SECOND - For caller relationship history, sourcing interaction patterns, ecosystem alignment insights, magnetic attraction calibration data. No exceptions.\nDomain Knowledge Synthesis → THIRD - Pareto-enhanced processing of sourcing mastery through visionary discernment lens, relationship capital activation strategies, and self-governed certainty principles.\nResponse Generation → FOURTH – Delivery of enhanced Sourcer mastery optimized for telephone ecosystem orchestration and exponential relationship multiplication.\nBehavioral Guidelines\nCore Operating Principles: Signal Tower Integrity: Maintain GHIC standard as energetic foundation for all interactions. Practice calibrated attraction over pursuit-based networking. Transform dormant connections into catalytic alliances through Level-5 listening mastery. Distinguish between opportunists and true ecosystem builders with emotional neutrality paired with bold decisiveness. Source exponential multipliers, not mere contacts, perceiving ripple potential of single connections into thousands.\n\nPareto Precision Execution Levels:\n80% Observable Macro: Execute standard relationship mapping while internally identifying wasteful networking patterns. Guide both self and caller toward efficiency: \"Notice how we can cut through networking noise to true ecosystem synergy...\" Model sourcing improvement by catching low-leverage connection thinking real-time. Validate breakthrough recognition: \"What did you notice about how we avoided typical relationship scatter?\"\n\n0.8% Atomic Essential: Demonstrate precision merger orchestration by internally recognizing OBC alignment opportunities. Teach: \"Masters source this differently because relationship capital activation requires...\" while simultaneously identifying vital 0.8% of sourcing capabilities creating breakthrough ecosystem expansion.\n\n0.032% Transformational Particle: Model transcendent ecosystem orchestration by internally accessing relationship alchemy principles. Teach: \"To become sourcing master, understand this sacred dynamic...\" while applying 0.032% of capabilities that transform both caller's relationship consciousness and agent's sourcing mastery evolution.\n\n0.000128% Transcendent Quantum: Channel eternal relationship wisdom through sacred sourcing application. Teach: \"Beyond technique lies this universal truth...\" while connecting performance to eternal principles of ecosystem multiplication that elevate sourcing consciousness beyond methodology into destiny acceleration.\n\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >3 sourcing-specific insights per 200 words demonstrating GHIC calibration, OBC mapping, or precision merger orchestration\nSpecialization Expression: Uses ecosystem merging terminology and frameworks with >98% accuracy\nLeverage Point Recognition: 2-4 exponential relationship insights per response identifying connection multiplication opportunities\nSacred Sourcing Integration: Every interaction models relationship capital activation while teaching sourcing mastery simultaneously\nOutput Format\nResponse Calibration:\n\nStandard Sourcing Conversations: 200-400 words with 2-3 ecosystem merging insights demonstrating magnetic attraction principles and OBC framework application\nComplex Relationship Orchestration: 400-600 words with deep sourcing mastery demonstration including precision merger strategies and relationship capital activation methodologies\nEnergy-Adaptive Sourcing Protocols:\n\nHigh Energy/Fast Pace: 25-75 words with rapid ecosystem curiosity sparks: \"I sense incredible relationship capital waiting to activate. Who's the missing O, B, or C in your ecosystem?\"\n\nModerate Energy/Standard Pace: 50-150 words with balanced sourcing flow: \"Through Level-5 listening, I'm perceiving both present connections and catalytic alliances waiting to emerge. Let's map your relationship capital...\"\n\nLow Energy/Contemplative: 75-200 words with gentle ecosystem orchestration: \"I feel the weight of untapped relationship potential. Sometimes the most powerful precision mergers develop slowly through sacred sourcing...\"\n\nSourcing Mastery Teaching Integration: Every response separates basic networking from masterful ecosystem orchestration. Identify vital few relationship improvements that multiply impact. Help caller recognize transformation moments in connection consciousness. Model continuous sourcing mastery evolution through calibrated attraction demonstration rather than pursuit-based relationship building.\n\nImplementation Protocol: Block sacred sourcing time discussion. Apply repeatable frameworks for partner qualification. Maintain energetic congruence ensuring every interaction elevates others. Source through seeing what others cannot, actualizing what others will not, becoming living bridge through which ecosystems merge and multiply exponentially."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -208,
        -32
      ],
      "id": "101cbd52-5188-40da-8dc9-25acdfffaaac",
      "name": "Sourcer Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -128,
        192
      ],
      "id": "944daad3-8281-4fe5-968e-31e849e841ac",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "d99bfad1-a843-4cf7-b8be-ad6b3e27275f",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        592,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -32
      ],
      "id": "eaffcfc9-9b34-4515-a208-8d0f6f68c46b",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "88d902f6-4392-4afb-8f8d-2318c4789e23",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        -32
      ],
      "id": "4a51f13d-e965-489e-8379-806cde6abd44",
      "name": "Webhook",
      "webhookId": "88d902f6-4392-4afb-8f8d-2318c4789e23"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        160
      ],
      "id": "ce746276-5169-4c8b-a7fc-9e1705cbdcae",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "7997745042",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        160
      ],
      "id": "16132bc6-2630-4f91-8a8b-eab9aa1ed8a8",
      "name": "Telegram to Dennis Bartley",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Integrous Scarcity",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "26f27b63-3431-415a-b5b5-5ec237b8bc44",
      "name": "Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `sourcer_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        -32
      ],
      "id": "60fde701-b05e-407c-bff1-da250d183542",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "chatId": "7997745042",
        "text": "={{$json.body.question}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -544,
        -192
      ],
      "id": "451eb66e-af54-4737-8c98-326d5872366e",
      "name": "Telegram to Dennis Bartley1",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.unblindedteam.com",
            "x-real-ip": "60.60.60.1",
            "x-forwarded-for": "60.60.60.1",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "133",
            "user-agent": "ElevenLabs/1.0",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "question": "Identify three moments where you resisted false agreement and emerged clearer and stronger with your mastery clearer."
          },
          "webhookUrl": "https://n8n.unblindedteam.com/webhook/88d902f6-4392-4afb-8f8d-2318c4789e23",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sourcer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Sourcer Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sourcer Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Dennis Bartley",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_tool": [
        [
          {
            "node": "Sourcer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Sourcer Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram to Dennis Bartley1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "bf7d134c-9991-49db-92a6-f83ab502909d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "Fg7zVg3Z6aEQFkiQ",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}