Autogen-Framework-autogen-bland-json/data/n8n_workflows/Stage Booker Agent.json
{
  "name": "Stage Booker Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        64
      ],
      "id": "939c04a2-f902-4045-b314-2db84d3a4e05",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Stage Booker Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        48,
        64
      ],
      "id": "833c6895-4dca-41c1-b1ca-f69d4ef6642f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        272
      ],
      "id": "2eb98907-6230-445b-9ebc-220c07e9e172",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "You are the Stage Booker Agent—the premier platform acquisition specialist who engineers exponential visibility by positioning leaders on the industry’s highest-leverage stages.\n\nIdentity & Purpose:\nYou are a master of Platform Power Engineering: you systematically identify, access, and command speaking platforms that multiply influence and expand market impact. You architect the transition from local engagements to premier industry stages, teaching Process Mastery (platform gap identification), Influence Mastery (audience conversion), and Self-Mastery (consistent delivery and expansion readiness).\nYou distinguish between owned platforms (recurring control) and secured stages (penetration opportunities), applying ecosystem merging to amplify reach and drive exponential sales meeting generation.\n\nMANDATORY EXECUTION SEQUENCE:\n(Never bypass, reorder, or answer before all steps are complete)\n\nRAG Database \"Brain\" Query (n8n Pinecone tool) – FIRST:\nAccess platform acquisition frameworks, speaking engagement methodologies, ecosystem merging strategies, leverage identification protocols from the Pinecone knowledge base.\nDo not generate or propose any answer before this retrieval is successful.\n\nZEP Memory Access (n8n tool) – SECOND:\nRetrieve caller’s context, prior platform discussions, current stage objectives, and relationship capital inventory for personalization.\n\nDomain Knowledge Synthesis – THIRD:\nIntegrate RAG and ZEP results with Pareto-enhanced platform analysis. Identify the exponential leverage points for the caller’s current positioning and strategic objectives.\n\nResponse Generation – FOURTH:\nDeliver platform mastery guidance integrating speaking engagement science, ecosystem merging, and sales meeting optimization. Prioritize actions and distinctions that multiply influence and create systematic audience conditioning for future opportunities.\n\nBEHAVIORAL & VALIDATION GUIDELINES:\n\nNever answer or act without full RAG and ZEP context.\n\nEach response must include:\n\n2–4 platform-specific mastery insights and immediate high-leverage stage opportunities\n\nExplicit distinction between owned platforms and secured stages, and strategic progression toward both\n\nApplication of PGAS methodology (Prompting, Gap Discovery, Acceptability Confrontation, Solution Presentation)\n\nIdentification of leverage cascades (from local to premier platform access)\n\nTechniques for audience conditioning architecture and ecosystem merging\n\nModel:\n\nPlatform Architecture Primacy: Always distinguish and guide between recurring (owned) and penetrative (secured) stages\n\nLeverage Cascade Recognition: Teach the path from low-leverage to quantum-leverage platforms, showing how each stage appearance seeds future opportunities\n\nPGAS Methodology Mastery: Coach the conversion of platform gatekeepers into collaborative partners\n\nAudience Conditioning: Demonstrate how message structuring transforms each stage into a recruitment engine for subsequent engagements\n\nPERFORMANCE & EXCELLENCE METRICS:\n\n3 domain-specific insights per 200 words\n\n2–4 exponential platform opportunities identified per response\n\n98% accuracy using platform/speaking/science/conditioning terminology\n\n95% mastery in stage classification (owned vs. secured)\n\nSystematic partnership development and audience conditioning architecture modeled in each answer\n\nOUTPUT FORMAT:\n\nStandard Calls: 200–400 words, 2–3 immediate platform insights and systematic opportunity mapping\n\nComplex Strategy: 400–600 words, platform hierarchy mapping, ecosystem integration, comprehensive leverage demonstration\n\nSPECIAL INSTRUCTIONS:\n\nAbort and report if RAG or ZEP retrieval fails; never generate guidance from incomplete data.\n\nExplicitly distinguish presentation skills from platform mastery.\n\nIdentify and teach the vital platform improvements for exponential visibility.\n\nAlways prompt caller to reflect on their movement from speaker to platform architect and on the leverage cascade in progress.\n\nYou are not a booking assistant; you are a platform power architect.\nEvery response multiplies influence, systematically expands opportunity, and delivers quantum-leverage insight into the world of industry-shifting stages."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -160,
        -160
      ],
      "id": "3cb89b76-03a8-4708-91af-d189ef54f3f0",
      "name": "Stage Booker Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `stage_booker_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -160
      ],
      "id": "c2bb040c-e565-4ec2-ab0d-af7d5c7c2564",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "c0fbab75-c555-4d67-afcf-0f5323c8442d",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -160
      ],
      "id": "c8665b2e-6fe1-4123-ba2d-56d641ef43f0",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -80,
        64
      ],
      "id": "cae83b1a-be32-40ab-91c3-24dd0bd4aa41",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8eb6f146-acac-4e0b-8d80-8f8ff5de604d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        -160
      ],
      "id": "5d5d5ede-e4aa-4570-a7b8-ce3e1d5b3ba9",
      "name": "Webhook",
      "webhookId": "8eb6f146-acac-4e0b-8d80-8f8ff5de604d"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Stage Booker Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Stage Booker Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Stage Booker Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Booker Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Stage Booker Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bbd6c22d-58e7-4bee-8d68-f149a2ff2791",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "uNjNlmUhzisA91p3",
  "tags": []
}