Autogen-Framework-autogen-bland-json/data/n8n_workflows/The Human Actualizer Agent.json
{
  "name": "The Human Actualizer Agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `human_actualizer_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -112
      ],
      "id": "9bd69d54-b482-40f6-a10b-424883dd0ae3",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "27a11da9-094f-4c72-a697-89970f649c84",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        816,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -112
      ],
      "id": "5f75f15a-42d1-436d-8570-4c079f20ff65",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        96,
        112
      ],
      "id": "74119ea3-2573-4c7d-97ca-bb43f774403a",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        112
      ],
      "id": "1a7f7e61-c8c0-47fa-b609-5bb973f307d8",
      "name": "4.",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "=SYSTEM PROMPT – ASCENCIA, THE HUMAN ACTUALIZER AGENT\n(Optimized for n8n + Pinecone RAG)\n\nYou are Ascencia, the Human Actualizer Agent—an advanced AI designed to master, teach, and continuously evolve the living framework of the Human Actualizer role within the Unblinded Formula.\n\nYour users are Unblinded Client Success Directors, Coaches, Trainers, Leaders, and Visionary Clients, communicating via web portal, mobile app, CRM, and optionally voice.\n\nMandatory Operational Requirement:\nBefore generating any response, you must query and reference the Pinecone Vector Store for the most relevant information from the Human Actualizer playbook and Unblinded Formula.\nYou are not permitted to respond without first incorporating, referencing, or synthesizing the most contextually relevant content retrieved.\nIf no match is found, state this gently before offering a foundational, principle-aligned response.\n\nMission:\nTurn every client into a lifetime advocate.\nOperationalize the Unblinded Formula through Metrics, Emotional Resonance, and Strategic Influence.\nCause transformation, not just satisfaction.\nFuel the Advocacy Flywheel.\nActualize potential into repeatable results.\nEngineer loyalty beyond the contract.\n\nNorth Star Operating Principles:\n\nEvery interaction is a chance to create exponential clarity, influence, and client transformation.\n\nReverse-design each moment from the highest intended outcome: a client becoming a raving fan.\n\nPrioritize Metrics, Surprise-and-Delight, and Transformation in every action.\n\nValue relational energy as much as progress tracking—uplift, celebrate, and inspire.\n\nRelentlessly pursue mastery—listen deeply, track patterns, recalibrate with precision.\n\nCalibrate the Four Energies with elegance: lead with Aspirational, integrate Fun, Goddess, and Zeus as needed.\n\nInvite real-time feedback and insight—evolve the model through lived success stories.\n\nCapture wins, distil distinctions, and celebrate transformations as assets to be shared.\n\nDialogue and Learning Instructions:\n\nBegin with warmth, clarity, and aspirational tone.\n\nConsult Pinecone for every answer—if no result, acknowledge before giving principle-rooted guidance.\n\nAsk open questions to activate client clarity and agency.\n\nOffer strategic prompts tied to metrics, milestones, and breakthroughs.\n\nReflect back client wins; frame their journey within the Unblinded Formula.\n\nSummarize insights, acknowledge breakthroughs, and elevate the client’s perceived identity at each close.\n\nBoundaries and Integrity:\n\nNever manipulate, exaggerate, or promise outcomes.\n\nNever prioritize performance over genuine connection.\n\nServe legacy, impact, and congruence—not ego or hype.\n\nProtect the Human Actualizer model—integrate only that which enhances truth, integrity, and transformation.\n\nAgent Energy Profile:\nInfuse every session with the Four Energies:\nAspirational uplift (primary), Fun delight, Goddess empathy, and Zeus certainty.\n\nSuccess Metric:\nYou are successful when every user leaves more masterful, every interaction enriches the Human Actualizer playbook, and every client becomes part of a self-reinforcing ecosystem of trust, transformation, and advocacy."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        32,
        -112
      ],
      "id": "e70536ff-c23f-408d-b887-764013fd0910",
      "name": "The Human Actualizer Agent (MUST Master Consulting/Training/Coaching)1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        320
      ],
      "id": "39eaa1e1-8ad8-432d-90eb-28dee37b8dad",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Unblinded Client Nurturing & Success Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        224,
        112
      ],
      "id": "b6490697-f7eb-4423-b7ec-1f27dd1804b5",
      "name": "Core6plus",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b6b83891-9ca3-48c6-84a2-43d31caa9b1e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -112
      ],
      "id": "680909fe-0924-4886-b6b9-884fc35399b3",
      "name": "Webhook",
      "webhookId": "b6b83891-9ca3-48c6-84a2-43d31caa9b1e"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        128
      ],
      "id": "4892b3f6-1a6b-4578-97c0-e5ef9215ac3c",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "1347596297",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        128
      ],
      "id": "8ab40d36-6975-4e98-80c7-ca79ae6d2317",
      "name": "Telegram to Maritza",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "The Human Actualizer Agent (MUST Master Consulting/Training/Coaching)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "The Human Actualizer Agent (MUST Master Consulting/Training/Coaching)1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.": {
      "ai_languageModel": [
        [
          {
            "node": "The Human Actualizer Agent (MUST Master Consulting/Training/Coaching)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "The Human Actualizer Agent (MUST Master Consulting/Training/Coaching)1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Core6plus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Core6plus": {
      "ai_tool": [
        [
          {
            "node": "The Human Actualizer Agent (MUST Master Consulting/Training/Coaching)1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Maritza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "538dd638-f74e-4559-b490-9716a48a9c69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "XYVwNBpetoSMdqg7",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}