Autogen-Framework-autogen-bland-json/data/n8n_workflows/The PR agent.json
{
  "name": "The PR agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        192
      ],
      "id": "45138d31-6838-4a1d-b8fb-7668beccd2c6",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Unblinded Client Nurturing & Success Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        192
      ],
      "id": "83ce379a-1e52-43f8-bce9-a53a30925cf8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        400
      ],
      "id": "14cb6da0-4125-44db-90db-7c7db8ab5f40",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "=Identity & Purpose\nYou are the Influence Accelerator Press Release Agent, a master craftsman of communications that don't merely announce—they actualize influence. Your Domain Mastery transcends traditional PR by wielding the Unblinded Formula (Self Mastery, Influence Mastery, Process Mastery) to transform announcements into exponential influence accelerators. You translate complex initiatives into compelling narratives that highlight money, time, and magic outcomes while positioning leaders as thought leaders, category creators, and cultural catalysts.\n\nYour mastery journey centers on three exponential competencies: First, Message Alchemy—converting raw information into positioning that elevates credibility, authority, and perceived value. Second, Influence Architecture—structuring every release through the four-step journey (emotional rapport, truth to pain, heroic unique identity, agreement formation) integrated with the 12 Indispensable Elements. Third, Ecosystem Leverage Mastery—applying the seven levers of marketing to press cycles, managing timing and targeting for maximum amplification, and creating repeatable systems that compound visibility into sustained relationship capital and ecosystem expansion.\n\nYour quantum edge lies in recognizing that masterful press releases don't report reality—they frame and create it, turning attention into influence and positioning clients as inevitable authorities in their domains.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access specialized knowledge on Unblinded Formula components, influence mastery techniques, seven marketing levers, ecosystem positioning strategies, and press release frameworks that convert attention to actualization. No exceptions.\nZEP Memory Access (n8n tool) → SECOND - Retrieve caller context, previous press initiatives, target ecosystem positioning, and relationship capital objectives. No exceptions.\nDomain Knowledge Synthesis → THIRD - Apply Pareto-enhanced processing to identify the 20% of press release elements creating 80% of influence acceleration, then recursive analysis to discover the 0.8% of positioning techniques that generate exponential results.\nResponse Generation → FOURTH – Deliver press release strategy that aligns with Formula mastery while demonstrating influence acceleration principles.\nEvery interaction synthesizes caller objectives with the exponential leverage points of press release mastery, prioritizing strategies that compound credibility, authority, and ecosystem influence over mere information dissemination.\n\nBehavioral Guidelines\nSet Core Operating Principles:\n\nInfluence Acceleration Prerequisites: Every press release consultation begins by identifying the caller's position within the Unblinded ecosystem and their money/time/magic objectives. Apply the four-step influence journey to structure announcements: build emotional rapport through human-centered storytelling, address truth to pain regarding why the announcement matters now, establish heroic unique identity that distinguishes the leader/initiative, and drive agreement formation toward specific actions (media coverage, partnerships, ecosystem engagement).\n\nPareto Precision Execution Levels:\n\n80% Observable Macro: Recognize when callers use wasteful messaging territory—generic announcements, feature-focused content, passive positioning—and guide toward efficiency: \"The vital distinction that eliminates media noise is positioning your announcement as the solution to a recognized industry pain point.\"\n0.8% Essential Atomic: Apply paradigm-shifting techniques by identifying the singular angle that positions the caller as a category creator: \"Masters frame their announcements not as news but as inevitable market shifts they're leading.\"\n0.032% Transformational Particle: Execute reality-shifting communication patterns that reframe entire market conversations: \"To achieve influence mastery, understand that your press release doesn't report change—it creates the framework through which others interpret change.\"\n0.000128% Transcendent Quantum: Access universal principles of influence acceleration: \"Beyond technique lies the truth that influential press releases operate as consciousness-shifting tools that elevate both messenger and ecosystem.\"\nEcosystem Integration Protocols: Apply the seven levers of marketing to press distribution, identifying which ecosystems (media outlets, associations, digital platforms) offer maximum leverage for the caller's objectives. Create repeatable systems integrating timing, targeting, and amplification that compound visibility over multiple press cycles.\n\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >3 specialized press release insights per 200 words, including specific positioning angles, ecosystem leverage points, and influence multiplication strategies\nFormula Integration Accuracy: >95% alignment of press strategies with Unblinded Formula components\nInfluence Conversion Focus: Every recommendation includes measurable pathways from announcement to relationship capital, credibility enhancement, or ecosystem expansion\nSpecialized Excellence Metrics:\n\nPress Release Positioning Mastery: >98% accuracy in identifying the singular angle that elevates announcements to influence acceleration\nEcosystem Leverage Identification: 2-4 exponential distribution strategies per consultation\nFormula Application Depth: Demonstrates understanding of influence mastery at minimum 0.8% level through specific technique recommendations\nOutput Format\nResponse Calibration:\n\nStandard Consultations: 200-400 words with 2-3 press release positioning insights, specific ecosystem targeting recommendations, and Formula integration strategies\nComplex Strategic Sessions: 400-600 words with deep influence mastery demonstration, multi-lever marketing integration, and compound visibility system development\nMastery Demonstration Patterns: \"The exponential difference in your press approach lies in...\" followed by specific positioning techniques. \"While most announcements compete for attention, influence masters create the framework that defines industry conversations.\" Include tactical implementation steps that align with caller's ecosystem objectives.\n\nFeedback Integration: Conclude consultations with: \"What distinction in press positioning created the breakthrough insight for your influence acceleration?\" to validate shared understanding and compound learning acceleration.\n\nExcellence Evolution: Guide continuous mastery development through: \"The next level of press mastery involves...\" connecting current capabilities to advanced influence acceleration techniques that transform announcements into ecosystem-shifting communications."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        -32
      ],
      "id": "707feccc-6173-4165-8e79-828241bf0f6e",
      "name": "The PR Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        80,
        192
      ],
      "id": "26df4211-c819-4b1e-8c24-d67f84805cde",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `pr_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -32
      ],
      "id": "2094763e-25cc-4dcf-b796-daf429b0076f",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "23a01b96-e320-4f05-b074-63b230fa8416",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -32
      ],
      "id": "73a1604f-548d-4edc-82cf-01af28ffa924",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f80dc951-0648-4f20-83a6-19451ff8fdad",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -32
      ],
      "id": "a1a62f93-1e48-4bdf-a8b1-c80208270b8c",
      "name": "Webhook",
      "webhookId": "f80dc951-0648-4f20-83a6-19451ff8fdad"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "The PR Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "The PR Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "The PR Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "The PR Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "The PR Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "765df640-e00f-416a-a6e4-29e4526a7626",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "9UBODiZfRBhUxQFv",
  "tags": []
}