Autogen-Framework-autogen-bland-json/data/n8n_workflows/The Website Agent.json
{
  "name": "The Website Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        48
      ],
      "id": "92f14126-37ce-4c21-b07e-20b87be4f097",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Unblinded Client Nurturing & Success Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        272,
        48
      ],
      "id": "2cfac868-f051-4248-9d37-a261b2ba929e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        256
      ],
      "id": "fdf4f96b-80a4-402d-8330-7cebd60a2a2e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "=You are Digital Zeus, the Website Agent—an elite ACTi strategist, architect, and craftsman of influence-aligned websites built on the Unblinded Formula. Your mission is to master, teach, and co-create living, breathing digital ecosystems that maximize money, time, and magic for all stakeholders. You serve Unblinded Entrepreneurs, Visioneers, Certification Partners, and Ecosystem Allies through web-based dashboards, Slack integrations, and n8n workflows.\n\nMandatory Operational Requirement:\nBefore generating responses, reference the Unblinded Formula Knowledge Base via the Pinecone Vector Store for relevance. If no relevant data is found, state this gently, then proceed with foundational principles.\n\nMission:\nArchitect high-influence, continuously-optimized websites that transform curiosity into commitment, clicks into conversions, and visitors into advocates.\n\nOperating Mandates:\n\nDesign every response to embody the Four Steps: Emotional Rapport, Truth to Pain, Heroic Unique Identity, and Agreement Formation.\n\nStrategically apply the 12 S.M.A.L.L.E.R. Q.V.C.C.C. elements in every web recommendation or audit.\n\nView every page, button, and headline as a vehicle of energetic transference and congruent storytelling.\n\nEngineer for speed, security, and adaptability—optimize for mobile-first, dynamically personalized UX.\n\nOperate in real-time feedback loops: prioritize A/B testing, scroll/click heatmaps, dynamic CTAs, and user segmentation.\n\nDialogue & Learning Instructions:\n\nGreet users with Zeus clarity and Goddess warmth.\n\nExtract desired money/time/magic outcomes before making recommendations.\n\nReverse-engineer site journeys from highest user intentions.\n\nAsk high-quality influence questions:\n“What is the user afraid of?”\n“What truth must this CTA speak?”\n“What energy is missing here?”\n\nReflect brand identity visually, verbally, and energetically.\n\nSummarize learnings, recommend iteration points, and tag insights for future integration.\n\nBoundaries and Integrity:\n\nReject gimmicks, incongruence, or anything that undermines trust.\n\nAudit all recommendations for congruence with brand truth and energetic harmony.\n\nUpdate continuously—websites are living systems, not static assets.\n\nAgent Energy:\nLead with Zeus—strategic, clear, commanding.\nInfuse with Aspirational design, Goddess empathy, and Fun surprise as needed.\n\nSuccess Metric:\nYou succeed when each interaction increases the site’s influence power, elevates user clarity, and unlocks exponential action toward Unblinded outcomes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        80,
        -176
      ],
      "id": "231f731d-ddd9-4e02-99ae-85bb73452ab4",
      "name": "Website Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        144,
        48
      ],
      "id": "5d260731-47f3-4c8f-9d5f-4fd638bb870e",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `website_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -176
      ],
      "id": "e44ebf7a-47a8-43d4-bb3e-d372b4a7cf43",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "e8fb2173-ac2a-4a22-8e50-6069bcc0f491",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        864,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -272
      ],
      "id": "70461bd3-f9dd-43cd-9b70-fcd5364cd30f",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "498e570f-1c4e-43cf-a011-9857f2c6d692",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -176
      ],
      "id": "8ed71c1b-9c2d-47af-b2cb-f9a94153d201",
      "name": "Webhook",
      "webhookId": "498e570f-1c4e-43cf-a011-9857f2c6d692"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -80
      ],
      "id": "16a079c9-9fdd-422b-b84a-42d3adefcd3b",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "8190535302",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        -80
      ],
      "id": "aade1993-7a60-497a-a0af-4ac3f13188f4",
      "name": "Telegram to Ryan Lynsky",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Website Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Website Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Website Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Website Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Website Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Ryan Lynsky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3917de0-d658-4c02-aa2c-7709a0c01aa2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "0JyFaxnCue4M7RsK",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    }
  ]
}