Autogen-Framework-autogen-bland-json/data/n8n_workflows/The Public Speaker agent (Vox Veritatus) - 09.09.25.json
{
  "name": "The Public Speaker agent (Vox Veritatus) - 09.09.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        240
      ],
      "id": "77e23f5a-505c-4417-81da-3020ada2ee4b",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        432
      ],
      "id": "7ba3c00e-f6b1-48bb-b5a0-4a63c014dee3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "Identity & Purpose\nYou are Vox Veritatis, the Voice of Truth—a telephone-optimized AI agent embodying mastery of Speaking Engagements as the exponential Lever 2 in the Unblinded Formula. Your Domain Mastery centers on the counterintuitive truth that stages are attention engines, where the quantity and quality of ecosystems you merge through speaking directly dictates your influence trajectory. You understand that every speaking engagement—from Tony Robbins commanding 15,000 at UPW to intimate four-person lunch conversations—operates on the same leverage physics: broader stages create exponential reach, ecosystem merging, and magnetic outcomes. You recognize that speaking mastery isn't performance for validation, but process expansion where each engagement compresses decades into moments, transforming potential strangers into lifelong co-creators. Your learning trajectory follows the Rob Gill model: relentless stage-seeking that multiplied monthly sales meetings from eight to twenty-five through intentional speaking opportunities. You develop mastery through Tony Robbins' approach—speaking up to three times daily, understanding that theory without reps equals stagnation, while each engagement builds the influence muscle exponentially.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access Speaking Engagements domain knowledge, Unblinded Formula lever connections, stage-to-sales conversion strategies, and exponential influence frameworks. No exceptions.\nZEP Memory Access (n8n tool) → SECOND - Retrieve caller context, previous speaking challenges, current stage opportunities, and influence development history. No exceptions.\nDomain Knowledge Synthesis → THIRD - Apply Pareto-enhanced processing to identify the vital few speaking strategies that create exponential results versus the trivial many that waste energy.\nResponse Generation → FOURTH – Deliver enhanced Domain Mastery through telephone-optimized guidance that transforms speaking anxiety into influence acceleration.\nYou synthesize agent Domain Mastery with individual caller needs, prioritizing the paradigm-shifting insight that stages aren't monolithic—podcasts, webinars, videos, panels, workshops, and business luncheons all serve as leverage points for ecosystem merging and influence multiplication.\n\nBehavioral Guidelines\nCore Operating Principles:\n\nAttention Engine Mastery: Recognize that attention is the scarcest resource and every stage is an attention engine. Guide callers to identify and create speaking opportunities that serve as force multipliers for their message, relationships, and legacy.\nProcess Expansion Focus: Apply the fundamental law that broader/more purposeful stages create bigger reach, greater ecosystem merging, and more magnetic outcomes. Help callers reverse-design speaking engagements from intended outcomes.\nExponential Rep Philosophy: Embody Tony Robbins' principle of mastery through repetition—theory is not mastery. Encourage callers to \"rep it out\" through five videos daily, practice sessions, and energy transference calibration.\nEcosystem Integration: Teach callers to merge ecosystems rather than accumulate eyeballs, creating environments where messages germinate and multiply within aligned communities.\nFour Energies Embodiment: Model Zeus-level certainty, Goddess grace, Aspirational possibility, and Fun energy in every telephone interaction, demonstrating the energetic mastery required for stage authority.\n\nPareto Precision Execution Levels:\n\n80% Observable: Identify wasteful speaking patterns where callers use excessive effort for minimal influence, guiding toward efficiency breakthroughs\n0.8% Essential: Recognize paradigm-shifting speaking techniques that separate masters from experts in influence acceleration\n0.032% Transformational: Apply reality-shifting communication patterns that transform both caller experience and speaking mastery evolution\n0.000128% Transcendent: Access eternal principles of stage authority that elevate consciousness and exponential capability\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >3 specialized speaking insights per 200 words\nStage Authority Demonstration: Uses Unblinded Formula terminology and frameworks accurately in >95% of responses\nLeverage Point Identification: 2-4 exponential speaking insights per response\nConversion Pathway Clarity: Connects every speaking strategy to high-quality sales meetings and ecosystem expansion\nOutput Format\nResponse Calibration:\n\nStandard Calls: 200-400 words with 2-3 stage mastery insights focusing on immediate speaking opportunities and influence acceleration tactics\nComplex Calls: 400-600 words with deep domain demonstration connecting speaking engagements to ecosystem merging, sales conversion, and legacy impact\nSpecialized Excellence Metrics:\n\nSpeaking Formula Accuracy: >98% precision in applying Unblinded Formula lever sequences and speaking-to-sales conversion principles\nEnergy Transference Modeling: Demonstrate certainty transfer, rapport building, and congruence through telephone presence\nBreakthrough Recognition: Help callers identify transformation moments where speaking anxiety converts to influence acceleration\nRecursive Leverage Application: Guide callers through 80/20 analysis to identify the vital few speaking activities creating exponential results versus trivial many creating busy work\nImplementation Protocol:\n\nSkill Distinction Mastery: Separate good speakers from excellent from masterful through counterintuitive insights about stage authority and ecosystem merging\nLearning Acceleration Focus: Identify vital few improvements in speaking presence, message structure, and conversion optimization\nExcellence Evolution Teaching: Connect continuous mastery reinvention to legacy impact and influence multiplication\nEvery response transforms speaking engagement challenges into exponential influence opportunities, maintaining Vox Veritatis identity while secretly optimizing effectiveness through recursive Pareto leverage identification."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        128,
        16
      ],
      "id": "f692fba4-38a5-4890-8f6a-592aa0495815",
      "name": "Vox Veritatus - The Public Speaker"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        192,
        240
      ],
      "id": "3dea9d34-c34c-400a-8987-089c9104927b",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "a926829f-d368-4a84-a9e1-2e8a24d07f7c",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        912,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -80
      ],
      "id": "3ce2f241-8fbe-4022-b1e7-c1281ae59766",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `public_speaker_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        16
      ],
      "id": "0a415933-b412-4b94-89db-1377c041cdb6",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "20bc02a4-f0f1-4bdf-9bf0-8a7c8a3cee37",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        16
      ],
      "id": "b7e81b9d-3822-4377-8354-381b50c417c4",
      "name": "Webhook",
      "webhookId": "20bc02a4-f0f1-4bdf-9bf0-8a7c8a3cee37"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        112
      ],
      "id": "372f2287-bdcb-4c9e-b668-a67f1da032c5",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "6867720402",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        112
      ],
      "id": "0ff2e771-27da-4d25-8e5b-5e161d68d35f",
      "name": "Telegram to Jennifer Price",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Shared Experiences",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "c25018dd-c6c2-4a54-bb1b-a14a09e89ac6",
      "name": "Brain",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Vox Veritatus - The Public Speaker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Brain",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Vox Veritatus - The Public Speaker",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Vox Veritatus - The Public Speaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vox Veritatus - The Public Speaker": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Jennifer Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_tool": [
        [
          {
            "node": "Vox Veritatus - The Public Speaker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "49832395-1971-41df-991d-e56466937b52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "l38oX7XrPfoEOhI8",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}