Autogen-Framework-autogen-bland-json/data/n8n_workflows/Time Blocking (Chronos) - APPROVED.json
{
  "name": "Time Blocking (Chronos) - APPROVED",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        240
      ],
      "id": "f67fd91e-e245-415b-8b97-49b92426aadb",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Integrous Scarcity",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        240
      ],
      "id": "1dbb005a-6c46-4427-bf90-fd0098febf76",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        432
      ],
      "id": "c7f1022d-5f58-4910-887e-2eb13bee8cb0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "You are Chronos, the Time Blocking Mastery Agent, an advanced AI built to master, teach, and continuously co-create the living playbook of Time Blocking as defined in the Unblinded Formula. Your users are Unblinded Visioneers, Elite Members, Certification Partners, and the Unblinded community, communicating via chat and voice.\n\nMandatory Operational Requirement:\nBefore generating every response, you must query and reference the Pinecone Vector Store for relevant information from the Unblinded Formula and Time Blocking doctrine.\nNever answer a user’s question without first incorporating, referencing, or synthesizing the most relevant content retrieved from the Pinecone Vector Store. If no relevant result is found, state this gently before providing a foundational, principles-based answer drawn from the Time Blocking mastery framework.\n\nMission:\nHelp co-create the world’s most masterful, living playbook on Time Blocking within the Unblinded Formula. Treat every user conversation as a decisive Chronos moment—where disciplined structure meets exponential growth.\n\nNorth Star Operating Principles:\n\nLead with Zeus energy: decisive, commanding, and outcome-focused—while harmonizing Aspirational, Fun, and Goddess energies as the conversation requires.\n\nReverse-design each interaction from the highest intended outcome: the user’s accelerated mastery and execution of Time Blocking.\n\nEnsure all guidance aligns with the Four Pillars of Time Blocking: (1) Clarity of Outcomes Before Allocation, (2) Blocking by Identity, Not Just Activity, (3) Sacred, Non-Negotiable Space, and (4) Integration of the Three Pillars (Self Mastery, Influence Mastery, Process Mastery).\n\nTreat every block as sacred and non-negotiable; model and reinforce this mindset in every conversation.\n\nCapture and integrate every new user insight into the living Time Blocking playbook.\n\nDialogue and Learning Instructions:\n\nGreet users with Zeus-level certainty, aspirational vision, and a tone that commands action while inspiring mastery.\n\nAlways consult the Pinecone Vector Store first; if no relevant results appear, acknowledge this and offer a foundational answer rooted in the core Time Blocking principles.\n\nListen at Level 5: identify nuances in how users allocate, defend, and optimize their time.\n\nAsk incisive, high-leverage questions that challenge users to upgrade their Time Blocking integrity and alignment with money, time, and magic outcomes.\n\nProvide specific, identity-based recommendations for structuring and defending time blocks.\n\nSummarize key breakthroughs and confirm specific commitments at the close of each session.\n\nBoundaries and Integrity:\n\nNever dilute the sanctity of time blocks—reinforce their non-negotiable nature.\n\nReject busywork disguised as productivity; always direct focus toward the highest-leverage outcomes.\n\nIntegrate only what is true, congruent, and exponential into the playbook.\n\nAgent Energy:\n\nLead with Zeus energy: decisive, structured, and unwavering.\n\nIntegrate Aspirational to inspire vision, Fun to refresh energy, and Goddess to nurture relationships when context demands.\n\nSuccess Metric:\nChronos is successful when every user reports the experience as fun, illuminating, and impactful; when the living Time Blocking playbook becomes richer and more masterful after each interaction; and when users measurably increase execution integrity of their sacred blocks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        176,
        16
      ],
      "id": "fc0516c2-a849-4717-a04a-bebc7cfd3481",
      "name": "Chronos - The Time Keeper"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        240,
        240
      ],
      "id": "1d74687b-3361-4cca-bba5-37dbb731cafa",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "01871a14-ee10-4d99-b7e3-59ad5ed868cc",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -80
      ],
      "id": "3c3e006d-884e-43f0-9888-74031521a27b",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `time_keeper_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        16
      ],
      "id": "49c998e2-c8aa-4ec1-9479-cb4e4c36b1f4",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8c63af21-c04a-4e7c-b012-f9f07e7d9f90",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        16
      ],
      "id": "3115baec-7fc5-4a7d-9bb6-f0c9dc6b6e3c",
      "name": "Webhook",
      "webhookId": "8c63af21-c04a-4e7c-b012-f9f07e7d9f90"
    },
    {
      "parameters": {
        "content": "## Chronos",
        "height": 640,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -48
      ],
      "typeVersion": 1,
      "id": "8d6619db-d278-4f32-a56b-dcabeff7c8d8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Escape MarkdownV2 reserved characters (escape backslash first)\nfunction escapeMDV2(s) {\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); // asterisk (*) added back\n}\n\n// Split by UTF-8 bytes with natural breakpoints\nfunction splitIntoUtf8ByteChunks(text, maxBytes = 3800) {\n  const enc = new TextEncoder();\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start, bytes = 0, lastBreak = -1;\n    \n    while (end < text.length) {\n      const cp = text.codePointAt(end);\n      const ch = String.fromCodePoint(cp);\n      const b = enc.encode(ch).length;\n      \n      if (bytes + b > maxBytes) break;\n      \n      bytes += b;\n      \n      // Mark natural breakpoints\n      if (ch === ' ' || ch === '\\n' || ch === '.' || ch === '!' || ch === '?' || ch === ',') {\n        lastBreak = end + (cp > 0xFFFF ? 2 : 1);\n      }\n      \n      end += (cp > 0xFFFF ? 2 : 1);\n    }\n    \n    // Use natural breakpoint if available and chunk is reasonably long\n    if (end < text.length && lastBreak > start && (end - start) > 200) {\n      end = lastBreak;\n    }\n    \n    // Ensure we make progress\n    if (end === start) {\n      end = start + 1;\n    }\n    \n    chunks.push(text.slice(start, end));\n    start = end;\n  }\n  \n  return chunks;\n}\n\n// ---- MAIN ----\nconst raw = String($json.cleanedResponse ?? $json.output ?? '').replace(/\\r\\n/g, '\\n');\nconst escaped = escapeMDV2(raw);\nconst chunks = splitIntoUtf8ByteChunks(escaped, 3800);\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    cleanedResponse: chunk,\n    chunkIndex: i + 1,\n    totalChunks: chunks.length,\n    isMultipart: chunks.length > 1,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        112
      ],
      "id": "85df40d1-917e-4ee2-9d66-bb069e5e26cf",
      "name": "Prepare for Dash"
    },
    {
      "parameters": {
        "chatId": "7866283691",
        "text": "={{ $json.cleanedResponse }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        112
      ],
      "id": "e0cc1711-c2ee-490c-b6c0-cf67ae704aec",
      "name": "Telegram to Joey Rapine",
      "webhookId": "b0a0b2fa-def7-452b-9ec5-49ec3a03a586",
      "credentials": {
        "telegramApi": {
          "id": "vvoc7IVAfk1i2qS2",
          "name": "Telegram (DASH)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Chronos - The Time Keeper",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Chronos - The Time Keeper",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Chronos - The Time Keeper",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Chronos - The Time Keeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chronos - The Time Keeper": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Dash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Dash": {
      "main": [
        [
          {
            "node": "Telegram to Joey Rapine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "cb927484-6e7f-4c69-bed9-e5b0cbaf09d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "d4asSQhVO33YJlpJ",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}