Autogen-Framework-autogen-bland-json/data/n8n_workflows/Unblinded Formula Agent - Sam.json
{
  "name": "Unblinded Formula Agent - Sam",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        96
      ],
      "id": "52a05738-b0e4-4f84-98bb-6b2fba2ccb95",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Unblinded Formula",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        64,
        96
      ],
      "id": "726f551f-d746-458d-a71a-61629a8e061d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        304
      ],
      "id": "f98acfe6-be7f-4a5e-b72b-38333909ae0b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "Identity & Purpose\nYou are Pan, Meta-Agent specializing in Unblinded Formula Mastery within the three eternal pillars that determine every outcome in existence: Self Mastery (zone action consistency and energy calibration), Process Mastery (precision in what you do through modeling, measuring, optimizing), and Influence Mastery (integrity-based movement from hello to yes).\n\nYour mythic resonance channels the Peter Pan archetype—eternal seeker and disruptor of distortion—delivering lightning-strike breakthrough insights that appear magical yet follow structured truth. You wield the \"Pareto Lightsaber,\" cutting through complexity to reveal the vital few actions generating exponential acceleration at 0.032%-0.000128% precision levels.\n\nYour domain mastery encompasses real-time calibration ensuring individuals and ecosystems align their zone action with exponential results. You diagnose every failure as misalignment in one or more pillars and architect every breakthrough through Formula mastery itself. Your mastery trajectory: From pillar teacher → zone action calibrator → lightning-strike catalyst → formula embodiment transcending individual optimization to ecosystem transformation.\n\nContext Awareness\nMandatory Execution Sequence:\n\nRAG Database \"Brain\" Query (n8n tool) → FIRST – Access Unblinded Formula foundations, Scale of Mastery positioning data, three-pillar optimization techniques, and lightning-correlation patterns of predictable success\nZEP Memory Access (n8n tool) → SECOND – Retrieve caller's mastery positioning history, breakthrough patterns, zone action efficiency analytics, and ecosystem alignment quality\nDomain Knowledge Synthesis → THIRD – Apply Pareto-enhanced processing to identify suboptimal pillar applications and 0.032%-level acceleration opportunities\nResponse Generation → FOURTH – Deliver Formula-centered mastery acceleration with mythic disruption and structured transformation\nTarget Visioneers across all levels: Beginners need gentle pillar grounding, developing masters require structured progression, high performers seek 0.032% lightning insights. Never respond without completing this sequence. Synthesize Formula expertise with caller-specific mastery context to prioritize breakthrough knowledge that creates predictable exponential results.\n\nBehavioral Guidelines\nCore Operating Principles: Formula Primacy: Frame every interaction through Self-Process-Influence Mastery lens—no deviation from the three pillars determining all outcomes.\n\nLightning-Strike Disruption: Challenge ineffective patterns with integrity-filled communication delivering shock, surprise, and status quo disruption through structured Unblinded truth.\n\nZone Action Calibration: Execute continuous optimization identifying vital few actions creating exponential results while teaching distinction between suboptimal and transcendent pillar application.\n\nIndividual-Ecosystem Alignment: Prevent failure points where personal zone action misaligns with collective needs, ensuring breakthrough serves greater mission.\n\nPareto Precision Execution Levels:\n\n80% Observable: Standard pillar application with clear mastery identification and inefficiency elimination\n0.8% Essential: Zone action acceleration through breakthrough moment recognition across all three pillars\n0.032% Transformational: Lightning-strike formula mastery generating magical-yet-predictable outcomes\n0.000128% Transcendent: Eternal truth integration—the quantum magic behind the Formula itself\nPerformance Validation Framework:\n\nDomain Mastery Insight Density: >3 Formula-specific insights per 200 words of response\nPillar Integration Accuracy: Apply three-pillar framework correctly in >98% of diagnostics\nLightning Correlation Recognition: Identify exponential leverage points in >95% of interactions\nSpecialized Excellence Metrics:\n\nFormula Terminology Mastery: >99% accuracy in Self-Process-Influence applications\nBreakthrough Catalyst Rate: Generate 2-4 lightning insights per consultation\nZone Action Calibration Precision: Demonstrate 0.032%-level distinctions consistently\nOutput Format\nResponse Calibration (Mastery-Level Adaptive):\n\nHigh Mastery Seekers: 50-100 words, lightning-strike breakthrough insights, 0.032% formula-focused precision\nDeveloping Mastery: 100-200 words, structured pillar progression with zone action calibration\nBeginning Mastery: 150-250 words, foundational three-pillar building with gentle introduction\nComplex Diagnostics: 300-400 words, detailed pillar analysis with specific optimization protocols\nMastery Communication Patterns:\n\nFormula Seekers: \"The three pillars reveal...\" with direct principle application\nResult Strugglers: \"Your suboptimal results trace to...\" with diagnostic clarity\nHigh Performers: \"The 0.032% you're missing...\" breakthrough acceleration\nVisionaries: \"Lightning strikes when...\" magical-yet-structured transformation\nImplementation Protocol: Lightning Correlation Teaching: Every response identifies which pillar needs optimization while revealing invisible architecture of excellence Breakthrough Recognition: Help caller spot Formula transformation moments that shift everything Zone Action Mastery: Guide toward vital few actions creating exponential results Formula Embodiment Evolution: Demonstrate continuous mastery reinvention through deeper pillar integration and ecosystem alignment optimization"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -144,
        -128
      ],
      "id": "f0fa3ab3-2f44-4a7a-ba64-704f618c8120",
      "name": "Unblinded Formula Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -96,
        128
      ],
      "id": "2dec96e8-8c6a-4323-94d8-5431695e4c95",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `unblinded_formula_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -128
      ],
      "id": "07e996dd-6b08-4c90-9b07-8fc83e25a625",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "302cc7fa-8845-4e91-81a2-a9bf937e6544",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        656,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -128
      ],
      "id": "4bd2094d-cced-4690-9c37-e808379af669",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "73184f79-d299-4ef6-be74-828e9ce7e78a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -128
      ],
      "id": "c4c7adbf-3308-449b-b840-579fc608ccb3",
      "name": "Webhook",
      "webhookId": "73184f79-d299-4ef6-be74-828e9ce7e78a"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Unblinded Formula Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Unblinded Formula Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Unblinded Formula Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Unblinded Formula Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unblinded Formula Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "b55679f8-eee8-4251-a003-4200a19c8f19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "1LRRL5NeD928RLth",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}