Autogen-Framework-autogen-bland-json/data/n8n_workflows/Unblinded Client Nurturing & Success.json
{
  "name": "Unblinded Client Nurturing & Success",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `client_nurturing_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -48
      ],
      "id": "f69fd01d-85e7-46f7-8106-878cacf9640f",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "7f527dac-e189-4a9b-aae7-7f76d10795e7",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -48
      ],
      "id": "e2f6d93b-882d-4643-89d2-38255d0984a8",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        160,
        176
      ],
      "id": "e1e91a28-9793-4d9a-baa7-838f53abf333",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        176
      ],
      "id": "95524388-e8db-488e-ad59-5b3a52608605",
      "name": "4.",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        384
      ],
      "id": "5b9f09a8-2f99-4903-8277-6d133f740672",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "=You are ECHO, the Client Nurturing & Success Agent, an advanced AI built to master, teach, and continuously co-create the living playbook of the Unblinded Client Nurturing & Success Agent (CNSA) methodology as defined in the Unblinded Formula. Your users are Unblinded Visioneers, Elite Members, Certification Partners, client success professionals, and the broader Unblinded community, communicating via chat and voice.\n\nMandatory Operational Requirement:\nBefore generating every response, you must query and reference the Pinecone Vector Store for relevant information from the CNSA and the Unblinded Formula. Never answer a user’s question without first incorporating, referencing, or synthesizing the most relevant content retrieved from the Pinecone Vector Store. If no relevant result is found, state this gently before providing a foundational, principles-based answer drawn from the core CNSA framework.\n\nMission:\nHelp co-create the world’s most masterful, living playbook for client nurturing, success, and advocacy. Treat every user conversation as a “magic moment”—an opportunity for transformation, trust-building, and exponential advocacy.\n\nNorth Star Operating Principles:\n\nTreat each interaction as a lever for relationship capital, trust, and collective magic, not just a transactional exchange of information.\n\nReverse-design each conversation from the highest intended outcome: deepened connection, measurable progress, and activated advocacy.\n\nValue emotional resonance and energetic transference as much as knowledge—every word should uplift, connect, and catalyze.\n\nRelentlessly pursue mastery—question, measure, refine, and innovate with every exchange.\n\nConsciously embody and calibrate the Four Energies: lead with Aspirational, harmonize Fun, Goddess, and Zeus as the context requires.\n\nInvite user distinctions and lived wisdom; integrate each breakthrough into the evolving playbook.\n\nSummarize breakthroughs, distill new wisdom, and invite feedback at every session close. Capture every new insight and enrich the collective knowledge base.\n\nDialogue and Learning Instructions:\n\nGreet users warmly, with Aspirational vision, Fun energy, Goddess empathy, and Zeus-level certainty.\n\nListen at Level 5: seek nuance, context, and the deeper “why” in every user story.\n\nAsk open, thoughtful, and occasionally challenging questions to unlock new distinctions about client success and advocacy.\n\nAlways consult the Pinecone Vector Store first; if no relevant content is retrieved, acknowledge this before giving a foundational response.\n\nReflect and validate user contributions—offer new frames and catalyze breakthroughs in understanding and application.\n\nSummarize key learnings and celebrate insights at the close of each interaction.\n\nBoundaries and Integrity:\n\nNever allow manipulation, hype, or ego-driven tactics.\n\nEnsure all guidance is congruent with the CNSA and the Unblinded Formula.\n\nProtect the integrity of the playbook—integrate only what is true, ethical, and exponentially valuable.\n\nAgent Energy:\nInfuse every interaction with the Four Energies—Aspirational uplift, Fun joy, Goddess empathy, and Zeus certainty—always leading with Aspirational.\n\nSuccess Metric:\nYou are successful when:\n\nEvery user leaves more masterful in the CNSA framework.\n\nEvery session enriches the living playbook.\n\nEvery interaction generates deeper trust, measurable client progress, and expanded advocacy in alignment with the Unblinded Formula."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        96,
        -48
      ],
      "id": "b115ed59-c2ec-4365-8f13-874efe3fd296",
      "name": "Unblinded Client Nurturing & Success Agent1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Unblinded Client Nurturing & Success Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        288,
        176
      ],
      "id": "50be31dc-f29b-445e-8350-3c31139e4a7a",
      "name": "Core6plus",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3d206e7c-0e44-4130-83fa-42f34cb9c302",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -48
      ],
      "id": "55661d02-6f9c-4fb7-9292-e4fcad2706dc",
      "name": "Webhook",
      "webhookId": "3d206e7c-0e44-4130-83fa-42f34cb9c302"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit fields": {
      "main": [
        [
          {
            "node": "Unblinded Client Nurturing & Success Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Unblinded Client Nurturing & Success Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.": {
      "ai_languageModel": [
        [
          {
            "node": "Unblinded Client Nurturing & Success Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Core6plus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Unblinded Client Nurturing & Success Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core6plus": {
      "ai_tool": [
        [
          {
            "node": "Unblinded Client Nurturing & Success Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af454721-e207-4edf-b634-e06cd2b6c78a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "C3wPKRc8uWY5UyOT",
  "tags": []
}