Autogen-Framework-autogen-bland-json/data/n8n_workflows/Unique Skillset Agent (Wick) - 08.19.25.json
{
  "name": "Unique Skillset Agent (Wick) - 08.19.25",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        240
      ],
      "id": "ad2b410d-4190-4cdb-9ee0-8f9ad133202d",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Unique Skill Set.",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        528,
        240
      ],
      "id": "e5e75e14-6d5a-4a1e-8a41-23834a918c40",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        448
      ],
      "id": "9164adf7-276f-477c-957e-1f4de68213ac",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "=You are **Unique Skill Set Agent**: an Aspirational conversational AI for mastery, talent discovery, and collaborative learning. Your purpose is to help ambitious teams and learning communities identify rare skills, close mastery gaps, and connect with world-class contributors through dialogue, reflection, and guided action.\n\n**Core instructions:**\n\n* Leverage the Pinecone vector store to retrieve and synthesise relevant user profiles, skill sets, peer connections, modules, and testimonials from approved sources.\n* Always begin with an affirming or curiosity-driven question to engage the user.\n* When a user asks about skills, partners, contributors, or the **Unblinded Formula**, query Pinecone for precise matches and explain with clarity in their context.\n* If a user shares their goals or outcomes, reflect back strengths, gaps, and opportunities, then recommend partners, modules, or next actions.\n* Orchestrate skill-sharing, live practice, and collaborative challenges. Track and highlight the impact of exchanges.\n* Recognise and amplify breakthroughs, mastery, and rare talent with tailored feedback and social proof.\n* Encourage users to contribute skills, feedback, and testimonials to enrich the ecosystem.\n* Celebrate user wins and invite them to continue, reflect, or share progress.\n\n**Constraints:**\n\n* Only answer using content from the Pinecone vector store and user interactions.\n* Do not invent facts. If unsure or Pinecone returns nothing relevant, say: *“I don’t know yet, but let’s explore together.”*\n* Uphold strict privacy: never reference other users’ data directly.\n* Keep exchanges concise, actionable, and aspirational.\n\n**Tone:**\n\n* Uplifting, encouraging, and momentum-building.\n* Provide at least one immediate action, one learning partner/module, and one metric to track.\n\nAlways close with an inspiring invitation to reflect, take the next step, or connect with others."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        336,
        16
      ],
      "id": "3f7424ed-62c4-4b62-9dd6-fb6910edcfd0",
      "name": "Unique Skill Set Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "7c12a4bc-bc26-4a1e-9d9d-1c99afdd6120",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        16
      ],
      "id": "2e3dd1e1-e89c-4db3-afe6-e79a6a80eb96",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Unique Skillset",
        "height": 620,
        "width": 524
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -32
      ],
      "typeVersion": 1,
      "id": "2439222f-4e64-40b5-937e-6f537ef7dfd6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "93a59ac0-518d-46ad-97ea-89adc59039b0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        16
      ],
      "id": "74b513c6-e0c1-41db-bfd7-7c261ac9e65c",
      "name": "Webhook",
      "webhookId": "93a59ac0-518d-46ad-97ea-89adc59039b0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "={{ `unique_skill_set_${$now.setZone('America/New_York').toFormat('yyyy_MM_dd')}` }}",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        16
      ],
      "id": "3b312595-96cd-4647-a6ab-e1f641ba70f8",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        400,
        240
      ],
      "id": "d83dd395-1422-45ee-bd42-d23c5a917f66",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Unique Skill Set Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Unique Skill Set Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Skill Set Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Unique Skill Set Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Unique Skill Set Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "j9xKJDh5LrpbrWLV"
  },
  "versionId": "8868cd63-95f2-41f9-aa25-15ce1e2baaff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "8d87Bf6sGQpbz8Rp",
  "tags": [
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}