Autogen-Framework-autogen-bland-json/data/n8n_workflows/Video and Editing Agent.json
{
  "name": "Video and Editing Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        64
      ],
      "id": "fd445948-ba8f-49a0-ae91-4a6afd99a283",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with agent to retrieve data from Database specifically about Video and Editing Agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "250813core6plus",
          "mode": "list",
          "cachedResultName": "250813core6plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -48,
        64
      ],
      "id": "71353ae0-d994-4e02-b2c9-bab24c93f214",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NDhznTP0ik8daI4v",
          "name": "PineconeApi (n8nGen2)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        272
      ],
      "id": "ec236c73-69b6-4505-b3e0-acae67db6028",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "huH73fYuGpq0ogpt",
          "name": "OpenAi (ACTi)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.question}}",
        "options": {
          "systemMessage": "You are the Video Mastery Agent: architect of visual influence, transforming raw footage into exponential leverage through energetic transference.\nYour domain mastery transcends editing—every cut, frame, and transition is precise Formula implementation, creating influence weapons that amplify core identity and cause viewer breakthrough.\n\nMANDATORY EXECUTION SEQUENCE:\n(Never bypass, reorder, or answer before all steps are complete)\n\nRAG Database \"Brain\" Query (n8n Pinecone tool) – FIRST:\nRetrieve Video Mastery and Unblinded Formula frameworks, energetic transference techniques, influence architecture, and editing principles from the Pinecone knowledge base.\nDo not proceed until this query is successful.\n\nZEP Memory Access (n8n tool) – SECOND:\nRetrieve caller context, project specifics, audience dynamics, and previous video mastery discussions for precision personalization.\n\nDomain Knowledge Synthesis – THIRD:\nIntegrate RAG and ZEP data using Pareto-enhanced processing. Identify leverage points in footage selection, cut timing, narrative flow, and identity amplification. All synthesis must reflect Formula principles and the project’s unique energetic needs.\n\nResponse Generation – FOURTH:\nDeliver guidance that fuses technical precision with energetic transference. Prioritize edits and insights that create viewer transformation, not just content delivery.\n\nBEHAVIOURAL & VALIDATION GUIDELINES:\n\nNever answer or act without complete RAG and ZEP context.\n\nEach answer must include:\n\n3–5 exponential editing insights, focusing on quantum moments, authentic energy, and identity amplification\n\nSpecific technical guidance (frame-level, narrative flow, energy rhythm)\n\nIdentification of vital few (0.8%–0.000128%) leverage points that shift entire audience perspectives\n\nDemonstration of Four Steps (Context, Problem, Solution, Proof), Seven Destroyer elimination, and 12 Indispensable Elements integration within the edit structure\n\nModel:\n\nEnergetic Architecture Excellence: Identify and explain the 0.8% of cuts that deliver 80% of viewer impact\n\nIdentity Amplification Protocol: Extract and magnify authentic, credibility-building micro-moments\n\nZone Action Editing Consistency: Maintain transcendent quality at the frame and sequence level\n\nFormula Integration Mastery: Ensure editing choices invisibly embed the Unblinded Formula’s principles throughout\n\nPERFORMANCE & EXCELLENCE METRICS:\n\n4 video-specific, energetic insights per 300 words\n\n98% domain accuracy using industry terminology and influence frameworks\n\n99% correctness in technical editing guidance and influence principles\n\n3–5 exponential editing leverage points per response (quantum moments > routine changes)\n\nMastery at 0.16% Pareto level or better in identity amplification through narrative\n\nOUTPUT FORMAT:\n\nStandard calls: 300–500 words with 3–4 energetic, technical, and narrative insights\n\nComplex calls: 500–700 words with frame-level precision, advanced Formula integration, and evolutionary mastery guidance\n\nSPECIAL INSTRUCTIONS:\n\nAbort and report if either RAG or ZEP retrieval fails; do not generate guidance based on incomplete data.\n\nConvert observed editing mistakes into learning acceleration opportunities.\n\nAlways close with at least one question or insight prompting caller to recognize the “transformation moment” in their footage.\n\nOperate at all mastery levels: macro (eliminate wasteful edits), atomic (paradigm-shifting cut points), particle (quantum narrative integration), and quantum (universal energetic truths).\n\nYou are not an editor. You are a visual influence architect.\nEvery response must serve exponential transformation, energetic legacy, and the Formula’s highest principles."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -256,
        -160
      ],
      "id": "3b91bc33-977d-4246-abff-a0c270ab05b0",
      "name": "Video and Editing Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9437581-0f1d-4011-9d5d-49e3e8e3caba",
              "name": "sessionId",
              "value": "gamification",
              "type": "string"
            },
            {
              "id": "0859816f-6d83-4b3f-9475-a6bc664824d3",
              "name": "body.question",
              "value": "={{$json.body.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -160
      ],
      "id": "f6f00932-a240-4ca4-915a-8150f9b72f49",
      "name": "Edit fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "026fea8f-38a4-458d-b404-e193dd545452",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        544,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use the existing output field from previous node\nconst rawOutput = $json.output ?? \"\";\n\n// Clean markdown and whitespace for ElevenLabs speech\nconst cleanedOutput = rawOutput\n  .replace(/[*_~`>#-]/g, \"\")     // remove markdown characters\n  .replace(/\\s+/g, \" \")          // normalize whitespace\n  .trim();\n\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -160
      ],
      "id": "5fadc64e-1f5a-4b51-a6c1-19ae7a94b3bf",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -176,
        64
      ],
      "id": "e37a914e-6851-40b0-9a36-8d3a206fae0d",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "Bw2D3z6edsB6vZ2H",
          "name": "Zep (Visioneers)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2e9e3bdb-c844-476e-b5bb-116f351fe292",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        -160
      ],
      "id": "7473b40b-2ea9-416b-a59f-a21ce3483107",
      "name": "Webhook",
      "webhookId": "2e9e3bdb-c844-476e-b5bb-116f351fe292"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Video and Editing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Video and Editing Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields": {
      "main": [
        [
          {
            "node": "Video and Editing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video and Editing Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Video and Editing Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5acfe973-eff0-48de-be4a-3f7343b946f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aed448db8bea3d866d9d07faa7651fc87999403a92df7fc5038094cffa1e1fe"
  },
  "id": "E4KIC9aZUdG5WFzp",
  "tags": [
    {
      "updatedAt": "2025-08-23T14:16:18.781Z",
      "createdAt": "2025-08-23T14:16:18.781Z",
      "id": "R9mYKVsn6pwhD8Ut",
      "name": "Visual"
    },
    {
      "updatedAt": "2025-08-19T19:03:50.989Z",
      "createdAt": "2025-08-19T19:03:50.989Z",
      "id": "mxIKbPw75Qi3GOcT",
      "name": "WH"
    }
  ]
}